{
  "openapi": "3.0.0",
  "info": {
    "title": "Create payment links",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://accounts.payu.in"
    },
    {
      "url": "https://partner.payu.in"
    },
    {
      "url": "http://{{payu_base_url}}"
    }
  ],
  "paths": {
    "/oauth/token": {
      "post": {
        "tags": [
          "default"
        ],
        "summary": "Token for otp",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_id": {
                    "type": "string",
                    "description": "uat",
                    "example": "56b16b8f4d16f61929d6596d3c9cfb3e9bfc526c9c906b09c916cc9ea591b66d"
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "uat",
                    "example": "f5e0115d5b9f715ce0e8c4ef99d438aa4e7f0203f6e1d5e9be9e36f80a07716b"
                  },
                  "grant_type": {
                    "type": "string",
                    "example": "client_credentials"
                  },
                  "scope": {
                    "type": "string",
                    "example": "send_sign_in_otp verify_sign_in_otp"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/x-www-form-urlencoded"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/partners/api/v1/otps/send_otp": {
      "post": {
        "tags": [
          "default"
        ],
        "summary": "Send otp",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "otp[identity]": {
                    "type": "integer",
                    "example": "9916965982"
                  },
                  "otp[scope]": {
                    "type": "string",
                    "example": "create_payment_links"
                  },
                  "otp[channels][]": {
                    "type": "string",
                    "example": "sms"
                  },
                  "otp[type]": {
                    "type": "string",
                    "example": "SignIn"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer c89117a20b8a0d6af2304ef66ae56bc50e6da393d570c79af6baa0f56d88a67c"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/partners/api/v1/otps/verify_otp": {
      "post": {
        "tags": [
          "default"
        ],
        "summary": "Verify Otp",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "otp[identity]": {
                    "type": "integer",
                    "example": "9916965982"
                  },
                  "otp[email]": {
                    "type": "string",
                    "example": "spoorthi.naik@payu.in"
                  },
                  "otp[code]": {
                    "type": "integer",
                    "example": "4674"
                  },
                  "otp[type]": {
                    "type": "string",
                    "example": "SignIn"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer c89117a20b8a0d6af2304ef66ae56bc50e6da393d570c79af6baa0f56d88a67c"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/partners/payment-links": {
      "post": {
        "tags": [
          "default"
        ],
        "summary": "Create payment link",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "isAmountFilledByCustomer": false,
                  "subAmount": 100,
                  "description": "test",
                  "currency": "INR",
                  "source": "API",
                  "address": {
                    "line1": "test",
                    "line2": "sample",
                    "city": "gurgaon",
                    "state": "UP",
                    "country": "India",
                    "zipCode": "122220"
                  },
                  "customer": {
                    "name": "test",
                    "phone": "999999999",
                    "email": "test@payu.in"
                  },
                  "udf": {
                    "udf1": "sampleUdf1",
                    "udf2": "sampleUdf2",
                    "udf3": "sampleUdf3"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer 323074a686571438f4db60fb70091f818f97aaae77c6e417d8d55eefcf1a555d",
            "description": "The bearer token must be generated using the Get Token API.",
            "required": true
          },
          {
            "name": "merchantId",
            "in": "header",
            "schema": {
              "type": "integer"
            },
            "example": "12231777",
            "required": true,
            "description": "The merchant ID provided by PayU during onboarding."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 10 Jun 2024 14:40:23 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": "948"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"4a93c92765c9568e5b045894bdb321d3\""
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "max-age=0, private, must-revalidate"
                }
              },
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "example": "73ad377a-7fa8-471f-a345-445a80dc86f1"
                }
              },
              "X-Runtime": {
                "schema": {
                  "type": "number",
                  "example": "0.347294"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "example": "max-age=63072000; includeSubdomains;"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "status": 0,
                  "message": "PaymentLink generated",
                  "result": {
                    "subAmount": 100,
                    "tax": 0,
                    "shippingCharge": 0,
                    "totalAmount": 100,
                    "invoiceNumber": "INV2172772182406",
                    "paymentLink": "https://pmny.in/6ra5TQq6SSUo",
                    "description": "test",
                    "active": true,
                    "isPartialPaymentAllowed": false,
                    "expiryDate": "2025-06-10 20:10:22",
                    "udf": {
                      "udf1": "sampleUdf1",
                      "udf2": "sampleUdf2",
                      "udf3": "sampleUdf3",
                      "udf4": null,
                      "udf5": null
                    },
                    "address": {
                      "line1": "test",
                      "line2": "sample",
                      "city": "gurgaon",
                      "state": "UP",
                      "country": "India",
                      "zipCode": "122220"
                    },
                    "emailStatus": "not opted",
                    "smsStatus": "not opted",
                    "currency": "INR",
                    "addedOn": "2024-06-10 20:10:23",
                    "status": "active",
                    "maxPaymentsAllowed": 1,
                    "customerName": "test",
                    "customerPhone": "999999999",
                    "customerEmail": "test@payu.in",
                    "notes": null,
                    "amountCollected": 0,
                    "dueAmount": 100,
                    "minAmountForCustomer": 1,
                    "adjustment": 0,
                    "discount": 0,
                    "customParams": null,
                    "transactionId": null
                  },
                  "errorCode": null,
                  "guid": "05a5534a-91af-42b5-93d8-6f7c4f361f88"
                }
              }
            }
          }
        }
      }
    },
    "/partners/payment-links/INV2172772182406": {
      "get": {
        "tags": [
          "default"
        ],
        "summary": "Read payment link",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer 323074a686571438f4db60fb70091f818f97aaae77c6e417d8d55eefcf1a555d"
          },
          {
            "name": "merchantId",
            "in": "header",
            "schema": {
              "type": "integer"
            },
            "example": "12231777"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 10 Jun 2024 14:52:26 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"e5f90a10c56cfcfad4221360af17c8c6\""
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "max-age=0, private, must-revalidate"
                }
              },
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "example": "7cafdeb7-1bc4-4a01-b4ce-d5d96dd8d936"
                }
              },
              "X-Runtime": {
                "schema": {
                  "type": "number",
                  "example": "0.265267"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "example": "max-age=63072000; includeSubdomains;"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "status": 0,
                  "message": null,
                  "result": {
                    "summary": {
                      "amountRequested": 110,
                      "totalRevenue": 0,
                      "totalViews": 3
                    },
                    "subAmount": 110,
                    "tax": 0,
                    "shippingCharge": 0,
                    "totalAmount": 110,
                    "dueAmount": 110,
                    "totalAmountCollected": 0,
                    "invoiceNumber": "INV2172772182406",
                    "paymentLink": "https://pmny.in/6ra5TQq6SSUo",
                    "description": "test",
                    "active": true,
                    "isPartialPaymentAllowed": false,
                    "status": "active",
                    "expiryDate": "2025-06-10T20:10:22.000+05:30",
                    "udf": {
                      "udf1": "sampleUdf1",
                      "udf2": "sampleUdf2",
                      "udf3": "sampleUdf3",
                      "udf4": null,
                      "udf5": null
                    },
                    "address": {
                      "line1": "test",
                      "line2": "sample",
                      "city": "gurgaon",
                      "state": "UP",
                      "country": "India",
                      "zipCode": "122220"
                    },
                    "addedOn": "2024-06-10T20:10:23.000+05:30",
                    "isAmountFilledByCustomer": false,
                    "reminder": null,
                    "customAttributes": [],
                    "aggregatorSplitInfo": null,
                    "merchantId": 12231777,
                    "currency": "INR",
                    "maxPaymentsAllowed": 1,
                    "customerName": "test",
                    "customerPhone": "999999999",
                    "customerEmail": "test@payu.in",
                    "minAmountForCustomer": 1,
                    "adjustment": 0,
                    "discount": 0,
                    "customParams": null,
                    "emailStatus": "not opted",
                    "smsStatus": "not opted",
                    "successUrl": null,
                    "failureUrl": null,
                    "notes": null,
                    "transactionId": null,
                    "paymentDetails": null
                  },
                  "errorCode": null,
                  "guid": "2837a0bf-bc02-4f8f-bafe-baebe110d5ec"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "default"
        ],
        "summary": "Put payment links",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "active": true,
                  "subAmount": 110
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer 323074a686571438f4db60fb70091f818f97aaae77c6e417d8d55eefcf1a555d"
          },
          {
            "name": "merchantId",
            "in": "header",
            "schema": {
              "type": "integer"
            },
            "example": "12231777"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 10 Jun 2024 14:47:09 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": "946"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"ac5eb35f4b8a7787a003fbf5cc9a7f93\""
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "max-age=0, private, must-revalidate"
                }
              },
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "example": "5c47a6b2-6df8-4470-9a11-8e75adf8945f"
                }
              },
              "X-Runtime": {
                "schema": {
                  "type": "number",
                  "example": "0.202567"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "example": "max-age=63072000; includeSubdomains;"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "status": 0,
                  "message": "PaymentLink updated",
                  "result": {
                    "subAmount": 110,
                    "tax": 0,
                    "shippingCharge": 0,
                    "totalAmount": 110,
                    "invoiceNumber": "INV2172772182406",
                    "paymentLink": "https://pmny.in/6ra5TQq6SSUo",
                    "description": "test",
                    "active": true,
                    "isPartialPaymentAllowed": false,
                    "expiryDate": "2025-06-10 20:10:22",
                    "udf": {
                      "udf1": "sampleUdf1",
                      "udf2": "sampleUdf2",
                      "udf3": "sampleUdf3",
                      "udf4": null,
                      "udf5": null
                    },
                    "address": {
                      "line1": "test",
                      "line2": "sample",
                      "city": "gurgaon",
                      "state": "UP",
                      "country": "India",
                      "zipCode": "122220"
                    },
                    "emailStatus": "not opted",
                    "smsStatus": "not opted",
                    "currency": "INR",
                    "addedOn": "2024-06-10 20:10:23",
                    "status": "active",
                    "maxPaymentsAllowed": 1,
                    "customerName": "test",
                    "customerPhone": "999999999",
                    "customerEmail": "test@payu.in",
                    "notes": null,
                    "amountCollected": 0,
                    "dueAmount": 110,
                    "minAmountForCustomer": 1,
                    "adjustment": 0,
                    "discount": 0,
                    "customParams": null,
                    "transactionId": null
                  },
                  "errorCode": null,
                  "guid": "23797ae1-8bbd-4966-b13a-50866fc31aab"
                }
              }
            }
          }
        }
      }
    }
  }
}