{
  "openapi": "3.0.0",
  "info": {
    "title": "PayU Payment Links API",
    "version": "1.0.0",
    "description": "API for creating and managing payment links"
  },
  "servers": [
    {
      "url": "https://uatoneapi.payu.in",
      "description": "PayU UAT API server"
    }
  ],
  "paths": {
    "/partners/payment-links": {
      "post": {
        "summary": "Create Payment Link - Partner Integration",
        "description": "Create a new payment link with specified parameters",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "merchantId",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Merchant ID",
            "example": "12231777"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentLinkRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment link created successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "CreatePaymentLinkRequest": {
        "type": "object",
        "required": [
          "isPartialPaymentAllowed",
          "subAmount",
          "description",
          "invoiceNumber",
          "expiryDate",
          "tax",
          "source",
          "customer"
        ],
        "properties": {
          "isPartialPaymentAllowed": {
            "type": "boolean",
            "description": "This parameter contains any of the following: true-The part payment is enabled false-The part payment is not enabled"
          },
          "maxPaymentsAllowed": {
            "type": "integer",
            "description": "This parameter is used to specify the number of payments that can be accepted on a link."
          },
          "isAmountFilledByCustomer": {
            "type": "boolean",
            "description": "This parameter is set to true if the amount has to be entered by your customer in the payment link page."
          },
          "minAmountForCustomer": {
            "type": "integer",
            "description": "This parameter contains the minimum amount a customer needs to pay in case of partial payment."
          },
          "subAmount": {
            "type": "integer",
            "description": "This parameter must contain the payment amount."
          },
          "description": {
            "type": "string",
            "description": "This parameter must contain the description or purpose of creating the payment link."
          },
          "invoiceNumber": {
            "type": "string",
            "description": "This parameter contains the unique string which is used for identifying a payment link. This must be alphanumeric."
          },
          "expiryDate": {
            "type": "string",
            "description": "This parameter contains the expiry date of the payment link. This must be in yyyy-MM-dd HH:mm:ss format (will be 365 days in all other cases)."
          },
          "tax": {
            "type": "string",
            "description": "This parameter contains the tax amount for the payment transaction. This value must be greater than zero."
          },
          "source": {
            "type": "string",
            "description": "This parameter contains the source of payment generation."
          },
          "currency": {
            "type": "string",
            "description": "This parameter contains the currency used for collecting the amount."
          },
          "customer": {
            "$ref": "#/components/schemas/Customer"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "udf1": {
            "type": "string",
            "description": "User-defined fields (udf) are used to store any information corresponding to a particular transaction. You can use up to five udfs in the post designated as udf1, udf2, udf3, udf4, udf5."
          },
          "udf2": {
            "type": "string",
            "description": "User-defined fields (udf) are used to store any information corresponding to a particular transaction. You can use up to five udfs in the post designated as udf1, udf2, udf3, udf4, udf5."
          },
          "udf3": {
            "type": "string",
            "description": "User-defined fields (udf) are used to store any information corresponding to a particular transaction. You can use up to five udfs in the post designated as udf1, udf2, udf3, udf4, udf5."
          },
          "udf4": {
            "type": "string",
            "description": "User-defined fields (udf) are used to store any information corresponding to a particular transaction. You can use up to five udfs in the post designated as udf1, udf2, udf3, udf4, udf5."
          },
          "udf5": {
            "type": "string",
            "description": "User-defined fields (udf) are used to store any information corresponding to a particular transaction. You can use up to five udfs in the post designated as udf1, udf2, udf3, udf4, udf5."
          },
          "viaEmail": {
            "type": "integer",
            "description": "This parameter is set to 1 to send the payment link via the email upon generation. Else, set to 0 (zero) so that email is not sent.",
            "enum": [
              0,
              1
            ]
          },
          "viaSms": {
            "type": "integer",
            "description": "This parameter is set to 1 to send the payment link via the SMS upon generation. Else, set to 0 (zero) so that SMS is not sent.",
            "enum": [
              0,
              1
            ]
          },
          "shippingCharge": {
            "type": "string",
            "description": "This parameter must contain the shipping charges"
          }
        }
      },
      "Customer": {
        "type": "object",
        "required": [
          "name",
          "phone",
          "email"
        ],
        "description": "Customer object containing customer information",
        "properties": {
          "name": {
            "type": "string",
            "description": "Customer name"
          },
          "phone": {
            "type": "string",
            "description": "Customer phone number"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Customer email address"
          }
        }
      },
      "Address": {
        "type": "object",
        "required": [
          "line1",
          "city",
          "state",
          "country",
          "zipCode"
        ],
        "description": "This parameter contains the customer address to which the goods are delivered.",
        "properties": {
          "line1": {
            "type": "string",
            "description": "Address line 1"
          },
          "line2": {
            "type": "string",
            "description": "Address line 2"
          },
          "city": {
            "type": "string",
            "description": "City"
          },
          "state": {
            "type": "string",
            "description": "State"
          },
          "country": {
            "type": "string",
            "description": "Country"
          },
          "zipCode": {
            "type": "string",
            "description": "ZIP/Postal code"
          }
        }
      }
    }
  }
}