{
  "openapi": "3.1.0",
  "info": {
    "title": "PayU UPI Collect Payment API",
    "description": "PayU Merchant Hosted Checkout - UPI Collect Payment Integration\n\nThis API enables UPI Collect-based payments where customers pay using their UPI ID (VPA). The customer receives a collect request on their UPI app and approves the payment.\n\n**Key Features:**\n- Collect payment from customer's UPI ID\n- Secure hash-based authentication\n- Real-time payment status\n\n**Hash Calculation:**\n```\nSHA512(key|txnid|amount|productinfo|firstname|email|||||||||||salt)\n```\n\n**Documentation:** https://docs.payu.in/docs/custom-checkout-merchant-hosted",
    "version": "1.0.0",
    "contact": {
      "name": "PayU Support",
      "url": "https://docs.payu.in"
    }
  },
  "servers": [
    {
      "url": "https://secure.payu.in",
      "description": "Production Server"
    },
    {
      "url": "https://test.payu.in",
      "description": "Sandbox Server"
    }
  ],
  "paths": {
    "/_payment": {
      "post": {
        "summary": "Initiate UPI Collect Payment",
        "description": "Initiates a UPI Collect payment transaction. A collect request is sent to the customer's VPA (UPI ID) for payment approval.\n\n**Important:** Set `bankcode=UPI` and provide customer's `vpa` for UPI Collect flow.",
        "operationId": "createUpiCollectPayment",
        "tags": [
          "UPI Collect Payment"
        ],
        "requestBody": {
          "required": true,
          "description": "Payment request payload for UPI Collect flow",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "key",
                  "txnid",
                  "amount",
                  "productinfo",
                  "firstname",
                  "email",
                  "phone",
                  "surl",
                  "furl",
                  "hash",
                  "pg",
                  "bankcode",
                  "vpa"
                ],
                "properties": {
                  "key": {
                    "type": "string",
                    "description": "Your PayU Merchant Key",
                    "example": "JP***g"
                  },
                  "txnid": {
                    "type": "string",
                    "description": "Unique transaction ID - must be unique for each transaction",
                    "example": "TXN1234567890"
                  },
                  "amount": {
                    "type": "string",
                    "description": "Transaction amount in INR",
                    "example": "10"
                  },
                  "productinfo": {
                    "type": "string",
                    "description": "Product or service description",
                    "example": "iPhone"
                  },
                  "firstname": {
                    "type": "string",
                    "description": "Customer's first name",
                    "example": "PayU User"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Customer's email address",
                    "example": "test@gmail.com"
                  },
                  "phone": {
                    "type": "string",
                    "description": "Customer's 10-digit mobile number",
                    "example": "9876543210"
                  },
                  "surl": {
                    "type": "string",
                    "format": "uri",
                    "description": "Success URL - redirect after successful payment",
                    "example": "https://yoursite.com/success"
                  },
                  "furl": {
                    "type": "string",
                    "format": "uri",
                    "description": "Failure URL - redirect after failed payment",
                    "example": "https://yoursite.com/failure"
                  },
                  "hash": {
                    "type": "string",
                    "description": "SHA512 hash: sha512(key|txnid|amount|productinfo|firstname|email|||||||||||salt)",
                    "example": "649bc87e0e8ee7bbd1e930d43c99a9165eb9fa7a3f4542a33e8d66bd207a63d6..."
                  },
                  "pg": {
                    "type": "string",
                    "description": "Payment gateway type - use 'UPI' for UPI payments",
                    "example": "UPI"
                  },
                  "bankcode": {
                    "type": "string",
                    "description": "Bank/payment code - use 'UPI' for UPI Collect flow",
                    "example": "UPI"
                  },
                  "vpa": {
                    "type": "string",
                    "description": "Virtual Payment Address (UPI ID) of the customer",
                    "example": "customer@upi"
                  }
                }
              },
              "example": {
                "key": "JP***g",
                "txnid": "TXN1234567890",
                "amount": "10",
                "productinfo": "iPhone",
                "firstname": "PayU User",
                "email": "test@gmail.com",
                "phone": "9876543210",
                "surl": "https://yoursite.com/success",
                "furl": "https://yoursite.com/failure",
                "hash": "649bc87e0e8ee7bbd1e930d43c99a9165eb9fa7a3f4542a33e8d66bd207a63d6...",
                "pg": "UPI",
                "bankcode": "UPI",
                "vpa": "customer@upi"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment request successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Payment status",
                      "example": "success"
                    },
                    "txnid": {
                      "type": "string",
                      "description": "Transaction ID",
                      "example": "TXN1234567890"
                    },
                    "mihpayid": {
                      "type": "string",
                      "description": "PayU payment ID",
                      "example": "403993715527806055"
                    },
                    "mode": {
                      "type": "string",
                      "description": "Payment mode",
                      "example": "UPI"
                    },
                    "amount": {
                      "type": "string",
                      "description": "Transaction amount",
                      "example": "10.00"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "failed"
                    },
                    "error": {
                      "type": "string",
                      "example": "Invalid hash"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "UpiCollectPaymentRequest": {
        "type": "object",
        "required": [
          "key",
          "txnid",
          "amount",
          "productinfo",
          "firstname",
          "email",
          "phone",
          "surl",
          "furl",
          "hash",
          "pg",
          "bankcode",
          "vpa"
        ],
        "properties": {
          "key": {
            "type": "string",
            "description": "Your PayU Merchant Key",
            "example": "JP***g"
          },
          "txnid": {
            "type": "string",
            "description": "Unique transaction ID - must be unique for each transaction",
            "example": "TXN1234567890"
          },
          "amount": {
            "type": "string",
            "description": "Transaction amount in INR",
            "example": "10"
          },
          "productinfo": {
            "type": "string",
            "description": "Product or service description",
            "example": "iPhone"
          },
          "firstname": {
            "type": "string",
            "description": "Customer's first name",
            "example": "PayU User"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Customer's email address",
            "example": "test@gmail.com"
          },
          "phone": {
            "type": "string",
            "description": "Customer's 10-digit mobile number",
            "example": "9876543210"
          },
          "surl": {
            "type": "string",
            "format": "uri",
            "description": "Success URL - redirect after successful payment",
            "example": "https://yoursite.com/success"
          },
          "furl": {
            "type": "string",
            "format": "uri",
            "description": "Failure URL - redirect after failed payment",
            "example": "https://yoursite.com/failure"
          },
          "hash": {
            "type": "string",
            "description": "SHA512 hash: sha512(key|txnid|amount|productinfo|firstname|email|||||||||||salt)",
            "example": "649bc87e0e8ee7bbd1e930d43c99a9165eb9fa7a3f4542a33e8d66bd207a63d6..."
          },
          "pg": {
            "type": "string",
            "description": "Payment gateway type - use 'UPI' for UPI payments",
            "example": "UPI"
          },
          "bankcode": {
            "type": "string",
            "description": "Bank/payment code - use 'UPI' for UPI Collect flow",
            "example": "UPI"
          },
          "vpa": {
            "type": "string",
            "description": "Virtual Payment Address (UPI ID) of the customer",
            "example": "customer@upi"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "UPI Collect Payment",
      "description": "UPI Collect payment endpoints (bankcode=UPI)"
    }
  ]
}