{"openapi":"3.1.0","info":{"title":"New Payouts API Collection","contact":{},"version":"1.0"},"jsonSchemaDialect":"https://json-schema.org/draft/2020-12/schema","servers":[{"url":"https://uatoneapi.payu.in/payout","variables":{}}],"paths":{"/v2/smartSend/bulkUpload/transfers/267":{"put":{"tags":["Misc"],"summary":"BulkProcessFileAPI","description":"","operationId":"BulkProcessFileAPI","parameters":[{"name":"pid","in":"header","description":"Specify the payout merchant id provided while onboarding or creating Payout account.","required":true,"style":"simple","schema":{"type":"integer","contentEncoding":"int32","examples":[2223434]}},{"name":"Content-Type","in":"header","description":"Indicates the format in which the request is sent.","required":true,"style":"simple","schema":{"allOf":[{"$ref":"#/components/schemas/Content-Type"},{"description":"Indicates the format in which the request is sent."}]}}],"responses":{"200":{"description":"","headers":{},"content":{}}},"deprecated":false},"parameters":[]},"/v2/bulkUpload/transfers/60841":{"get":{"tags":["Misc"],"summary":"BulkUploadStatusAPI","description":"","operationId":"BulkUploadStatusAPI","parameters":[{"name":"pid","in":"header","description":"Specify the payout merchant id provided while onboarding or creating Payout account.","required":true,"style":"simple","schema":{"type":"integer","contentEncoding":"int32","examples":[2223434]}},{"name":"Content-Type","in":"header","description":"Indicates the format in which the request is sent.","required":true,"style":"simple","schema":{"allOf":[{"$ref":"#/components/schemas/Content-Type"},{"description":"Indicates the format in which the request is sent."}]}}],"responses":{"200":{"description":"","headers":{},"content":{}}},"deprecated":false},"parameters":[]},"/v2/smartSend/link":{"post":{"tags":["Misc"],"summary":"CreateSmartSendLinkAPI","description":"","operationId":"CreateSmartSendLinkAPI","parameters":[{"name":"pid","in":"header","description":"Specify the payout merchant id provided while onboarding or creating Payout account.","required":true,"style":"simple","schema":{"type":"integer","contentEncoding":"int32","examples":[2223432]}}],"requestBody":{"description":"","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/CreateSmartSendLinkAPIRequest"},{"examples":[{"amount":"6","merchantRefId":"amnmn34","custName":"Thakwani sahab","description":"Payout_","expiryDate":"","custMobile":"9888883254","custEmail":""}]}],"contentMediaType":"application/json"},"example":{"amount":"6","merchantRefId":"amnmn34","custName":"Thakwani sahab","description":"Payout_","expiryDate":"","custMobile":"9888883254","custEmail":""}}},"required":true},"deprecated":false},"parameters":[]},"/v2/smartSend/status":{"get":{"tags":["Misc"],"summary":"SmartSendStatusAPI","description":"","operationId":"SmartSendStatusAPI","parameters":[{"name":"merchantRefId","in":"query","description":"Indicates a unique reference ID at the merchant side to distinguish between multiple transfers.","required":true,"style":"form","explode":true,"schema":{"type":"string","examples":["P222343416343842390556065T6HN"]}},{"name":"pid","in":"query","description":"The Payout merchant id provided while onboarding or creating Payout account.","required":true,"style":"form","explode":true,"schema":{"type":"integer","contentEncoding":"int32","examples":[2223434]}},{"name":"linkId","in":"query","description":"indicates the unique ID of the smart send link whose status is to be fetched. Note: You must either pass the linkId or pid and the merchantrefId in the request parameter of this API. See Sample Requests","required":true,"style":"form","explode":true,"schema":{"type":"string","examples":["linkidval"]}}],"responses":{"200":{"description":"","headers":{},"content":{}}},"deprecated":false},"parameters":[]},"/v2/smartSend/bulkUpload/transfers":{"post":{"tags":["Misc"],"summary":"BulkFileUploadAPI","description":"","operationId":"BulkFileUploadAPI","parameters":[{"name":"pid","in":"header","description":"Specify the payout merchant id provided while onboarding or creating Payout account.","required":true,"style":"simple","schema":{"type":"integer","contentEncoding":"int32","examples":[1121861]}},{"name":"Content-Type","in":"header","description":"Indicates the format in which the request is sent.","required":true,"style":"simple","schema":{"allOf":[{"$ref":"#/components/schemas/Content-Type"},{"description":"Indicates the format in which the request is sent."}]}}],"requestBody":{"content":{"multipart/form-data":{"encoding":{},"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","description":"Specify the file name ( with location) that contains the payouts informationto be uploaded.","contentEncoding":"base64"}},"contentMediaType":"multipart/form-data"}}},"required":false},"responses":{"200":{"description":"","headers":{},"content":{}}},"deprecated":false},"parameters":[]},"/v2/smartSend/expiry/123":{"put":{"tags":["Misc"],"summary":"ExtendExpiryDateAPI","description":"","operationId":"ExtendExpiryDateAPI","parameters":[{"name":"pid","in":"header","description":"Specify the payout merchant id provided while onboarding or creating Payout account.","required":true,"style":"simple","schema":{"type":"integer","contentEncoding":"int32","examples":[2223434]}},{"name":"Content-Type","in":"header","description":"","required":true,"style":"simple","schema":{"const":"application/x-www-form-urlencoded","type":"string"}}],"requestBody":{"content":{"application/x-www-form-urlencoded":{"encoding":{},"schema":{"required":["expiryDate"],"type":"object","properties":{"expiryDate":{"type":"string","description":"Specify the date to which the link is to be extended in this field. The date format is yyyy-MM-dd'T'HH:mm:ss","examples":["2024-01-24T09:36:06.000Z"]}},"contentMediaType":"application/x-www-form-urlencoded"}}},"required":false},"responses":{"200":{"description":"","headers":{},"content":{}}},"deprecated":false},"parameters":[]},"/smartPay/cancel":{"post":{"tags":["Misc"],"summary":"CancelSmartSendAPI","description":"","operationId":"CancelSmartSendAPI","parameters":[{"name":"merchantRefId","in":"query","description":"Specify the unique merchant reference ID which is to be cancelled in this field.","required":true,"style":"form","explode":true,"schema":{"type":"string","examples":["Test6Sep3"]}},{"name":"payoutMerchantId","in":"header","description":"Specify the merchant ID provided while onboarding for Payouts in this parameter.","required":true,"style":"simple","schema":{"type":"integer","contentEncoding":"int32","examples":[2223434]}}],"responses":{"200":{"description":"","headers":{},"content":{}}},"deprecated":false},"parameters":[]}},"components":{"schemas":{"CreateSmartSendLinkAPIRequest":{"title":"CreateSmartSendLinkAPIRequest","required":["amount","expiryDate","custMobile","custEmail"],"type":"object","properties":{"amount":{"type":"string","description":"Indicates the amount of payout.","examples":["100.00"]},"merchantRefId":{"type":"string","description":"Indicates the merchant Reference Id. The reference ID is unique for each link.","examples":["TEST00020"]},"custName":{"type":"string","description":"Indicates the Beneficiary name to which the link is to be sent."},"description":{"type":"string","description":"Indicates the purpose of Payout."},"expiryDate":{"type":"string","description":"Indicates the expiry date on which the smart send link will expire in yyyy-MM-dd'T'HH:mm:ss.000Z format. By default, 7 days by default.","examples":["2021-07-23T10:00:49.778Z"]},"custMobile":{"type":"string","description":"Indicates the Beneficiary mobile number to which the link is to be sent."},"custEmail":{"type":"string","description":"Indicates the Beneficiary email to which the link is to be sent."}},"examples":[{"amount":"6","merchantRefId":"amnmn34","custName":"Thakwani sahab","description":"Payout_","expiryDate":"","custMobile":"9888883254","custEmail":""}]},"Content-Type":{"title":"Content-Type","const":"application/json","type":"string"}},"securitySchemes":{"httpBearer":{"type":"http","scheme":"bearer"}}},"security":[{"httpBearer":[]}],"tags":[{"name":"Misc","description":""}],"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}