{"openapi":"3.1.0","info":{"title":"PayoutsPartner","contact":{},"version":"1.0"},"jsonSchemaDialect":"https://json-schema.org/draft/2020-12/schema","servers":[{"url":"https://uatoneapi.payu.in/payout/partner","variables":{}},{"url":"https://uatoneapi.payu.in//v2/smartSend/","description":"","variables":{}}],"paths":{"/whitelistIp":{"post":{"tags":["whitelistIp"],"summary":"whitelistIp","operationId":"whitelistIp","parameters":[{"name":"payoutMerchantId","in":"query","description":"This parameter must contain Payouts merchant ID provided during onboarding.","required":true,"style":"form","explode":true,"schema":{"type":"integer","contentEncoding":"int32","examples":[2225336]}},{"name":"merchantIps","in":"query","description":"This parameter must contain the merchant IP address that must be whitelisted.","required":true,"style":"form","explode":true,"schema":{"type":"string","examples":["192.168.1.1"]}},{"name":"applyOnAllVAs","in":"query","description":"This parameter indicates whether all the virtual accounts must be applied.","style":"form","explode":true,"schema":{"type":"boolean","examples":[false]}},{"name":"partnerId","in":"header","description":"This parameter must contain partner ID provided during onboarding.","required":true,"style":"simple","schema":{"type":"integer","contentEncoding":"int32","examples":[1]}}],"responses":{"200":{"description":"OK","headers":{},"content":{"*/*":{"schema":{"type":"object","examples":[{}],"contentMediaType":"*/*"},"example":{}}}},"201":{"description":"Created","headers":{},"content":{}},"401":{"description":"Unauthorized","headers":{},"content":{}},"403":{"description":"Forbidden","headers":{},"content":{}},"404":{"description":"Not Found","headers":{},"content":{}}},"deprecated":false},"parameters":[]},"/merchant/updateActiveMerchantStatus":{"post":{"tags":["updateActiveMerchantStatus"],"summary":"updateActiveMerchantStatus","operationId":"updateActiveMerchantStatus","parameters":[{"name":"payoutMerchantId","in":"query","description":"This field must contain the partner merchant ID that was provided by PayU while onboarding.","required":true,"style":"form","explode":true,"schema":{"type":"integer","contentEncoding":"int32","examples":[2225336]}},{"name":"isActive","in":"query","description":"This indicates whether the partner is active. \"true\" indicates partner is active.","required":true,"style":"form","explode":true,"schema":{"type":"boolean","examples":[true]}},{"name":"partnerId","in":"header","description":"The partner ID of the merchant.","required":true,"style":"simple","schema":{"type":"integer","contentEncoding":"int32","examples":[1]}}],"responses":{"200":{"description":"OK","headers":{},"content":{"*/*":{"schema":{"allOf":[{"$ref":"#/components/schemas/OK"},{"examples":[{"code":"<integer>","data":{},"msg":"<string>","status":"<integer>"}]}],"contentMediaType":"*/*"},"example":{"code":"<integer>","data":{},"msg":"<string>","status":"<integer>"}}}},"201":{"description":"Created","headers":{},"content":{}},"401":{"description":"Unauthorized","headers":{},"content":{}},"403":{"description":"Forbidden","headers":{},"content":{}},"404":{"description":"Not Found","headers":{},"content":{}}},"deprecated":false},"parameters":[]},"/merchant/update":{"put":{"tags":["update"],"summary":"updateMerchant","operationId":"updateMerchant","parameters":[{"name":"partnerId","in":"header","description":"This field must contain the partner merchant ID that was provided by PayU while onboarding.","required":true,"style":"simple","schema":{"type":"integer","contentEncoding":"int32","examples":[1]}},{"name":"payoutMerchantId","in":"header","description":"This field must contain the Payouts merchant ID that was provided by PayU while onboarding.","required":true,"style":"simple","schema":{"type":"integer","contentEncoding":"int32","examples":[2225336]}}],"requestBody":{"description":"","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/updateMerchantRequest"},{"examples":[{"accountType":"TEST","activationStatus":"RISK_HOLD","businessUseCase":["PENNY_DROP","SMART_REMITTANCE"],"category":"BRONZE","commEmail":"<string>","commMobile":"<string>","description":"<string>","lastUpdatedBy":"<long>","lob":"ONLINE_CLASSIFIEDS","name":"<string>","onHoldType":"TIME_LIMIT_EXCEEDED","riskCategory":"MEDIUM","website":"<string>"}]}],"contentMediaType":"application/json"},"example":{"accountType":"TEST","activationStatus":"RISK_HOLD","businessUseCase":["PENNY_DROP","SMART_REMITTANCE"],"category":"BRONZE","commEmail":"<string>","commMobile":"<string>","description":"<string>","lastUpdatedBy":"<long>","lob":"ONLINE_CLASSIFIEDS","name":"<string>","onHoldType":"TIME_LIMIT_EXCEEDED","riskCategory":"MEDIUM","website":"<string>"}}},"required":false},"responses":{"200":{"description":"OK","headers":{},"content":{"*/*":{"schema":{"allOf":[{"$ref":"#/components/schemas/OK"},{"examples":[{"code":"<integer>","data":{},"msg":"<string>","status":"<integer>"}]}],"contentMediaType":"*/*"},"example":{"code":"<integer>","data":{},"msg":"<string>","status":"<integer>"}}}},"201":{"description":"Created","headers":{},"content":{}},"401":{"description":"Unauthorized","headers":{},"content":{}},"403":{"description":"Forbidden","headers":{},"content":{}},"404":{"description":"Not Found","headers":{},"content":{}}},"deprecated":false},"parameters":[]},"/merchant/create":{"post":{"tags":["create"],"summary":"activatePartnerMerchant","operationId":"activatePartnerMerchant","parameters":[{"name":"partnerId","in":"header","description":"This parameter must contain the partner ID of the merchant.","required":true,"style":"simple","schema":{"type":"integer","contentEncoding":"int32","examples":[123]}},{"name":"merchantName","in":"query","description":"This parameter must contain name of the merchant as in bank records.","required":true,"style":"form","explode":true,"schema":{"type":"string","examples":["test"]}},{"name":"commEmail","in":"query","description":"This parameter must contain the email ID of the merchant for communication.","required":true,"style":"form","explode":true,"schema":{"type":"string","examples":["test@gmail.com"]}},{"name":"commMobile","in":"query","description":"This parameter must contain the mobile number of the merchant for communication.","required":true,"style":"form","explode":true,"schema":{"type":"integer","contentEncoding":"int64","examples":[9999999999]}},{"name":"bank","in":"query","description":"The name of the bank with which the partner holds an account.","required":true,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"transitAccountNumber","in":"query","description":"The parameter must contain the bank account number with which the partner makes transactions.","style":"form","explode":true,"schema":{"type":"string"}},{"name":"transitVpa","in":"query","description":"The parameter must contain the UPI VPA with which the partner makes transactions.","style":"form","explode":true,"schema":{"type":"string","examples":["ashish123@okhdfcbank"]}}],"responses":{"200":{"description":"OK","headers":{},"content":{"*/*":{"schema":{"type":"object","examples":[{}],"contentMediaType":"*/*"},"example":{}}}},"201":{"description":"Created","headers":{},"content":{}},"401":{"description":"Unauthorized","headers":{},"content":{}},"403":{"description":"Forbidden","headers":{},"content":{}},"404":{"description":"Not Found","headers":{},"content":{}}},"deprecated":false},"parameters":[]},"/dmt/merchant/create":{"post":{"tags":["create"],"summary":"activatePartnerMerchantWithWebhook","operationId":"activatePartnerMerchantWithWebhook","parameters":[{"name":"partnerId","in":"header","description":"(Required) partnerId","required":true,"style":"simple","schema":{"type":"integer","contentEncoding":"int32","examples":[1]}}],"requestBody":{"description":"","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/activatePartnerMerchantWithWebhookRequest"},"description":"","examples":[[{"values":{"authorization":"<string>","payoutMerchantId":"<string>","url":"<string>"},"webhook":"<string>"},{"values":{"authorization":"<string>","payoutMerchantId":"<string>","url":"<string>"},"webhook":"<string>"}]],"contentMediaType":"application/json"},"example":[{"values":{"authorization":"<string>","payoutMerchantId":"<string>","url":"<string>"},"webhook":"<string>"},{"values":{"authorization":"<string>","payoutMerchantId":"<string>","url":"<string>"},"webhook":"<string>"}]}},"required":true},"responses":{"200":{"description":"OK","headers":{},"content":{"*/*":{"schema":{"type":"object","examples":[{}],"contentMediaType":"*/*"},"example":{}}}},"201":{"description":"Created","headers":{},"content":{}},"401":{"description":"Unauthorized","headers":{},"content":{}},"403":{"description":"Forbidden","headers":{},"content":{}},"404":{"description":"Not Found","headers":{},"content":{}}},"deprecated":false},"parameters":[]},"/getWhiteListedIp":{"get":{"tags":["getWhiteListedIp"],"summary":"getWhiteListedIp","operationId":"getWhiteListedIp","parameters":[{"name":"payoutMerchantId","in":"query","description":"This parameter must contain the Payouts merchant ID that was provided during onboarding.","required":true,"style":"form","explode":true,"schema":{"type":"integer","contentEncoding":"int32","examples":[2225336]}},{"name":"partnerId","in":"header","description":"This parameter must contain partner ID provided during onboarding.","required":true,"style":"simple","schema":{"type":"integer","contentEncoding":"int32","examples":[1]}}],"responses":{"200":{"description":"OK","headers":{},"content":{"*/*":{"schema":{"type":"object","examples":[{}],"contentMediaType":"*/*"},"example":{}}}},"401":{"description":"Unauthorized","headers":{},"content":{}},"403":{"description":"Forbidden","headers":{},"content":{}},"404":{"description":"Not Found","headers":{},"content":{}}},"deprecated":false},"parameters":[]},"/activate":{"post":{"tags":["activate"],"summary":"activatePartner","operationId":"activatePartner","parameters":[],"requestBody":{"description":"","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/activatePartnerRequest"},{"examples":[{"accountType":"TEST","activationStatus":"DISABLED","bank":"","businessUseCase":"","category":"SILVER","commEmail":"","commMobile":"","description":"","limitParams":{"amountLimit":"<double>","endDate":"<string>","startDate":"<string>","timeLimit":"<integer>","txnCountLimit":"<long>"},"limitedCapability":"<boolean>","lob":"FINTECH","loggedInUserId":"<long>","merchantName":"<string>","merchantUuid":"<string>","ok":"<boolean>","onboardingType":"DIGITAL","payumoneyMid":"<long>","prefix":"<string>","riskCategory":"LOW","transitAccountNumber":"<string>","transitVpa":"<string>","type":"<string>","userType":"SERVICE","uuid":"<string>","website":"<string>"}]}],"contentMediaType":"application/json"},"example":{"accountType":"TEST","activationStatus":"DISABLED","bank":"","businessUseCase":"","category":"SILVER","commEmail":"","commMobile":"","description":"","limitParams":{"amountLimit":"<double>","endDate":"<string>","startDate":"<string>","timeLimit":"<integer>","txnCountLimit":"<long>"},"limitedCapability":"<boolean>","lob":"FINTECH","loggedInUserId":"<long>","merchantName":"<string>","merchantUuid":"<string>","ok":"<boolean>","onboardingType":"DIGITAL","payumoneyMid":"<long>","prefix":"<string>","riskCategory":"LOW","transitAccountNumber":"<string>","transitVpa":"<string>","type":"<string>","userType":"SERVICE","uuid":"<string>","website":"<string>"}}},"required":true},"responses":{"200":{"description":"OK","headers":{},"content":{"*/*":{"schema":{"type":"object","examples":[{}],"contentMediaType":"*/*"},"example":{}}}},"201":{"description":"Created","headers":{},"content":{}},"401":{"description":"Unauthorized","headers":{},"content":{}},"403":{"description":"Forbidden","headers":{},"content":{}},"404":{"description":"Not Found","headers":{},"content":{}}},"deprecated":false},"parameters":[]},"/extendExpiry":{"put":{"summary":"Extend Expiry Date","operationId":"ExtendExpiryDate","parameters":[{"name":"merchantRefId","in":"query","description":"This parameter must contain the merchant reference ID.","required":true,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"expiryDate","in":"query","description":"This parameter must contain the expiry date.","required":true,"style":"form","explode":true,"schema":{"type":"string","contentEncoding":"date-time"}}],"responses":{"200":{"description":"","headers":{},"content":{"text/plain":{"schema":{"type":"object","contentMediaType":"text/plain"}}}}},"deprecated":false},"parameters":[]}},"components":{"schemas":{"Values":{"title":"Values","required":["authorization","payoutMerchantId","url"],"type":"object","properties":{"authorization":{"type":"string"},"payoutMerchantId":{"type":"string"},"url":{"type":"string"}},"examples":[{"authorization":"<string>","payoutMerchantId":"<string>","url":"<string>"}]},"updateMerchantRequest":{"title":"updateMerchantRequest","required":["accountType","activationStatus","businessUseCase","category","commEmail","commMobile","description","lastUpdatedBy","lob","name","onHoldType","riskCategory","website"],"type":"object","properties":{"accountType":{"type":"string","description":"This field must contain the account type, that is, Savings or Current account."},"activationStatus":{"type":"string","description":"This fields must contain the account activation status."},"businessUseCase":{"type":"array","items":{"type":"string"},"description":"This fields must contain the business use case for which the account is updated for."},"category":{"type":"string","description":"This fields must contain the category of the merchant request update."},"commEmail":{"type":"string","description":"This parameter contains the email address for communication."},"commMobile":{"type":"string","description":"This parameter contains the email address for communication."},"description":{"type":"string","description":"This parameter contains the description."},"lastUpdatedBy":{"type":"string","description":"This parameter contains the name who updated the merchant details."},"lob":{"type":"string","description":"This parameter contains the LOB."},"name":{"type":"string","description":"This parameter contains the name of the merchant."},"onHoldType":{"type":"string","description":"This parameter contains the hold type if the merchant is on hold."},"riskCategory":{"type":"string","description":"This parameter contains the risk category of the merchant."},"website":{"type":"string","description":"This parameter contains the website address of the merchant's business."}},"examples":[{"accountType":"TEST","activationStatus":"RISK_HOLD","businessUseCase":["PENNY_DROP","SMART_REMITTANCE"],"category":"BRONZE","commEmail":"<string>","commMobile":"<string>","description":"<string>","lastUpdatedBy":"<long>","lob":"ONLINE_CLASSIFIEDS","name":"<string>","onHoldType":"TIME_LIMIT_EXCEEDED","riskCategory":"MEDIUM","website":"<string>"}]},"OK":{"title":"OK","required":["code","data","msg","status"],"type":"object","properties":{"code":{"type":"string"},"data":{"type":"object"},"msg":{"type":"string"},"status":{"type":"string"}},"examples":[{"code":"<integer>","data":{},"msg":"<string>","status":"<integer>"}]},"activatePartnerRequest":{"title":"activatePartnerRequest","required":["accountType","activationStatus","bank","businessUseCase","category","commEmail","commMobile","description","limitParams","limitedCapability","lob","loggedInUserId","merchantName","merchantUuid","onboardingType","prefix","riskCategory","transitAccountNumber","transitVpa","type","userType","uuid","website"],"type":"object","properties":{"accountType":{"type":"string","description":"This parameter must contain account type such as \"Current\" or \"Savings\"."},"activationStatus":{"type":"string","description":"This parameter must indicate the activation status of the merchant."},"bank":{"type":"string","description":"This parameter must contain bank name where the merchant holds the account."},"businessUseCase":{"type":"string","description":"This parameter must contain business use case why the merchant is using the Payouts account for."},"category":{"type":"string","description":"This parameter must contain busines category of the merchant.."},"commEmail":{"type":"string","description":"This parameter must contain email ID of the merchant used for communication."},"commMobile":{"type":"string","description":"This parameter must contain mobile of the merchant used for communication."},"description":{"type":"string","description":"This parameter must contain description of the merchant."},"limitParams":{"allOf":[{"$ref":"#/components/schemas/LimitParams"},{"description":"This parameter must contain the limit parameters."}]},"limitedCapability":{"type":"string","description":"This parameter must contain capacity limit."},"lob":{"type":"string","description":"This parameter must contain merchant LOB."},"loggedInUserId":{"type":"string","description":"This parameter must contain the Login ID of the merchant."},"merchantName":{"type":"string","description":"This parameter must contain the merchant name."},"merchantUuid":{"type":"string","description":"This parameter must contain the user ID of the merchant."},"onboardingType":{"type":"string","description":"This parameter must contain merchant onboarding type."},"payumoneyMid":{"type":"string","description":"This parameter must contain PayU Money ID."},"prefix":{"type":"string","description":"This parameter must contain prefix to be for the merchant name.","examples":["Mr."]},"riskCategory":{"type":"string","description":"This parameter must contain the merchant risk category."},"transitAccountNumber":{"type":"string","description":"This parameter must contain the account number that will be used by merchant for transactions."},"transitVpa":{"type":"string","description":"This parameter must contain the UPI VAP that will be used by merchant for transactions.","examples":["ashish123@okhdfcbank"]},"type":{"type":"string","description":"This parameter must contain the type of merchant."},"userType":{"type":"string","description":"This parameter must contain the user type."},"uuid":{"type":"string","description":"This parameter must contain the uuid."},"website":{"type":"string","description":"This parameter must contain the website address merchant's business."}},"examples":[{"accountType":"TEST","activationStatus":"DISABLED","bank":"","businessUseCase":"","category":"SILVER","commEmail":"","commMobile":"","description":"","limitParams":{"amountLimit":"<double>","endDate":"<string>","startDate":"<string>","timeLimit":"<integer>","txnCountLimit":"<long>"},"limitedCapability":"<boolean>","lob":"FINTECH","loggedInUserId":"<long>","merchantName":"<string>","merchantUuid":"<string>","ok":"<boolean>","onboardingType":"DIGITAL","payumoneyMid":"<long>","prefix":"<string>","riskCategory":"LOW","transitAccountNumber":"<string>","transitVpa":"<string>","type":"<string>","userType":"SERVICE","uuid":"<string>","website":"<string>"}]},"activatePartnerMerchantWithWebhookRequest":{"title":"activatePartnerMerchantWithWebhookRequest","required":["values","webhook"],"type":"object","properties":{"values":{"allOf":[{"$ref":"#/components/schemas/Values"},{}]},"webhook":{"type":"string"}},"examples":[{"values":{"authorization":"<string>","payoutMerchantId":"<string>","url":"<string>"},"webhook":"<string>"}]},"saveAxisPartnerDetailsRequest":{"title":"saveAxisPartnerDetailsRequest","required":["accountNumber","channelId","clientId","clientSecret","corpCode","ifscCode","merchantId","mobileNumber","name","serviceRequestId"],"type":"object","properties":{"accountNumber":{"type":"string"},"channelId":{"type":"string"},"clientId":{"type":"string"},"clientSecret":{"type":"string"},"corpCode":{"type":"string"},"ifscCode":{"type":"string"},"merchantId":{"type":"string"},"mobileNumber":{"type":"string"},"name":{"type":"string"},"serviceRequestId":{"type":"string"}},"examples":[{"accountNumber":"","channelId":"","clientId":"","clientSecret":"","corpCode":"","ifscCode":"","merchantId":"","mobileNumber":"","name":"","serviceRequestId":""}]},"LimitParams":{"title":"LimitParams","required":["amountLimit","endDate","startDate","timeLimit","txnCountLimit"],"type":"object","properties":{"amountLimit":{"type":"string"},"endDate":{"type":"string"},"startDate":{"type":"string"},"timeLimit":{"type":"string"},"txnCountLimit":{"type":"string"}},"examples":[{"amountLimit":"<double>","endDate":"<string>","startDate":"<string>","timeLimit":"<integer>","txnCountLimit":"<long>"}]}},"securitySchemes":{"httpBearer":{"type":"http","scheme":"bearer"}}},"security":[{"httpBearer":[]}],"tags":[{"name":"whitelistIp"},{"name":"updateActiveMerchantStatus"},{"name":"update"},{"name":"create"},{"name":"getWhiteListedIp"},{"name":"details"},{"name":"activate"}],"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}