{"openapi":"3.1.0","info":{"title":"Payouts API","contact":{},"version":"1.0"},"jsonSchemaDialect":"https://json-schema.org/draft/2020-12/schema","servers":[{"url":"https://uatoneapi.payu.in/payout/","variables":{}}],"paths":{"/v2/payment":{"post":{"summary":"InitiateTransferAPI","description":"","operationId":"InitiateTransferAPI","parameters":[{"name":"pid","in":"query","description":"","required":true,"style":"form","explode":true,"schema":{"type":"integer","contentEncoding":"int32"}},{"name":"Content-Type","in":"header","description":"","required":true,"style":"simple","schema":{"const":"application/x-www-form-urlencoded","type":"string"}}],"requestBody":{"content":{"application/x-www-form-urlencoded":{"encoding":{},"schema":{"required":["BODY"],"type":"object","properties":{"BODY":{"allOf":[{"$ref":"#/components/schemas/BODYOBJECT"},{}]}},"contentMediaType":"application/x-www-form-urlencoded"}}},"required":false},"deprecated":false},"parameters":[]},"/payment/listTransactions":{"post":{"summary":"Check Transfer Status API","operationId":"CheckTransferStatusAPI","parameters":[{"name":"Content-Type","in":"header","description":"","required":true,"style":"simple","schema":{"const":"application/x-www-form-urlencoded","type":"string"}},{"name":"payoutMerchantId","in":"header","description":"Specify the merchant ID provided while onboarding for Payouts in this parameter.","required":true,"style":"simple","schema":{"type":"integer","contentEncoding":"int32"}}],"requestBody":{"content":{"application/x-www-form-urlencoded":{"encoding":{},"schema":{"type":"object","properties":{"transferStatus":{"type":"string","description":"Search by status of transfer. Merchant can get all success or failure transaction of the day to reconcile. The transfer status can be any of the following: - QUEUED/SCHEDULED - IN_PROGRESS - PENDING - FAILED"},"from":{"type":"string","description":"Specify the date from when transfer status is required in this field. The format of the date must be in DD/MM/YY format.","contentEncoding":"date-time"},"to":{"type":"string","description":"Specify the date up to which the transfer status required in this field. The format of the date must be in DD/MM/YY format.","contentEncoding":"date-time"},"page":{"type":"integer","description":"Specify the page number in this field. By default, the value is 1.","contentEncoding":"int32"},"pageSize":{"type":"integer","description":"Specify the page size. The maximum is 1000.","contentEncoding":"int32"},"merchantRefId":{"type":"string","description":"Indicates a unique reference ID at the merchant side to distinguish between multiple transfers."},"batchId":{"type":"integer","description":"It can be any string value. Merchants can use this value if they want to process the request in batch and also what status of transfer in batch. This can be unique for a batch or across multiple requests.","contentEncoding":"int32"}},"contentMediaType":"application/x-www-form-urlencoded"}}},"required":false},"deprecated":false},"parameters":[]},"/setQueueTxnFlag":{"post":{"summary":"Disable Queued Payouts API","operationId":"DisableQueuedPayoutsAPI","parameters":[{"name":"Content-Type","in":"header","description":"","required":true,"style":"simple","schema":{"const":"application/x-www-form-urlencoded","type":"string"}},{"name":"payoutmerchantid","in":"header","description":"Specify the merchant ID provided while onboarding for Payouts in this parameter.","required":true,"style":"simple","schema":{"type":"integer","contentEncoding":"int32"}}],"requestBody":{"content":{"application/x-www-form-urlencoded":{"encoding":{},"schema":{"required":["queueTxn"],"type":"object","properties":{"queueTxn":{"type":"boolean","description":"Specify whether to add a transaction in the Queued status or not."},"configMerchantId":{"type":"integer","description":"Specify the Payout merchantId in this parameter.","contentEncoding":"int32"}},"contentMediaType":"application/x-www-form-urlencoded"}}},"required":false},"deprecated":false},"parameters":[]},"/merchant/getIfscDetails":{"get":{"summary":"Get IFSC Details API","operationId":"GetIFSCDetailsAPI","parameters":[{"name":"ifsc","in":"query","description":"Indicates the IFSC Code of the bank to fetch the associated beneficiary details","required":true,"style":"form","explode":true,"schema":{"type":"string"}}],"deprecated":false},"parameters":[]},"/payment/verifyAccount":{"post":{"summary":"Penny Test API","operationId":"PennyTestAPI","parameters":[{"name":"accountNumber","in":"query","description":"Specify the beneficiary account Number","required":true,"style":"form","explode":true,"schema":{"type":"integer","contentEncoding":"int32"}},{"name":"ifscCode","in":"query","description":"Specify the IFSC Code of the Bank Account","required":true,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"merchantRefId","in":"query","description":"Specify the unique identifier from merchant to identify the status","required":true,"style":"form","explode":true,"schema":{"type":"integer","contentEncoding":"int32"}},{"name":"validateIfsc","in":"query","description":"Select the flag as true or false to validate IFSC or not respectively.","style":"form","explode":true,"schema":{"type":"boolean"}},{"name":"beneName","in":"query","description":"Specify the beneficiary name.","style":"form","explode":true,"schema":{"type":"string"}},{"name":"nameMatching","in":"query","description":"Select the flag as True to check name matching.","style":"form","explode":true,"schema":{"type":"boolean"}},{"name":"amount","in":"query","description":"Specify the amount to be submitted for penny drop transaction.","style":"form","explode":true,"schema":{"type":"integer","contentEncoding":"int32"}},{"name":"purpose","in":"query","description":"Specify the reason of verification.","style":"form","explode":true,"schema":{"type":"string"}},{"name":"Content-Type","in":"header","description":"","required":true,"style":"simple","schema":{"const":"application/x-www-form-urlencoded","type":"string"}}],"deprecated":false},"parameters":[]}},"components":{"schemas":{"BODYOBJECT":{"title":"BODYOBJECT","required":["purpose","paymentType","disableApprovalFlow"],"type":"object","properties":{"beneficiaryAccountNumber":{"type":"string","description":"Indicates beneficiary account number to transfer money. Required for IMPS, NEFT and RTGS paymentType.","examples":["012345678912"]},"beneficiaryIfscCode":{"type":"string","description":"Indicates IFSC Code of the Beneficiary Bank Account. Required for IMPS, NEFT and RTGS paymentType.","examples":["SBIN0005943"]},"beneficiaryName":{"type":"string","description":"Indicates name of the Beneficiary of the the beneficiary associated with Bank Account. Required for PHONE","examples":["Ashish Kumar"]},"beneficiaryMobile":{"type":"string","description":"Indicates the beneficiary mobile number. Required for PHONE paymentType"},"beneficiaryEmail":{"type":"string","description":"Indicates the beneficiary Email Address","examples":["ashish@abc.com"]},"purpose":{"type":"string","description":"This parameter must include the purpose of doing this transfer."},"amount":{"type":"string","description":"Indicates amount to transfer to the beneficiary account.","examples":["1000"]},"batchId":{"type":"string","description":"It can be any string value. Merchants can use this value if they want to process the request in batch and also what status of transfer in batch. This can be unique for a batch or across multiple requests."},"merchantRefId":{"type":"string","description":"Indicates a unique reference ID at the merchant side to distinguish between multiple transfers."},"paymentType":{"type":"string","description":"Specify the mode of payment in this field. It can be any of the following: - IMPS - UPI - NEFT - RTGS - PHONE","examples":["PHONE"]},"recipientCardNo":{"type":"string","description":"The Credit Card Number with which the payment is made by your customer is specified in this field."},"disableApprovalFlow":{"type":"boolean","description":"If this field is set to True, the approval flow process for the specific payout transaction is skipped or disabled.."},"retry":{"type":"boolean","description":"Specify the flag as either True or False to indicate whether to retry transfer or not in this field."}},"description":"This field should contain the transfer details in JSON array format."},"BODY":{"title":"BODY","required":["purpose","amount","batchId","merchantRefId","paymentType"],"type":"object","properties":{"beneficiaryAccountNumber":{"type":"string","description":"Indicates beneficiary account number to transfer money. Required for IMPS, NEFT and RTGS paymentType.","examples":["012345678912"]},"beneficiaryIfscCode":{"type":"string","description":"Indicates IFSC Code of the Beneficiary Bank Account. Required for IMPS, NEFT and RTGS paymentType.","examples":["SBIN0005943"]},"beneficiaryName":{"type":"string","description":"Indicates name of the Beneficiary of the the beneficiary associated with Bank Account. Required for PHONE","examples":["Ashish Kumar"]},"beneficiaryMobile":{"type":"string","description":"Indicates the beneficiary mobile number. Required for PHONE paymentType"},"beneficiaryEmail":{"type":"string","description":"Indicates the beneficiary Email Address","examples":["ashish@abc.com"]},"purpose":{"type":"string","description":"This parameter must include the purpose of doing this transfer."},"amount":{"type":"string","description":"Indicates amount to transfer to the beneficiary account.","examples":["1000"]},"batchId":{"type":"string","description":"It can be any string value. Merchants can use this value if they want to process the request in batch and also what status of transfer in batch. This can be unique for a batch or across multiple requests."},"merchantRefId":{"type":"string","description":"Indicates a unique reference ID at the merchant side to distinguish between multiple transfers."},"paymentType":{"type":"string","description":"Specify the mode of payment in this field. It can be any of the following: - IMPS - UPI - NEFT - RTGS - PHONE","examples":["PHONE"]},"recipientCardNo":{"type":"string","description":"The Credit Card Number with which the payment is made by your customer is specified in this field."},"disableApprovalFlow":{"type":"boolean","description":"If this field is set to True, the approval flow process for the specific payout transaction is skipped or disabled.."},"retry":{"type":"boolean","description":"Specify the flag as either True or False to indicate whether to retry transfer or not in this field."}}},"Content-Type":{"title":"Content-Type","const":"application/json","type":"string"}},"securitySchemes":{"httpBearer":{"type":"http","scheme":"bearer"}}},"security":[{"httpBearer":[]}],"tags":[],"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}