openapi: 3.0.0
info:
  title: Pre-debit and Recurring Payments Transaction API
  description: >-
    Schedule pre-debit notifications and recurring debits against an existing
    mandate.
  version: 1.0.0
servers:
  - url: https://info.payu.in
    description: Production Environment
  - url: https://test.payu.in
    description: Test Environment
paths:
  /merchant/webservice/service.php:
    post:
      summary: >-
        [Internal review]Create a Pre-debit Notification and Recurring Payments
        Transaction
      description: >-
        Use this endpoint to create a pre-debit notification and processes a
        recurring debit against an existing mandate.
      tags:
        - Subscription APIs
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - key
                - hash
                - var1
              properties:
                key:
                  type: string
                  description: >-
                    The merchant key generated from the dashboard. Know how to
                    generate the
                    [test](https://docs.payu.in/docs/generate-test-merchant-key-and-salt)
                    and
                    [live](https://docs.payu.in/docs/generate-merchant-key-and-salt-on-payu-dashboard)
                    keys from the dashboard.
                hash:
                  type: string
                  description: >
                    SHA512 hash generated using the formula:
                    SHA512(key|command|var1|salt), where key is the merchant
                    key, command is the API command, var1 is the request
                    parameter, and salt is the merchant salt.
                command:
                  type: string
                  description: API command.
                  example: si_transaction
                var1:
                  type: object
                  required:
                    - authPayuId
                    - txnId
                    - amount
                  properties:
                    authPayuId:
                      type: string
                      description: PayU mandate ID received during mandate registration.
                      example: '403993715529787'
                    txnId:
                      type: string
                      description: Unique merchant transaction identifier.
                      example: TXN_20240415_001
                    amount:
                      type: string
                      description: Debit amount.
                      example: '499.00'
                    debitDate:
                      type: string
                      format: date
                      description: >
                        Scheduled debit date in YYYY-MM-DD format.


                        Required for:

                        - UPI mandates

                        - Credit Card mandates

                        - Debit Card mandates

                        - eNACH mandates


                        Must be a future date within the allowed billing cycle
                        window.
                    debitType:
                      type: string
                      description: |
                        Type of debit request.

                        Possible values:
                        - PREDEBIT_AND_RECURRING
                        - PREDEBIT
                        - RECURRING
                      enum:
                        - PREDEBIT_AND_RECURRING
                        - PREDEBIT
                        - RECURRING
                      default: PREDEBIT_AND_RECURRING
                    currency:
                      type: string
                      default: INR
                      description: Transaction currency.
                      example: INR
                    planId:
                      type: string
                      description: The unique subscription plan identifier.
                      example: PLAN_MONTHLY_999
                    mandateSeqNo:
                      type: string
                      description: The mandate sequence number.
                      example: '2'
                    additional_charges:
                      type: string
                      description: Flat surcharge amount.
                      example: '0.00'
                    percentage_additional_charges:
                      type: string
                      description: Percentage-based surcharge.
                      example: '0.00'
                    invoiceDisplayNumber:
                      type: string
                      description: |
                        Merchant invoice reference.

                        Mandatory when debitType is:
                        - PREDEBIT
                        - RECURRING
                    udf2:
                      type: string
                      description: User-defined field 2.
                    udf3:
                      type: string
                      description: User-defined field 3.
                    udf4:
                      type: string
                      description: User-defined field 4.
                    udf5:
                      type: string
                      description: User-defined field 5.
                    email:
                      type: string
                      description: The customer email address.
                    phone:
                      type: string
                      description: The customer phone number.
                    firstname:
                      type: string
                      description: The customer first name.
                    lastname:
                      type: string
                      description: The customer last name.
                    address1:
                      type: string
                      description: The customer address line 1.
                      example: 123 Main Street
                    address2:
                      type: string
                      description: The customer address line 2.
                      example: Apt 4B
                    city:
                      type: string
                      description: The customer city.
                      example: Bangalore
                    state:
                      type: string
                      description: The customer state.
                      example: Karnataka
                    country:
                      type: string
                      description: The customer country.
                      example: India
                    zipcode:
                      type: string
                      description: ZIP or postal code.
                      example: '560001'
                    more_info:
                      type: array
                      description: Merchant metadata.
                      items:
                        type: object
                        properties:
                          wtParams:
                            type: array
                            items:
                              type: object
                              properties:
                                type:
                                  type: string
                                  description: The type of the WT parameter.
                                  example: mutual_fund
                                plan:
                                  type: string
                                  description: The subscription plan name or identifier.
                                  example: GD
                                folio:
                                  type: string
                                  description: The mutual fund folio number.
                                  example: '9104927822'
                                amount:
                                  type: string
                                  description: The amount associated with the WT parameter.
                                  example: '100'
                                option:
                                  type: string
                                  description: >-
                                    The investment option for mutual funds
                                    (e.g., "growth", "dividend").
                                  example: G
                                scheme:
                                  type: string
                                  description: The mutual fund scheme name or identifier.
                                  example: LT
                                receipt:
                                  type: string
                                  description: The receipt number for the transaction.
                                  example: '12345'
                                mf_member_id:
                                  type: string
                                  description: The mutual fund member ID.
                                  example: '12345'
                                mf_user_id:
                                  type: string
                                  description: The mutual fund user ID.
                                  example: '7740'
                                mf_partner:
                                  type: string
                                  description: The mutual fund partner name or identifier.
                                  example: cams
                                mf_investment_type:
                                  type: string
                                  description: >-
                                    The type of mutual fund investment (e.g.,
                                    "SIP", "Lumpsum").
                                  example: L
                                mf_amc_code:
                                  type: string
                                  description: The AMC (Asset Management Company) code.
                              required:
                                - type
                                - amount
                                - receipt
                                - mf_user_id
                                - mf_member_id
                                - mf_partner
                                - mf_investment_type
                            description: >-
                              This object should be passed only by Mutual Fund
                              merchants
            examples:
              request:
                summary: SI Transaction Request
                value:
                  key: JPM7Fg
                  hash: >-
                    1be625350f785a208a737f05151f8fee378aa332be1a5f361546f3bbe6fa42f000ea985765b686e11dce4e3ad934dac763bd755624996f82bb01cf7b4f2b468b
                  command: si_transaction
                  var1:
                    authPayuId: '403993715529787'
                    txnId: TXN_20240415_001
                    amount: '499.00'
                    debitDate: '2024-04-20'
                    debitType: PREDEBIT_AND_RECURRING
                    currency: INR
                    planId: PLAN_MONTHLY_999
                    mandateSeqNo: '2'
                    email: aarav@example.com
                    phone: '9999999999'
                    firstname: Aarav
                    lastname: Sinha
      responses:
        '200':
          description: Request processed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: 1 indicates success.
                  message:
                    type: string
                    description: Human-readable response message.
                  details:
                    type: object
                    description: Recurring debit response details.
                  predebitDetails:
                    type: object
                    description: Pre-debit response details.
              examples:
                success:
                  summary: Successful Response
                  value:
                    status: 1
                    message: Debit Scheduled successfully
                    details: []
                    predebitDetails: []
        '400':
          description: >
            Validation or business-rule failure. The JSON body uses:

            - `status: 0`

            - `message`

            - When applicable `errorCode` and `action`


            **Envelope / request issues** (often no `errorCode`—match on
            `message`)


            <details>

            <summary>Key is empty</summary>


            - **Code:** *(none)*

            - **Cause:** Merchant key not sent.

            - **Recommended fix:** Send the `key` form field from the PayU
            dashboard for the correct environment (test vs live).


            </details>


            <details>

            <summary>Hash is empty / Invalid Hash.</summary>


            - **Code:** *(none)*

            - **Cause:** Hash missing or digest does not match.

            - **Recommended fix:** Recompute the documented SHA512 over
            pipe-delimited `key`, `si_transaction`, `var1`, and `salt` using the
            exact posted `var1` string and salt.


            </details>


            <details>

            <summary>Invalid Data.</summary>


            - **Code:** *(none)*

            - **Cause:** `var1` is not valid JSON.

            - **Recommended fix:** Serialize one JSON object to `var1`, validate
            locally, and form-encode the body without corrupting quotes or
            braces.


            </details>


            <details>

            <summary>Mandate entry not found</summary>


            - **Code:** *(none)*

            - **Cause:** `authPayuId` is not present in `SI_txn`.

            - **Recommended fix:** Use `authPayuId` from mandate registration
            and call the same environment (test or live) where that mandate was
            created.


            </details>


            **SI validation codes**


            <details>

            <summary><code>SIR001</code>: amount is mandatory</summary>


            - **Cause:** `amount` missing from `var1`.

            - **Recommended fix:** Include `amount` as a decimal string (e.g.
            `"499.00"`) in `var1`.


            </details>


            <details>

            <summary><code>SIR002</code>: Invalid amount</summary>


            - **Cause:** Amount is not a valid decimal.

            - **Recommended fix:** Send a positive decimal string only; no
            currency symbols or invalid characters.


            </details>


            <details>

            <summary><code>SIR003</code>: txnid is mandatory</summary>


            - **Cause:** `txnId` missing from `var1`.

            - **Recommended fix:** Add a unique merchant `txnId` for this debit
            in `var1`.


            </details>


            <details>

            <summary><code>SIR004</code>: debitDate is mandatory</summary>


            - **Cause:** `debitDate` missing for UPI/CC/DC (and eNACH where
            required).

            - **Recommended fix:** Include `debitDate` as `YYYY-MM-DD` in `var1`
            per the API specification.


            </details>


            <details>

            <summary><code>SIR005</code>: Invalid debitDate
            (YYYY-MM-DD)</summary>


            - **Cause:** Wrong date format.

            - **Recommended fix:** Use strict `YYYY-MM-DD` for `debitDate`.


            </details>


            <details>

            <summary><code>SIR006</code>: debitDate must be a future
            date</summary>


            - **Cause:** A past date was supplied.

            - **Recommended fix:** Choose a future `debitDate` allowed by PayU
            and the issuer.


            </details>


            <details>

            <summary><code>SIR007</code>: debitDate outside billing
            window</summary>


            - **Cause:** `debitDate` is outside the allowed window for the
            mandate (message may include <code>{CYCLE}</code>).

            - **Recommended fix:** Pick `debitDate` inside the permitted
            pre-debit range for that billing cycle.


            </details>
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: 0 indicates failure.
                    example: 0
                  message:
                    type: string
                    description: Human-readable error message.
                    example: debitDate is mandatory
                  errorCode:
                    type: string
                    description: API error code.
                    example: SIR004
                  action:
                    type: string
                    description: Action that failed.
                    example: SI_RECURRING
              examples:
                validationError:
                  summary: Missing Debit Date
                  value:
                    status: 0
                    message: debitDate is mandatory
                    errorCode: SIR004
                    action: SI_RECURRING
