openapi: 3.0.0
info:
  title: Pre-debit and Recurring Payments Transaction API
  description: >-
    Schedule pre-debit notifications and recurring debits against an existing
    mandate.
  version: 1.0.0
servers:
  - url: https://info.payu.in
    description: Production Environment
  - url: https://test.payu.in
    description: Test Environment
paths:
  /merchant/webservice/service.php:
    post:
      summary: Pre-debit and Recurring Payments Transaction API
      description: >-
        Creates a pre-debit notification and processes a recurring debit against
        an existing mandate.
      tags:
        - Subscription APIs
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - key
                - hash
                - var1
              properties:
                key:
                  type: string
                  description: >-
                    The merchant key generated from the dashboard. Know how to
                    generate the
                    [test](https://docs.payu.in/docs/generate-test-merchant-key-and-salt)
                    and
                    [live](https://docs.payu.in/docs/generate-merchant-key-and-salt-on-payu-dashboard)
                    keys from the dashboard.
                hash:
                  type: string
                  description: >
                    SHA512 hash generated using the formula:
                    SHA512(key|command|var1|salt), where key is the merchant
                    key, command is the API command, var1 is the request
                    parameter, and salt is the merchant salt.
                command:
                  type: string
                  description: API command.
                  example: si_transaction
                var1:
                  type: object
                  required:
                    - authPayuId
                    - txnId
                    - amount
                  properties:
                    authPayuId:
                      type: string
                      description: PayU mandate ID received during mandate registration.
                      example: '403993715529787'
                    txnId:
                      type: string
                      description: Unique merchant transaction identifier.
                      example: TXN_20240415_001
                    amount:
                      type: string
                      description: Debit amount.
                      example: '499.00'
                    debitDate:
                      type: string
                      format: date
                      description: >
                        Scheduled debit date in YYYY-MM-DD format.


                        Required for:

                        - UPI mandates

                        - Credit Card mandates

                        - Debit Card mandates

                        - eNACH mandates


                        Must be a future date within the allowed billing cycle
                        window.
                    debitType:
                      type: string
                      description: |
                        Type of debit request.

                        Possible values:
                        - PREDEBIT_AND_RECURRING
                        - PREDEBIT
                        - RECURRING
                      enum:
                        - PREDEBIT_AND_RECURRING
                        - PREDEBIT
                        - RECURRING
                      default: PREDEBIT_AND_RECURRING
                    currency:
                      type: string
                      default: INR
                      description: Transaction currency.
                      example: INR
                    planId:
                      type: string
                      description: The unique subscription plan identifier.
                      example: PLAN_MONTHLY_999
                    mandateSeqNo:
                      type: string
                      description: The mandate sequence number.
                      example: '2'
                    additional_charges:
                      type: string
                      description: Flat surcharge amount.
                      example: '0.00'
                    percentage_additional_charges:
                      type: string
                      description: Percentage-based surcharge.
                      example: '0.00'
                    invoiceDisplayNumber:
                      type: string
                      description: |
                        Merchant invoice reference.

                        Mandatory when debitType is:
                        - PREDEBIT
                        - RECURRING
                    udf2:
                      type: string
                      description: User-defined field 2.
                    udf3:
                      type: string
                      description: User-defined field 3.
                    udf4:
                      type: string
                      description: User-defined field 4.
                    udf5:
                      type: string
                      description: User-defined field 5.
                    email:
                      type: string
                      description: The customer email address.
                    phone:
                      type: string
                      description: The customer phone number.
                    firstname:
                      type: string
                      description: The customer first name.
                    lastname:
                      type: string
                      description: The customer last name.
                    address1:
                      type: string
                      description: The customer address line 1.
                      example: 123 Main Street
                    address2:
                      type: string
                      description: The customer address line 2.
                      example: Apt 4B
                    city:
                      type: string
                      description: The customer city.
                      example: Bangalore
                    state:
                      type: string
                      description: The customer state.
                      example: Karnataka
                    country:
                      type: string
                      description: The customer country.
                      example: India
                    zipcode:
                      type: string
                      description: ZIP or postal code.
                      example: '560001'
                    more_info:
                      type: array
                      description: Merchant metadata.
                      items:
                        type: object
                        properties:
                          wtParams:
                            type: array
                            items:
                              type: object
                              properties:
                                type:
                                  type: string
                                  description: The type of the WT parameter.
                                  example: mutual_fund
                                plan:
                                  type: string
                                  description: The subscription plan name or identifier.
                                  example: GD
                                folio:
                                  type: string
                                  description: The mutual fund folio number.
                                  example: '9104927822'
                                amount:
                                  type: string
                                  description: The amount associated with the WT parameter.
                                  example: '100'
                                option:
                                  type: string
                                  description: >-
                                    The investment option for mutual funds
                                    (e.g., "growth", "dividend").
                                  example: G
                                scheme:
                                  type: string
                                  description: The mutual fund scheme name or identifier.
                                  example: LT
                                receipt:
                                  type: string
                                  description: The receipt number for the transaction.
                                  example: '12345'
                                mf_member_id:
                                  type: string
                                  description: The mutual fund member ID.
                                  example: '12345'
                                mf_user_id:
                                  type: string
                                  description: The mutual fund user ID.
                                  example: '7740'
                                mf_partner:
                                  type: string
                                  description: The mutual fund partner name or identifier.
                                  example: cams
                                mf_investment_type:
                                  type: string
                                  description: >-
                                    The type of mutual fund investment (e.g.,
                                    "SIP", "Lumpsum").
                                  example: L
                                mf_amc_code:
                                  type: string
                                  description: The AMC (Asset Management Company) code.
            examples:
              request:
                summary: SI Transaction Request
                value:
                  key: JPM7Fg
                  hash: >-
                    1be625350f785a208a737f05151f8fee378aa332be1a5f361546f3bbe6fa42f000ea985765b686e11dce4e3ad934dac763bd755624996f82bb01cf7b4f2b468b
                  command: si_transaction
                  var1:
                    authPayuId: '403993715529787'
                    txnId: TXN_20240415_001
                    amount: '499.00'
                    debitDate: '2024-04-20'
                    debitType: PREDEBIT_AND_RECURRING
                    currency: INR
                    planId: PLAN_MONTHLY_999
                    mandateSeqNo: '2'
                    email: aarav@example.com
                    phone: '9999999999'
                    firstname: Aarav
                    lastname: Sinha
      responses:
        '200':
          description: Request processed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: 1 indicates success.
                  message:
                    type: string
                    description: Human-readable response message.
                  details:
                    type: object
                    description: Recurring debit response details.
                  predebitDetails:
                    type: object
                    description: Pre-debit response details.
              examples:
                success:
                  summary: Successful Response
                  value:
                    status: 1
                    message: Debit Scheduled successfully
                    details: []
                    predebitDetails: []
        '400':
          description: >
            Failures return JSON with `status: 0`, a human-readable `message`,
            and (for SI validation errors) `errorCode` and `action`.


            **Envelope / request issues** (often no `errorCode` in the response;
            match on `message`):


            | Error code | Error | Cause | Recommended fix |

            |------------|-------|-------|-------------------|

            | — | Key is empty | Merchant `key` not sent. | Send the merchant
            `key` for the target environment (test vs production). |

            | — | Hash is empty / Invalid Hash. | Hash missing or does not match
            the computed digest. | Recompute the hash using the documented
            pipe-delimited SHA512 formula with the exact `var1` string you post
            and the correct salt. |

            | — | Invalid Data. | `var1` is not valid JSON. | Build `var1` as
            one JSON object, serialize to a string, and form-encode the POST
            body so the server parses valid JSON. |

            | — | Mandate entry not found | `authPayuId` is not present in
            `SI_txn`. | Use the `authPayuId` returned when the mandate was
            registered; confirm test/live server matches where the mandate was
            created. |


            **Structured error codes** (`errorCode` in the response body; from
            *PREDEBIT_AND_RECURRING_API.pdf*):


            | Error code | Error | Cause | Recommended fix |

            |------------|-------|-------|-------------------|

            | SIR001 | amount is mandatory | `amount` missing from `var1`. |
            Include `amount` as a decimal string (e.g. `"499.00"`) inside the
            `var1` JSON. |

            | SIR002 | Invalid amount | Amount is not a valid decimal. | Send a
            positive numeric decimal string only; remove currency symbols and
            thousands separators. |

            | SIR003 | txnid is mandatory | `txnId` missing from `var1`. |
            Include a unique merchant `txnId` for this debit attempt in `var1`.
            |

            | SIR004 | debitDate is mandatory | `debitDate` missing for UPI /
            card mandates. | For UPI, credit card, debit card, and eNACH flows,
            send `debitDate` in `var1` as documented. |

            | SIR005 | Invalid debitDate, expected format: YYYY-MM-DD | Wrong
            date format. | Use strict `YYYY-MM-DD` for `debitDate`. |

            | SIR006 | debitDate must be a future date | A past date was
            supplied. | Choose a future calendar date that complies with PayU
            and issuer rules. |

            | SIR007 | debitDate exceeds the allowed range for {CYCLE} mandate |
            `debitDate` is outside the allowed billing-cycle window. | Select
            `debitDate` inside the permitted pre-debit range for this mandate;
            `{CYCLE}` in the message is replaced by the applicable cycle name. |
          x-error-codes:
            - code: null
              error: Key is empty
              cause: Merchant key not sent in the request.
              recommended_fix: >
                Send the `key` form field using the merchant key from the PayU
                dashboard for the correct environment (test vs live).
            - code: null
              error: Hash is empty / Invalid Hash.
              cause: Hash absent or does not match the expected SHA512 digest.
              recommended_fix: >
                Recompute SHA512(key|si_transaction|var1|salt) with the exact
                posted var1 string, correct salt, and documented pipe-delimited
                order.
            - code: null
              error: Invalid Data.
              cause: var1 is not valid JSON.
              recommended_fix: >
                Serialize var1 as a single JSON object string; validate JSON
                locally; ensure form encoding does not corrupt braces or quotes.
            - code: null
              error: Mandate entry not found
              cause: authPayuId not found in SI_txn.
              recommended_fix: >
                Use authPayuId from successful mandate registration for this
                customer; verify you are calling the same environment where the
                mandate exists.
            - code: SIR001
              error: amount is mandatory
              cause: amount missing from var1.
              recommended_fix: Include amount in var1 as a decimal string (e.g. "499.00").
            - code: SIR002
              error: Invalid amount
              cause: amount is not a valid decimal.
              recommended_fix: >-
                Send a valid positive decimal string without currency symbols or
                invalid characters.
            - code: SIR003
              error: txnid is mandatory
              cause: txnId missing from var1.
              recommended_fix: >-
                Add a unique txnId for this transaction to the var1 JSON
                payload.
            - code: SIR004
              error: debitDate is mandatory
              cause: debitDate missing for UPI/CC/DC (and eNACH where required).
              recommended_fix: >
                For UPI, credit card, debit card, and eNACH, include debitDate
                in YYYY-MM-DD inside var1 per the API specification.
            - code: SIR005
              error: 'Invalid debitDate, expected format: YYYY-MM-DD'
              cause: Wrong date format for debitDate.
              recommended_fix: Format debitDate strictly as YYYY-MM-DD.
            - code: SIR006
              error: debitDate must be a future date
              cause: Past date supplied for debitDate.
              recommended_fix: >-
                Choose a future debitDate that satisfies PayU and issuer billing
                rules.
            - code: SIR007
              error: debitDate exceeds the allowed range for {CYCLE} mandate
              cause: >-
                debitDate outside the allowed billing-cycle window for this
                mandate.
              recommended_fix: >
                Align debitDate with the mandate's allowed pre-debit window;
                interpret {CYCLE} from the response message for the specific
                billing cycle.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: 0 indicates failure.
                    example: 0
                  message:
                    type: string
                    description: Human-readable error message.
                    example: debitDate is mandatory
                  errorCode:
                    type: string
                    description: API error code.
                    example: SIR004
                  action:
                    type: string
                    description: Action that failed.
                    example: SI_RECURRING
              examples:
                validationError:
                  summary: Missing Debit Date
                  value:
                    status: 0
                    message: debitDate is mandatory
                    errorCode: SIR004
                    action: SI_RECURRING
