openapi: 3.1.0
jsonSchemaDialect: https://json-schema.org/draft/2020-12/schema
info:
  title: PayU Payment Links API
  description: >
    Create, manage, and share payment links programmatically. Payment links are

    shareable URLs that let customers pay without a checkout integration.
    Supports

    fixed-amount, open-amount, partial payment, recurring (SI), and eNACH link
    types.

    See the [Payment Links product
    guide](https://docs.payu.in/docs/payment-links-overview).
  contact:
    name: PayU Developer Support
    url: https://developers.payu.in
  version: '1.0'
externalDocs:
  description: Payment Links — Product Guide
  url: https://docs.payu.in/docs/payment-links-overview
servers:
  - url: https://uatoneapi.payu.in
    description: Test (UAT)
  - url: https://oneapi.payu.in
    description: Production
paths:
  /oauth/token:
    post:
      tags:
        - Authentication
      summary: Get Access Token
      operationId: GetAccessTokenAPI
      description: >
        Exchange your `client_id` and `client_secret` for a short-lived Bearer
        token.

        Pass the returned `access_token` as `Authorization: Bearer
        {access_token}` in

        every subsequent Payment Links API call. A single token can carry up to
        three

        scopes simultaneously (space-separated).


        **Scopes:**

        - `create_payment_links` — Create Payment Link

        - `update_payment_links` — Update / Cancel Payment Link

        - `read_payment_links` — Fetch Payment Link · Fetch All · Share · Get
        Transaction Details
      deprecated: false
      security: []
      servers:
        - url: https://uat-accounts.payu.in
          description: Test (UAT)
        - url: https://accounts.payu.in
          description: Production
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAuthTokenRequest'
            examples:
              createLinks:
                summary: Token for creating payment links
                value:
                  client_id: '{{client_id}}'
                  client_secret: '{{client_secret}}'
                  grant_type: client_credentials
                  scope: create_payment_links
              allScopes:
                summary: Token with all three scopes
                value:
                  client_id: '{{client_id}}'
                  client_secret: '{{client_secret}}'
                  grant_type: client_credentials
                  scope: create_payment_links update_payment_links read_payment_links
      responses:
        '200':
          description: Token generated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthTokenResponse'
              examples:
                success:
                  summary: Success – token returned
                  value:
                    access_token: >-
                      ea4ed864b4d2a04b90c1e987a5d25a5da1d43fa5f7d123be6814a1e973f196c4
                    token_type: Bearer
                    expires_in: 7200
                    scope: >-
                      create_payment_links update_payment_links
                      read_payment_links
                    created_at: 1763036368
        '401':
          description: Client authentication failure or invalid scope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthErrorResponse'
              examples:
                invalidClient:
                  summary: Invalid client credentials
                  value:
                    error: invalid_client
                    error_description: >-
                      Client authentication failed due to unknown client, no
                      client authentication included, or unsupported
                      authentication method.
                invalidScope:
                  summary: Invalid scope
                  value:
                    error: invalid_scope
                    error_description: The requested scope is invalid, unknown, or malformed.
                unauthorizedClient:
                  summary: Unauthorized client
                  value:
                    error: unauthorized_client
                    error_description: >-
                      The authenticated client is not authorized to use this
                      authorization grant type.
                rateLimitExceeded:
                  summary: Rate limit exceeded
                  value:
                    error: rate_limit_exceeded
                    error_description: Too many requests. Please retry after some time.
                    retry_after: 60
                serverError:
                  summary: Server error
                  value:
                    error: server_error
                    error_description: >-
                      The authorization server encountered an unexpected
                      condition.
      x-readme:
        code-samples:
          - language: curl
            name: cURL
            code: >
              curl --location --request POST
              'https://uat-accounts.payu.in/oauth/token' \

              --header 'Content-Type: application/x-www-form-urlencoded' \

              --data-urlencode 'client_id={{client_id}}' \

              --data-urlencode 'client_secret={{client_secret}}' \

              --data-urlencode 'grant_type=client_credentials' \

              --data-urlencode 'scope=create_payment_links update_payment_links
              read_payment_links'
          - language: python
            name: Python
            code: |
              import requests

              response = requests.post(
                  "https://uat-accounts.payu.in/oauth/token",
                  data={
                      "client_id":     "{{client_id}}",
                      "client_secret": "{{client_secret}}",
                      "grant_type":    "client_credentials",
                      "scope":         "create_payment_links update_payment_links read_payment_links"
                  }
              )
              access_token = response.json()["access_token"]
          - language: php
            name: PHP
            code: |
              <?php
              $ch = curl_init('https://uat-accounts.payu.in/oauth/token');
              curl_setopt_array($ch, [
                  CURLOPT_RETURNTRANSFER => true,
                  CURLOPT_POST           => true,
                  CURLOPT_POSTFIELDS     => http_build_query([
                      'client_id'     => '{{client_id}}',
                      'client_secret' => '{{client_secret}}',
                      'grant_type'    => 'client_credentials',
                      'scope'         => 'create_payment_links update_payment_links read_payment_links'
                  ]),
                  CURLOPT_HTTPHEADER => ['Content-Type: application/x-www-form-urlencoded']
              ]);
              $data = json_decode(curl_exec($ch), true);
              echo $data['access_token'];
          - language: node
            name: Node.js
            code: |
              const axios = require('axios');
              const qs = require('querystring');

              const { data } = await axios.post(
                'https://uat-accounts.payu.in/oauth/token',
                qs.stringify({
                  client_id:     '{{client_id}}',
                  client_secret: '{{client_secret}}',
                  grant_type:    'client_credentials',
                  scope:         'create_payment_links update_payment_links read_payment_links'
                }),
                { headers: { 'Content-Type': 'application/x-www-form-urlencoded' } }
              );
              const { access_token, expires_in } = data;
  /oauth/revoke:
    post:
      tags:
        - Authentication
      summary: Revoke Token API
      operationId: RevokeTokenAPI
      description: >
        Invalidate an existing Bearer token immediately, before its natural
        expiry.

        Use this when rotating credentials or when a token may have been
        exposed.


        A successful revocation returns **HTTP 200 with an empty body**. Any

        subsequent call using the revoked token will return `invalid_token`.
      deprecated: false
      security: []
      servers:
        - url: https://uat-accounts.payu.in
          description: Test (UAT)
        - url: https://accounts.payu.in
          description: Production
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAuthRevokeRequest'
            examples:
              basic:
                summary: Revoke a token
                value:
                  client_id: '{{client_id}}'
                  client_secret: '{{client_secret}}'
                  token: '{{access_token}}'
      responses:
        '200':
          description: >
            Token revoked successfully. Response body is empty.

            Any API call using the revoked token will now return
            `invalid_token`.
        '401':
          description: Invalid client credentials or token already invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthErrorResponse'
              examples:
                invalidClient:
                  summary: Invalid client credentials
                  value:
                    error: invalid_client
                    error_description: >-
                      Client authentication failed due to unknown client, no
                      client authentication included, or unsupported
                      authentication method.
                invalidToken:
                  summary: Token already invalid or revoked
                  value:
                    error: invalid_token
                    error_description: The token is invalid or has already been revoked.
      x-readme:
        code-samples:
          - language: curl
            name: cURL
            code: >
              curl --location --request POST
              'https://uat-accounts.payu.in/oauth/revoke' \

              --header 'Content-Type: application/x-www-form-urlencoded' \

              --data-urlencode 'client_id={{client_id}}' \

              --data-urlencode 'client_secret={{client_secret}}' \

              --data-urlencode 'token={{access_token}}'
          - language: python
            name: Python
            code: |
              import requests

              response = requests.post(
                  "https://uat-accounts.payu.in/oauth/revoke",
                  data={
                      "client_id":     "{{client_id}}",
                      "client_secret": "{{client_secret}}",
                      "token":         "{{access_token}}"
                  }
              )
              print(response.status_code)  # 200 = success
          - language: node
            name: Node.js
            code: |
              const axios = require('axios');
              const qs = require('querystring');

              const response = await axios.post(
                'https://uat-accounts.payu.in/oauth/revoke',
                qs.stringify({
                  client_id:     '{{client_id}}',
                  client_secret: '{{client_secret}}',
                  token:         '{{access_token}}'
                }),
                { headers: { 'Content-Type': 'application/x-www-form-urlencoded' } }
              );
              console.log(response.status); // 200
  /payment-links:
    post:
      tags:
        - Payment Links
      summary: Create Payment Link
      operationId: CreatePaymentLinkAPI
      description: >
        Create Payment Link generates a new shareable payment link that you can

        send to your customer via SMS, email, or WhatsApp. Supports
        fixed-amount,

        open-amount, partial payment, recurring (SI), and eNACH link types.
      deprecated: false
      externalDocs:
        description: Payment Links product guide
        url: https://docs.payu.in/docs/payment-links-overview
      security:
        - httpBearer: []
      parameters:
        - name: merchantId
          in: header
          required: true
          description: >-
            Your PayU Merchant ID. Find this in the PayU Dashboard under Account
            Settings.
          schema:
            type: string
            example: '505678'
      requestBody:
        required: true
        description: >-
          Payment link creation parameters. `description` and `source` are
          always required.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentLinkRequest'
            examples:
              basic:
                summary: Basic fixed-amount link
                value:
                  subAmount: 1499
                  description: 'Order #ORD-2026-88421 – Wireless Headphones'
                  source: API
                  invoiceNumber: ORD-2026-88421
                  expiryDate: '2026-10-15 23:59:59'
                  customer:
                    name: Arjun Mehta
                    email: arjun.mehta@example.com
                    phone: '9876543210'
                  udf:
                    udf1: electronics
                    udf2: app-checkout
                  viaEmail: true
                  viaSms: true
                  isPartialPaymentAllowed: false
              openAmount:
                summary: Open-amount link (customer enters amount)
                value:
                  description: Donation – Help us plant trees
                  source: API
                  isAmountFilledByCustomer: true
                  customer:
                    name: Priya Sharma
                    email: priya.sharma@example.com
                    phone: '9123456789'
                  viaEmail: true
              partialPayment:
                summary: Partial payment link
                value:
                  subAmount: 5000
                  description: Advance booking – Photography session
                  source: API
                  isPartialPaymentAllowed: true
                  minAmountForCustomer: 1000
                  customer:
                    name: Rahul Gupta
                    email: rahul.gupta@example.com
                    phone: '9988776655'
                  viaSms: true
              enach:
                summary: eNACH recurring payment link
                value:
                  description: Monthly SIP – ₹2000
                  source: si_payment_link
                  enforcePayMethod: enach
                  customer:
                    name: Deepa Nair
                    email: deepa.nair@example.com
                    phone: '9000011111'
                  siDetails:
                    billingAmount: 2000
                    billingCycle: MONTHLY
                    billingInterval: 1
                    paymentStartDate: '2026-11-01'
                    paymentEndDate: '2027-10-31'
                    isNoExpiry: false
                    bankDetails:
                      bankCode: SBIIN
                      bankAccountNumber: XXXX1234
                      ifsc: SBIN0001234
                      accountType: SAVINGS
                      authenticationMethod: DEBIT_CARD
      responses:
        '200':
          description: >
            PayU always returns HTTP 200. Check `status`: `0` = success, `-1` =
            failure.

            The `message` field contains the plain-English reason for failures.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePaymentLinkResponse'
              examples:
                success:
                  summary: Success – link created
                  value:
                    status: 0
                    message: paymentLink generated
                    result:
                      subAmount: 1499
                      tax: 0
                      shippingCharge: 0
                      totalAmount: 1499
                      invoiceNumber: ORD-2026-88421
                      paymentLink: https://pp72.pmny.in/WxYzAbCdEfGh
                      description: 'Order #ORD-2026-88421 – Wireless Headphones'
                      active: true
                      isPartialPaymentAllowed: false
                      expiryDate: '2026-10-15 23:59:59'
                      udf:
                        udf1: electronics
                        udf2: app-checkout
                        udf3: null
                        udf4: null
                        udf5: null
                      address:
                        line1: null
                        line2: null
                        city: null
                        state: null
                        country: null
                        zipCode: null
                      emailStatus: sent
                      smsStatus: sent
                    errorCode: null
                    guid: null
                failureDuplicate:
                  summary: Failure – duplicate invoiceNumber
                  value:
                    status: -1
                    message: >-
                      Invoice Number already exists. Please enter new invoice
                      number.
                    result: null
                    errorCode: null
                    guid: null
                failureMissingParam:
                  summary: Failure – missing required parameter
                  value:
                    status: -1
                    message: description is required.
                    result: null
                    errorCode: null
                    guid: null
                failureAmount:
                  summary: Failure – zero or missing amount
                  value:
                    status: -1
                    message: Amount must be greater than 0.
                    result: null
                    errorCode: null
                    guid: null
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-readme:
        code-samples:
          - language: curl
            name: cURL
            code: >
              curl --location --request POST
              'https://uatoneapi.payu.in/payment-links' \

              --header 'Authorization: Bearer {{access_token}}' \

              --header 'merchantId: {{merchantId}}' \

              --header 'Content-Type: application/json' \

              --data-raw '{
                "subAmount": 1499,
                "description": "Order #ORD-2026-88421 – Wireless Headphones",
                "source": "API",
                "invoiceNumber": "ORD-2026-88421",
                "expiryDate": "2026-10-15 23:59:59",
                "customer": {
                  "name": "Arjun Mehta",
                  "email": "arjun.mehta@example.com",
                  "phone": "9876543210"
                },
                "udf": {
                  "udf1": "electronics",
                  "udf2": "app-checkout"
                },
                "viaEmail": true,
                "viaSms": true,
                "isPartialPaymentAllowed": false
              }'
          - language: python
            name: Python
            code: |
              import requests

              url = "https://uatoneapi.payu.in/payment-links"
              headers = {
                  "Authorization": "Bearer {{access_token}}",
                  "merchantId": "{{merchantId}}",
                  "Content-Type": "application/json"
              }
              payload = {
                  "subAmount": 1499,
                  "description": "Order #ORD-2026-88421 – Wireless Headphones",
                  "source": "API",
                  "invoiceNumber": "ORD-2026-88421",
                  "expiryDate": "2026-10-15 23:59:59",
                  "customer": {
                      "name": "Arjun Mehta",
                      "email": "arjun.mehta@example.com",
                      "phone": "9876543210"
                  },
                  "udf": {
                      "udf1": "electronics",
                      "udf2": "app-checkout"
                  },
                  "viaEmail": True,
                  "viaSms": True,
                  "isPartialPaymentAllowed": False
              }
              response = requests.post(url, headers=headers, json=payload)
              print(response.json())
          - language: php
            name: PHP
            code: |
              <?php
              $url = "https://uatoneapi.payu.in/payment-links";
              $payload = json_encode([
                  "subAmount"               => 1499,
                  "description"             => "Order #ORD-2026-88421 – Wireless Headphones",
                  "source"                  => "API",
                  "invoiceNumber"           => "ORD-2026-88421",
                  "expiryDate"              => "2026-10-15 23:59:59",
                  "customer"                => [
                      "name"  => "Arjun Mehta",
                      "email" => "arjun.mehta@example.com",
                      "phone" => "9876543210"
                  ],
                  "udf"                     => [
                      "udf1" => "electronics",
                      "udf2" => "app-checkout"
                  ],
                  "viaEmail"                => true,
                  "viaSms"                  => true,
                  "isPartialPaymentAllowed" => false
              ]);
              $ch = curl_init($url);
              curl_setopt_array($ch, [
                  CURLOPT_RETURNTRANSFER => true,
                  CURLOPT_POST           => true,
                  CURLOPT_POSTFIELDS     => $payload,
                  CURLOPT_HTTPHEADER     => [
                      "Authorization: Bearer {{access_token}}",
                      "merchantId: {{merchantId}}",
                      "Content-Type: application/json"
                  ]
              ]);
              echo curl_exec($ch);
              curl_close($ch);
          - language: node
            name: Node.js
            code: |
              const axios = require('axios');

              const response = await axios.post(
                'https://uatoneapi.payu.in/payment-links',
                {
                  subAmount: 1499,
                  description: 'Order #ORD-2026-88421 – Wireless Headphones',
                  source: 'API',
                  invoiceNumber: 'ORD-2026-88421',
                  expiryDate: '2026-10-15 23:59:59',
                  customer: {
                    name: 'Arjun Mehta',
                    email: 'arjun.mehta@example.com',
                    phone: '9876543210'
                  },
                  udf: { udf1: 'electronics', udf2: 'app-checkout' },
                  viaEmail: true,
                  viaSms: true,
                  isPartialPaymentAllowed: false
                },
                {
                  headers: {
                    'Authorization': 'Bearer {{access_token}}',
                    'merchantId': '{{merchantId}}',
                    'Content-Type': 'application/json'
                  }
                }
              );
              console.log(response.data);
      x-internal: true
    get:
      tags:
        - Payment Links
      summary: Fetch All Payment Links
      operationId: FetchAllPaymentLinksAPI
      description: >-
        Fetch All Payment Links retrieves a paginated list of payment links with
        optional filters.
      deprecated: false
      security:
        - httpBearer: []
      parameters:
        - name: merchantId
          in: header
          required: true
          schema:
            type: string
            example: '505678'
        - name: status
          in: query
          required: false
          description: Filter by link status.
          schema:
            type: string
            enum:
              - active
              - expired
              - cancelled
        - name: pageNumber
          in: query
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
            default: 1
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 50
            default: 10
      responses:
        '200':
          description: >-
            PayU always returns HTTP 200. Check `status`: `0` = success, `-1` =
            failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPaymentLinksResponse'
              examples:
                success:
                  summary: Success – results returned
                  value:
                    status: 0
                    message: success
                    result:
                      total: 3
                      pageNumber: 1
                      pageSize: 10
                      data:
                        - invoiceNumber: ORD-2026-88421
                          paymentLink: https://pp72.pmny.in/WxYzAbCdEfGh
                          description: 'Order #ORD-2026-88421 – Wireless Headphones'
                          totalAmount: 1499
                          active: true
                          expiryDate: '2026-10-15 23:59:59'
                    errorCode: null
                    guid: null
                empty:
                  summary: Success – no results
                  value:
                    status: 0
                    message: No records found
                    result:
                      total: 0
                      pageNumber: 1
                      pageSize: 10
                      data: []
                    errorCode: null
                    guid: null
                failure:
                  summary: Failure – invalid filter value
                  value:
                    status: -1
                    message: Invalid status value.
                    result: null
                    errorCode: null
                    guid: null
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-readme:
        code-samples:
          - language: curl
            name: cURL
            code: >
              curl --location
              'https://uatoneapi.payu.in/payment-links?status=active&pageNumber=1&pageSize=10'
              \

              --header 'Authorization: Bearer {{access_token}}' \

              --header 'merchantId: {{merchantId}}'
          - language: python
            name: Python
            code: |
              import requests

              response = requests.get(
                  "https://uatoneapi.payu.in/payment-links",
                  headers={"Authorization": "Bearer {{access_token}}", "merchantId": "{{merchantId}}"},
                  params={"status": "active", "pageNumber": 1, "pageSize": 10}
              )
              print(response.json())
          - language: php
            name: PHP
            code: >
              <?php

              $ch =
              curl_init("https://uatoneapi.payu.in/payment-links?status=active&pageNumber=1&pageSize=10");

              curl_setopt_array($ch, [
                  CURLOPT_RETURNTRANSFER => true,
                  CURLOPT_HTTPHEADER     => [
                      "Authorization: Bearer {{access_token}}",
                      "merchantId: {{merchantId}}"
                  ]
              ]);

              echo curl_exec($ch);

              curl_close($ch);
          - language: node
            name: Node.js
            code: |
              const axios = require('axios');
              const response = await axios.get(
                'https://uatoneapi.payu.in/payment-links',
                {
                  params: { status: 'active', pageNumber: 1, pageSize: 10 },
                  headers: { 'Authorization': 'Bearer {{access_token}}', 'merchantId': '{{merchantId}}' }
                }
              );
              console.log(response.data);
      x-internal: true
  /payment-links/{invoiceNumber}:
    get:
      tags:
        - Payment Links
      summary: Fetch Payment Link
      operationId: FetchPaymentLinkAPI
      description: >-
        Fetch Payment Link retrieves the current state of a payment link using
        its invoiceNumber.
      deprecated: false
      security:
        - httpBearer: []
      parameters:
        - name: invoiceNumber
          in: path
          required: true
          description: The unique invoiceNumber of the payment link to retrieve.
          schema:
            type: string
            example: ORD-2026-88421
        - name: merchantId
          in: header
          required: true
          schema:
            type: string
            example: '505678'
      responses:
        '200':
          description: >-
            PayU always returns HTTP 200. Check `status`: `0` = success, `-1` =
            failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FetchPaymentLinkResponse'
              examples:
                success:
                  summary: Success
                  value:
                    status: 0
                    message: success
                    result:
                      invoiceNumber: ORD-2026-88421
                      paymentLink: https://pp72.pmny.in/WxYzAbCdEfGh
                      description: 'Order #ORD-2026-88421 – Wireless Headphones'
                      subAmount: 1499
                      tax: 0
                      shippingCharge: 0
                      totalAmount: 1499
                      active: true
                      isPartialPaymentAllowed: false
                      expiryDate: '2026-10-15 23:59:59'
                      emailStatus: not opted
                      smsStatus: not opted
                    errorCode: null
                    guid: null
                notFound:
                  summary: Failure – link not found
                  value:
                    status: -1
                    message: Payment link not found.
                    result: null
                    errorCode: null
                    guid: null
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-readme:
        code-samples:
          - language: curl
            name: cURL
            code: >
              curl --location
              'https://uatoneapi.payu.in/payment-links/ORD-2026-88421' \

              --header 'Authorization: Bearer {{access_token}}' \

              --header 'merchantId: {{merchantId}}'
          - language: python
            name: Python
            code: |
              import requests
              response = requests.get(
                  "https://uatoneapi.payu.in/payment-links/ORD-2026-88421",
                  headers={"Authorization": "Bearer {{access_token}}", "merchantId": "{{merchantId}}"}
              )
              print(response.json())
          - language: php
            name: PHP
            code: >
              <?php

              $ch =
              curl_init("https://uatoneapi.payu.in/payment-links/ORD-2026-88421");

              curl_setopt_array($ch, [
                  CURLOPT_RETURNTRANSFER => true,
                  CURLOPT_HTTPHEADER     => [
                      "Authorization: Bearer {{access_token}}",
                      "merchantId: {{merchantId}}"
                  ]
              ]);

              echo curl_exec($ch);

              curl_close($ch);
          - language: node
            name: Node.js
            code: |
              const axios = require('axios');
              const response = await axios.get(
                'https://uatoneapi.payu.in/payment-links/ORD-2026-88421',
                { headers: { 'Authorization': 'Bearer {{access_token}}', 'merchantId': '{{merchantId}}' } }
              );
              console.log(response.data);
    put:
      tags:
        - Payment Links
      summary: Update Payment Link
      operationId: UpdatePaymentLinkAPI
      description: >-
        Update Payment Link modifies the configuration of an existing active
        payment link.
      deprecated: false
      security:
        - httpBearer: []
      parameters:
        - name: invoiceNumber
          in: path
          required: true
          description: The invoiceNumber of the payment link to update.
          schema:
            type: string
            example: ORD-2026-88421
        - name: merchantId
          in: header
          required: true
          schema:
            type: string
            example: '505678'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePaymentLinkRequest'
      responses:
        '200':
          description: >-
            PayU always returns HTTP 200. Check `status`: `0` = success, `-1` =
            failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePaymentLinkResponse'
              examples:
                success:
                  summary: Success
                  value:
                    status: 0
                    message: Payment link updated successfully
                    result:
                      invoiceNumber: ORD-2026-88421
                      paymentLink: https://pp72.pmny.in/WxYzAbCdEfGh
                      description: 'Order #ORD-2026-88421 – Wireless Headphones'
                      subAmount: 1999
                      tax: 0
                      shippingCharge: 0
                      totalAmount: 1999
                      active: true
                      expiryDate: '2026-11-30 23:59:59'
                    errorCode: null
                    guid: null
                notFound:
                  summary: Failure – link not found
                  value:
                    status: -1
                    message: Payment link not found.
                    result: null
                    errorCode: null
                    guid: null
                alreadyPaid:
                  summary: Failure – link already paid
                  value:
                    status: -1
                    message: Cannot update a payment link that has already been paid.
                    result: null
                    errorCode: null
                    guid: null
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-readme:
        code-samples:
          - language: curl
            name: cURL
            code: >
              curl --location --request PUT
              'https://uatoneapi.payu.in/payment-links/ORD-2026-88421' \

              --header 'Authorization: Bearer {{access_token}}' \

              --header 'merchantId: {{merchantId}}' \

              --header 'Content-Type: application/json' \

              --data-raw '{
                "expiryDate": "2026-11-30 23:59:59",
                "subAmount": 1999
              }'
          - language: python
            name: Python
            code: |
              import requests
              response = requests.put(
                  "https://uatoneapi.payu.in/payment-links/ORD-2026-88421",
                  headers={"Authorization": "Bearer {{access_token}}", "merchantId": "{{merchantId}}", "Content-Type": "application/json"},
                  json={"expiryDate": "2026-11-30 23:59:59", "subAmount": 1999}
              )
              print(response.json())
          - language: php
            name: PHP
            code: >
              <?php

              $ch =
              curl_init("https://uatoneapi.payu.in/payment-links/ORD-2026-88421");

              curl_setopt_array($ch, [
                  CURLOPT_RETURNTRANSFER => true,
                  CURLOPT_CUSTOMREQUEST  => "PUT",
                  CURLOPT_POSTFIELDS     => json_encode(["expiryDate" => "2026-11-30 23:59:59", "subAmount" => 1999]),
                  CURLOPT_HTTPHEADER     => [
                      "Authorization: Bearer {{access_token}}",
                      "merchantId: {{merchantId}}",
                      "Content-Type: application/json"
                  ]
              ]);

              echo curl_exec($ch);

              curl_close($ch);
          - language: node
            name: Node.js
            code: |
              const axios = require('axios');
              const response = await axios.put(
                'https://uatoneapi.payu.in/payment-links/ORD-2026-88421',
                { expiryDate: '2026-11-30 23:59:59', subAmount: 1999 },
                { headers: { 'Authorization': 'Bearer {{access_token}}', 'merchantId': '{{merchantId}}', 'Content-Type': 'application/json' } }
              );
              console.log(response.data);
    delete:
      tags:
        - Payment Links
      summary: Cancel Payment Link
      operationId: CancelPaymentLinkAPI
      description: >-
        Cancel Payment Link deactivates an existing payment link so it can no
        longer accept payments.
      deprecated: false
      security:
        - httpBearer: []
      parameters:
        - name: invoiceNumber
          in: path
          required: true
          description: The invoiceNumber of the payment link to cancel.
          schema:
            type: string
            example: ORD-2026-88421
        - name: merchantId
          in: header
          required: true
          schema:
            type: string
            example: '505678'
      responses:
        '200':
          description: >-
            PayU always returns HTTP 200. Check `status`: `0` = success, `-1` =
            failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelPaymentLinkResponse'
              examples:
                success:
                  summary: Success
                  value:
                    status: 0
                    message: Payment link cancelled successfully
                    result: null
                    errorCode: null
                    guid: null
                alreadyCancelled:
                  summary: Failure – already cancelled
                  value:
                    status: -1
                    message: Payment link is already cancelled.
                    result: null
                    errorCode: null
                    guid: null
                alreadyPaid:
                  summary: Failure – link already paid
                  value:
                    status: -1
                    message: Cannot cancel a payment link that has already been paid.
                    result: null
                    errorCode: null
                    guid: null
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-readme:
        code-samples:
          - language: curl
            name: cURL
            code: >
              curl --location --request DELETE
              'https://uatoneapi.payu.in/payment-links/ORD-2026-88421' \

              --header 'Authorization: Bearer {{access_token}}' \

              --header 'merchantId: {{merchantId}}'
          - language: python
            name: Python
            code: |
              import requests
              response = requests.delete(
                  "https://uatoneapi.payu.in/payment-links/ORD-2026-88421",
                  headers={"Authorization": "Bearer {{access_token}}", "merchantId": "{{merchantId}}"}
              )
              print(response.json())
          - language: php
            name: PHP
            code: >
              <?php

              $ch =
              curl_init("https://uatoneapi.payu.in/payment-links/ORD-2026-88421");

              curl_setopt_array($ch, [
                  CURLOPT_RETURNTRANSFER => true,
                  CURLOPT_CUSTOMREQUEST  => "DELETE",
                  CURLOPT_HTTPHEADER     => [
                      "Authorization: Bearer {{access_token}}",
                      "merchantId: {{merchantId}}"
                  ]
              ]);

              echo curl_exec($ch);

              curl_close($ch);
          - language: node
            name: Node.js
            code: |
              const axios = require('axios');
              const response = await axios.delete(
                'https://uatoneapi.payu.in/payment-links/ORD-2026-88421',
                { headers: { 'Authorization': 'Bearer {{access_token}}', 'merchantId': '{{merchantId}}' } }
              );
              console.log(response.data);
components:
  responses:
    Unauthorized:
      description: Invalid or expired Bearer token, or token is missing the required scope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OAuthErrorResponse'
          examples:
            invalidToken:
              summary: Expired or invalid token
              value:
                error: invalid_token
                error_description: The access token is invalid or has expired.
            missingScope:
              summary: Token missing required scope
              value:
                error: insufficient_scope
                error_description: The requested scope is invalid, unknown, or malformed.
  schemas:
    CreatePaymentLinkRequest:
      title: CreatePaymentLinkRequest
      type: object
      required:
        - description
        - source
      properties:
        description:
          type: string
          description: >-
            Purpose of the payment link. Shown to the customer on the checkout
            page.
          minLength: 1
          maxLength: 255
          example: 'Order #ORD-2026-88421 – Wireless Headphones'
        source:
          type: string
          description: >-
            Origin of the link. Pass `"API"` for standard links;
            `"si_payment_link"` for recurring SI links.
          enum:
            - API
            - si_payment_link
          example: API
        subAmount:
          type: integer
          format: int32
          description: >-
            Base payment amount in whole INR. Required unless
            `isAmountFilledByCustomer` is `true`. Must be greater than 0.
          minimum: 1
          example: 1499
        tax:
          type: integer
          format: int32
          description: >-
            Tax amount in INR. Added to `subAmount` when calculating
            `totalAmount`.
          minimum: 0
          example: 150
        shippingCharge:
          type: integer
          format: int32
          description: >-
            Shipping charge in INR. Added to `subAmount` when calculating
            `totalAmount`.
          minimum: 0
          example: 50
        discount:
          type: integer
          format: int32
          description: Discount amount in INR to subtract from the total.
          minimum: 0
          example: 100
        adjustment:
          type: integer
          format: int32
          description: Adjustment amount in INR. Can be positive or negative.
          example: 0
        currency:
          type: string
          description: >-
            ISO 4217 currency code. Defaults to `"INR"`. Required for
            cross-border or DCC links.
          default: INR
          example: INR
        invoiceNumber:
          type: string
          description: >-
            Your unique reference ID for this link (e.g., your order ID). Max 25
            characters, alphanumeric. Must be unique per merchant. PayU
            auto-generates if omitted.
          maxLength: 25
          example: ORD-2026-88421
        expiryDate:
          type: string
          description: >-
            Link expiry in `YYYY-MM-DD HH:mm:ss` format. Must be a future date.
            Defaults to 7 days from creation.
          example: '2026-10-15 23:59:59'
        isPartialPaymentAllowed:
          type: boolean
          description: >-
            Set to `true` to allow the customer to pay less than `totalAmount`.
            Use `minAmountForCustomer` to set the floor.
          default: false
          example: false
        minAmountForCustomer:
          type: integer
          format: int32
          description: >-
            Minimum amount the customer must pay when `isPartialPaymentAllowed`
            is `true`.
          minimum: 1
          example: 500
        maxPaymentsAllowed:
          type: integer
          format: int32
          description: >-
            Maximum number of payment attempts allowed against this link.
            Defaults to 1.
          minimum: 1
          default: 1
          example: 1
        isAmountFilledByCustomer:
          type: boolean
          description: >-
            Set to `true` for open-amount links where the customer enters the
            amount at checkout. When `true`, `subAmount` is not required.
          default: false
          example: false
        customer:
          $ref: '#/components/schemas/Customer'
        address:
          $ref: '#/components/schemas/Address'
        udf:
          $ref: '#/components/schemas/Udf'
        viaEmail:
          type: boolean
          description: >-
            Set to `true` to send the link to `customer.email` immediately after
            creation.
          default: false
          example: true
        viaSms:
          type: boolean
          description: >-
            Set to `true` to send the link to `customer.phone` via SMS
            immediately after creation.
          default: false
          example: true
        viaWhatsapp:
          type: boolean
          description: >-
            Set to `true` to send the link to `customer.phone` via WhatsApp
            immediately after creation.
          default: false
          example: false
        emailTemplateName:
          type: string
          description: >-
            Custom email template name configured in your PayU Dashboard. Uses
            the default template if omitted.
        smsTemplateName:
          type: string
          description: >-
            Custom SMS template name configured in your PayU Dashboard. Uses the
            default template if omitted.
        enforcePayMethod:
          type: string
          description: >-
            Restrict checkout to specific payment methods. Separate multiple
            values with `|`. For eNACH-only links, pass `"enach"` as the sole
            value.
          example: cc|dc
        enforcePG:
          type: string
          description: >-
            Enforce a specific payment gateway or mode. Used for TPV and
            specialised routing.
          example: CC
        dropCategory:
          type: string
          description: >-
            Hide specific payment options from checkout. Separate multiple
            values with `|`. Example: `"EMI"` hides EMI options.
          example: EMI
        successURL:
          type: string
          format: uri
          description: >-
            URL PayU redirects the customer to after a successful payment.
            Overrides the Dashboard default for this link.
          example: https://yourstore.com/payment/success
        failureURL:
          type: string
          format: uri
          description: >-
            URL PayU redirects the customer to after a failed payment. Overrides
            the Dashboard default for this link.
          example: https://yourstore.com/payment/failure
        siDetails:
          $ref: '#/components/schemas/SiDetails'
        cart_details:
          $ref: '#/components/schemas/CartDetails'
        aggregatorSplitInfo:
          $ref: '#/components/schemas/AggregatorSplitInfo'
        customAttributes:
          type: array
          items:
            $ref: '#/components/schemas/CustomAttribute'
          description: >-
            Array of custom key-value objects passed through to the webhook
            payload unchanged.
        reminder:
          $ref: '#/components/schemas/Reminder'
        userToken:
          type: string
          description: PayU Vault user token for tokenised card pre-selection.
        userCredentials:
          type: string
          description: PayU Vault saved card credentials for tokenised card pre-selection.
        transactionId:
          type: string
          description: >-
            Specific transaction ID to associate with this link at the time of
            payment.
          example: TXN1234567
        validationPeriod:
          type: string
          description: Validation period for the mandate or link. Used with `timeUnit`.
        timeUnit:
          type: string
          description: 'Time unit for `validationPeriod`. Example: `"DAYS"`, `"MONTHS"`.'
        scheduledFor:
          type: string
          description: >-
            ISO 8601 date/time string specifying when a scheduled link should be
            dispatched.
        batchId:
          type: string
          description: Identifier for grouping multiple payment links in a batch operation.
          example: BATCH-OCT-2026
        notes:
          type: string
          description: Internal notes about this link. Not shown to the customer.
          example: Created via orders service v2
        isActive:
          type: boolean
          description: Set to `true` to activate the link on creation. Defaults to `true`.
          default: true
          example: true
    UpdatePaymentLinkRequest:
      title: UpdatePaymentLinkRequest
      type: object
      description: >-
        Fields to update on an existing payment link. Only pass the fields you
        want to change.
      properties:
        subAmount:
          type: integer
          format: int32
          description: Updated base amount in whole INR.
          minimum: 1
          example: 1999
        expiryDate:
          type: string
          description: >-
            Updated expiry date in `YYYY-MM-DD HH:mm:ss` format. Must be a
            future date.
          example: '2026-11-30 23:59:59'
        description:
          type: string
          description: Updated purpose description.
          maxLength: 255
          example: Updated order description
        isPartialPaymentAllowed:
          type: boolean
          description: Update whether partial payments are allowed.
          example: true
        minAmountForCustomer:
          type: integer
          format: int32
          description: Updated minimum partial payment amount.
          minimum: 1
          example: 500
        viaEmail:
          type: boolean
          description: Resend the link via email.
          example: true
        viaSms:
          type: boolean
          description: Resend the link via SMS.
          example: false
    CreatePaymentLinkResponse:
      title: CreatePaymentLinkResponse
      type: object
      description: >-
        Response envelope for Create Payment Link. Always HTTP 200 — check
        `status` for outcome.
      properties:
        status:
          type: integer
          format: int32
          description: Result code. `0` = success. `-1` = failure.
          enum:
            - 0
            - -1
          example: 0
        message:
          type: string
          description: >-
            Human-readable result. On failure, contains the plain-English
            reason.
          example: paymentLink generated
        result:
          description: Created payment link details on success. `null` on failure.
          oneOf:
            - $ref: '#/components/schemas/PaymentLinkResult'
            - type: 'null'
        errorCode:
          type:
            - string
            - 'null'
          description: >-
            Machine-readable error code when `status` is `-1`. `null` on
            success.
          example: null
        guid:
          type:
            - string
            - 'null'
          description: Internal PayU transaction reference. `null` at link-creation stage.
          example: null
    FetchPaymentLinkResponse:
      title: FetchPaymentLinkResponse
      type: object
      description: Response envelope for Fetch Payment Link.
      properties:
        status:
          type: integer
          format: int32
          enum:
            - 0
            - -1
          example: 0
        message:
          type: string
          example: success
        result:
          description: The requested payment link on success. `null` on failure.
          oneOf:
            - $ref: '#/components/schemas/PaymentLinkResult'
            - type: 'null'
        errorCode:
          type:
            - string
            - 'null'
          example: null
        guid:
          type:
            - string
            - 'null'
          example: null
    ListPaymentLinksResponse:
      title: ListPaymentLinksResponse
      type: object
      description: Response envelope for Fetch All Payment Links.
      properties:
        status:
          type: integer
          format: int32
          enum:
            - 0
            - -1
          example: 0
        message:
          type: string
          example: success
        result:
          description: Paginated list of payment links on success. `null` on failure.
          oneOf:
            - $ref: '#/components/schemas/PaginatedPaymentLinks'
            - type: 'null'
        errorCode:
          type:
            - string
            - 'null'
          example: null
        guid:
          type:
            - string
            - 'null'
          example: null
    UpdatePaymentLinkResponse:
      title: UpdatePaymentLinkResponse
      type: object
      description: Response envelope for Update Payment Link.
      properties:
        status:
          type: integer
          format: int32
          enum:
            - 0
            - -1
          example: 0
        message:
          type: string
          example: Payment link updated successfully
        result:
          description: Updated payment link details on success. `null` on failure.
          oneOf:
            - $ref: '#/components/schemas/PaymentLinkResult'
            - type: 'null'
        errorCode:
          type:
            - string
            - 'null'
          example: null
        guid:
          type:
            - string
            - 'null'
          example: null
    CancelPaymentLinkResponse:
      title: CancelPaymentLinkResponse
      type: object
      description: Response envelope for Cancel Payment Link. `result` is always `null`.
      properties:
        status:
          type: integer
          format: int32
          enum:
            - 0
            - -1
          example: 0
        message:
          type: string
          description: >-
            Human-readable result. On failure, contains the plain-English
            reason.
          example: Payment link cancelled successfully
        result:
          type: 'null'
          example: null
        errorCode:
          type:
            - string
            - 'null'
          example: null
        guid:
          type:
            - string
            - 'null'
          example: null
    PaymentLinkResult:
      title: PaymentLinkResult
      type: object
      description: >-
        Payment link object returned inside `result` on successful Create,
        Fetch, and Update responses.
      properties:
        invoiceNumber:
          type: string
          description: >-
            Unique identifier for this payment link. Use this in Fetch, Share,
            and Cancel operations.
          example: ORD-2026-88421
        paymentLink:
          type: string
          format: uri
          description: The shareable URL to send to your customer.
          example: https://pp72.pmny.in/WxYzAbCdEfGh
        description:
          type: string
          description: Payment description as submitted.
          example: 'Order #ORD-2026-88421 – Wireless Headphones'
        subAmount:
          type: integer
          format: int32
          description: Base amount as submitted.
          example: 1499
        tax:
          type: integer
          format: int32
          description: Tax amount as submitted.
          example: 0
        shippingCharge:
          type: integer
          format: int32
          description: Shipping charge as submitted.
          example: 0
        totalAmount:
          type: integer
          format: int32
          description: 'Final payable amount: `subAmount + tax + shippingCharge`.'
          example: 1499
        active:
          type: boolean
          description: '`true` if the link is active and can accept payment.'
          example: true
        isPartialPaymentAllowed:
          type: boolean
          description: Whether partial payment was enabled for this link.
          example: false
        expiryDate:
          type: string
          description: 'Date and time when the link expires. Format: `YYYY-MM-DD HH:mm:ss`.'
          example: '2026-10-15 23:59:59'
        udf:
          $ref: '#/components/schemas/Udf'
        address:
          type: object
          description: >-
            Customer address fields as submitted. `null` for each field not
            provided.
          properties:
            line1:
              type:
                - string
                - 'null'
              example: null
            line2:
              type:
                - string
                - 'null'
              example: null
            city:
              type:
                - string
                - 'null'
              example: null
            state:
              type:
                - string
                - 'null'
              example: null
            country:
              type:
                - string
                - 'null'
              example: null
            zipCode:
              type:
                - string
                - 'null'
              example: null
        emailStatus:
          type: string
          description: >-
            `"sent"` if an email was dispatched. `"not opted"` if `viaEmail` was
            `false` or omitted.
          enum:
            - sent
            - not opted
          example: sent
        smsStatus:
          type: string
          description: >-
            `"sent"` if an SMS was dispatched. `"not opted"` if `viaSms` was
            `false` or omitted.
          enum:
            - sent
            - not opted
          example: sent
    PaginatedPaymentLinks:
      title: PaginatedPaymentLinks
      type: object
      description: Paginated result set returned by Fetch All Payment Links.
      properties:
        total:
          type: integer
          format: int32
          description: Total number of payment links matching the applied filters.
          example: 42
        pageNumber:
          type: integer
          format: int32
          description: Current page number (1-indexed).
          example: 1
        pageSize:
          type: integer
          format: int32
          description: Number of records returned per page.
          example: 10
        data:
          type: array
          items:
            $ref: '#/components/schemas/PaymentLinkResult'
          description: Array of payment link objects for this page.
    Customer:
      title: Customer
      type: object
      required:
        - name
        - email
        - phone
      description: >-
        Customer contact details. All three sub-fields are required within this
        object.
      properties:
        name:
          type: string
          description: Customer's full name. Pre-fills the name field on the checkout page.
          minLength: 1
          maxLength: 100
          example: Arjun Mehta
        email:
          type: string
          format: email
          description: Customer's email address. Required if `viaEmail` is `true`.
          example: arjun.mehta@example.com
        phone:
          type: string
          description: >-
            Customer's 10-digit mobile number without country code. Required if
            `viaSms` or `viaWhatsapp` is `true`.
          pattern: ^[6-9]\d{9}$
          minLength: 10
          maxLength: 10
          example: '9876543210'
    Address:
      title: Address
      type: object
      description: >-
        Customer's billing address. Pre-fills the address fields on the checkout
        page.
      properties:
        line1:
          type: string
          description: First line of the billing address.
          example: 42 MG Road
        line2:
          type: string
          description: Second line of the billing address.
          example: Indiranagar
        city:
          type: string
          description: City for the billing address.
          example: Bengaluru
        state:
          type: string
          description: State for the billing address.
          example: Karnataka
        zipCode:
          type: string
          description: PIN code or ZIP code for the billing address.
          example: '560038'
    Udf:
      title: Udf
      type: object
      description: >-
        User-defined fields. All five values pass through unchanged to webhook,
        successURL, and failureURL callbacks.
      properties:
        udf1:
          type: string
          description: User-defined field 1.
          maxLength: 255
          example: electronics
        udf2:
          type: string
          description: User-defined field 2.
          maxLength: 255
          example: app-checkout
        udf3:
          type: string
          description: User-defined field 3.
          maxLength: 255
        udf4:
          type: string
          description: User-defined field 4.
          maxLength: 255
        udf5:
          type: string
          description: User-defined field 5.
          maxLength: 255
    SiDetails:
      title: SiDetails
      type: object
      required:
        - billingAmount
        - billingCycle
        - paymentStartDate
      description: >-
        Standing Instruction details for recurring payment links. Required when
        creating any recurring or eNACH link. `bankDetails` is required when
        `enforcePayMethod` is `"enach"`.
      properties:
        billingAmount:
          type: integer
          format: int32
          description: >-
            Recurring billing amount in whole INR. For UPI, maximum is ₹15,000
            per transaction.
          minimum: 1
          example: 2000
        billingCurrency:
          type: string
          description: Currency for the billing amount. Defaults to `"INR"`.
          default: INR
          example: INR
        billingCycle:
          type: string
          description: Billing frequency.
          enum:
            - ONCE
            - ADHOC
            - WEEKLY
            - MONTHLY
            - YEARLY
          example: MONTHLY
        billingInterval:
          type: integer
          format: int32
          description: >-
            Number of `billingCycle` units between charges. Example:
            `billingCycle: MONTHLY` + `billingInterval: 3` = every 3 months.
          minimum: 1
          example: 1
        paymentStartDate:
          type: string
          description: >-
            First payment date in `YYYY-MM-DD` format. For UPI, pass today. For
            eNACH, must be T+1 or later.
          example: '2026-11-01'
        paymentEndDate:
          type: string
          description: >-
            Last payment date in `YYYY-MM-DD` format. PayU uses this to
            calculate the total number of iterations.
          example: '2027-10-31'
        isNoExpiry:
          type: boolean
          description: >-
            Set to `true` to create a mandate with no end date. PayU sets the
            end date to 30 years from `paymentStartDate`.
          default: false
          example: false
        isFreeTrial:
          type: boolean
          description: Set to `true` to enable a free trial period before billing begins.
          default: false
          example: false
        remarks:
          type: string
          description: >-
            Additional information about the SI. Shown in PSP applications
            during UPI mandate registration.
        bankDetails:
          $ref: '#/components/schemas/BankDetails'
    BankDetails:
      title: BankDetails
      type: object
      required:
        - bankCode
        - bankAccountNumber
        - ifsc
        - accountType
      description: >-
        Customer's bank account details for eNACH mandate registration. Required
        when `enforcePayMethod` is `"enach"`.
      properties:
        bankCode:
          type: string
          description: >-
            Bank code for the customer's bank. Refer to the eNACH bank codes
            table for supported values.
          example: SBIIN
        bankAccountNumber:
          type: string
          description: Customer's bank account number.
          example: XXXX1234
        ifsc:
          type: string
          description: IFSC code of the customer's bank branch.
          example: SBIN0001234
        accountType:
          type: string
          description: Type of bank account.
          enum:
            - SAVINGS
            - CURRENT
          example: SAVINGS
        authenticationMethod:
          type: string
          description: >-
            Authentication method for eNACH registration. Pass `"DEBIT_CARD"` or
            `"AADHAAR"`. Defaults to net banking if omitted.
          enum:
            - DEBIT_CARD
            - AADHAAR
          example: DEBIT_CARD
    CartDetails:
      title: CartDetails
      type: object
      required:
        - amount
        - items
        - sku_details
      description: >-
        Line-item cart details for itemised receipts and affordability
        integrations.
      properties:
        amount:
          type: integer
          format: int32
          description: Total cart amount in INR.
          example: 1499
        items:
          type: integer
          format: int32
          description: Number of distinct items in the cart.
          example: 1
        sku_details:
          type: array
          items:
            $ref: '#/components/schemas/SkuDetails'
          description: Array of SKU-level line items.
    SkuDetails:
      title: SkuDetails
      type: object
      required:
        - quantity
        - sku_id
        - sku_name
        - amount_per_sku
      description: A single SKU line item in the cart.
      properties:
        sku_id:
          type: string
          description: Your internal SKU identifier.
          example: WH-SENNHEISER-HD450
        sku_name:
          type: string
          description: Display name for the SKU shown on the checkout page.
          example: Sennheiser HD 450BT Wireless Headphones
        quantity:
          type: integer
          format: int32
          description: Quantity of this SKU in the cart.
          minimum: 1
          example: 1
        amount_per_sku:
          type: integer
          format: int32
          description: Unit price per SKU in INR.
          minimum: 1
          example: 1499
        offer_key:
          type: array
          items:
            type: string
          description: Array of offer keys to apply to this SKU.
        offer_auto_apply:
          type: boolean
          description: Set to `true` to automatically apply the offer at checkout.
          example: false
    AggregatorSplitInfo:
      title: AggregatorSplitInfo
      type: object
      required:
        - type
        - splitInfo
      description: Split settlement configuration for marketplace or aggregator merchants.
      properties:
        type:
          type: string
          description: Split calculation method.
          enum:
            - Absolute
            - Percentage
          example: Absolute
        splitInfo:
          type: object
          description: >-
            Merchant-to-split mapping. Keys are sub-merchant IDs; values are
            split amounts or percentages.
          additionalProperties: true
    CustomAttribute:
      title: CustomAttribute
      type: object
      description: A custom key-value pair passed through to webhook payloads unchanged.
      additionalProperties:
        type: string
      example:
        order_channel: mobile_app
        campaign_id: DIWALI2026
    Reminder:
      title: Reminder
      type: object
      required:
        - isScheduled
        - channels
      description: Automated reminder configuration for this payment link.
      properties:
        isScheduled:
          type: boolean
          description: >-
            Set to `true` to enable automated reminders. `type` and `channels`
            must be provided.
          example: true
        type:
          type: string
          description: >-
            When the reminder fires. `0` = before link expiry. `1` = after link
            creation.
          enum:
            - '0'
            - '1'
        channels:
          type: array
          items:
            type: string
            enum:
              - email
              - phone
          description: Delivery channels for the reminder.
          example:
            - email
            - phone
    OAuthTokenRequest:
      title: OAuthTokenRequest
      type: object
      required:
        - client_id
        - client_secret
        - grant_type
        - scope
      description: Form-encoded request body for generating an OAuth 2.0 Bearer token.
      properties:
        client_id:
          type: string
          description: >-
            Your OAuth app's public identifier. Find this in PayU Dashboard →
            Developers → OAuth Apps.
          example: '{{client_id}}'
        client_secret:
          type: string
          description: Your OAuth app's secret key. Never expose this client-side.
          example: '{{client_secret}}'
        grant_type:
          type: string
          description: >-
            Always `client_credentials` for server-to-server Payment Links
            integration.
          enum:
            - client_credentials
          example: client_credentials
        scope:
          type: string
          description: >
            Space-separated list of permissions. A single token supports up to
            three scopes.

            - `create_payment_links` — Create Payment Link

            - `update_payment_links` — Update / Cancel Payment Link

            - `read_payment_links` — Fetch, Share, Get Transaction Details
          example: create_payment_links update_payment_links read_payment_links
    OAuthTokenResponse:
      title: OAuthTokenResponse
      type: object
      description: Response containing the generated Bearer token.
      properties:
        access_token:
          type: string
          description: >-
            The Bearer token. Pass as `Authorization: Bearer {access_token}` on
            all Payment Links API calls. Cache and reuse until `expires_in`
            seconds have elapsed.
          example: ea4ed864b4d2a04b90c1e987a5d25a5da1d43fa5f7d123be6814a1e973f196c4
        token_type:
          type: string
          description: Always `Bearer`.
          example: Bearer
        expires_in:
          type: integer
          format: int32
          description: >-
            Token validity in seconds from time of generation. Configurable per
            OAuth app. Typical value: 7200 (2 hours).
          example: 7200
        scope:
          type: string
          description: >-
            Scopes granted to this token. Verify this matches what you
            requested.
          example: create_payment_links update_payment_links read_payment_links
        created_at:
          type: integer
          description: >-
            UNIX timestamp (UTC) when the token was issued. Add `expires_in` to
            compute absolute expiry: `created_at + expires_in`.
          example: 1763036368
    OAuthRevokeRequest:
      title: OAuthRevokeRequest
      type: object
      required:
        - client_id
        - client_secret
        - token
      description: Form-encoded request body for revoking an existing Bearer token.
      properties:
        client_id:
          type: string
          description: The `client_id` of the OAuth app that issued the token. Must match.
          example: '{{client_id}}'
        client_secret:
          type: string
          description: >-
            The `client_secret` of the OAuth app that issued the token. Must
            match.
          example: '{{client_secret}}'
        token:
          type: string
          description: The `access_token` value to invalidate.
          example: '{{access_token}}'
    OAuthErrorResponse:
      title: OAuthErrorResponse
      type: object
      description: >-
        OAuth 2.0 error response returned for authentication and authorisation
        failures.
      properties:
        error:
          type: string
          description: OAuth error code.
          enum:
            - invalid_token
            - insufficient_scope
            - invalid_scope
            - invalid_client
            - unauthorized_client
            - rate_limit_exceeded
            - server_error
          example: invalid_token
        error_description:
          type: string
          description: Human-readable explanation of the error.
          example: The access token is invalid or has expired.
        retry_after:
          type: integer
          description: >-
            Seconds to wait before retrying. Present only when `error` is
            `rate_limit_exceeded`.
          example: 60
  securitySchemes:
    httpBearer:
      type: http
      scheme: bearer
      description: |
        OAuth 2.0 Bearer token with the scope required by each operation.
        Generate via the Generate Access Token endpoint:
        https://docs.payu.in/reference/get-token-api-for-payment-links
security:
  - httpBearer: []
tags:
  - name: Authentication
    description: >-
      Generate and revoke OAuth 2.0 Bearer tokens. Required before calling any
      Payment Links API.
  - name: Payment Links
    description: Create, retrieve, share, and manage payment links programmatically.
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  headers:
    - key: merchantId
      value: '{{merchantId}}'
  samples-languages:
    - curl
    - python
    - php
    - node
