openapi: 3.0.0
info:
  title: PayU Payment Links API
  description: Create, manage, and share payment links programmatically.
  version: 1.0.0
servers:
  - url: https://uatoneapi.payu.in
    description: Test Environment
  - url: https://oneapi.payu.in
    description: Production Environment
tags:
  - name: Authentication
    description: Generate and revoke OAuth 2.0 Bearer tokens.
  - name: Payment Links
    description: Create, retrieve, update, share, and manage payment links.
paths:
  /oauth/token:
    post:
      summary: Get Access Token
      operationId: GetAccessTokenAPI
      description: >
        Exchange your `client_id` and `client_secret` for a Bearer token scoped
        to the

        Payment Links operations you need. Call this endpoint once and cache the
        token —

        do not generate a new token before every API call.


        Token validity is returned as `expires_in` seconds (typically 7200 — 2
        hours).

        Calculate expiry as `created_at + expires_in` and regenerate before that
        moment.


        **Scopes**


        | Scope | Grants access to |

        |---|---|

        | `create_payment_links` | Create Payment Link |

        | `update_payment_links` | Update Payment Link · Cancel Payment Link |

        | `read_payment_links` | Fetch All · Fetch Single · Share · Get
        Transactions |
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - client_id
                - client_secret
                - grant_type
                - scope
              properties:
                client_id:
                  type: string
                  description: >
                    Your OAuth app's public identifier.

                    Find this in PayU Dashboard → **Developers** → **OAuth
                    Apps**.
                  example: '{{client_id}}'
                client_secret:
                  type: string
                  description: >
                    Your OAuth app's secret key. Never expose it in client-side
                    code or

                    public repositories — treat it like a password.
                  example: '{{client_secret}}'
                grant_type:
                  type: string
                  description: |
                    OAuth 2.0 grant type. Always pass `client_credentials` for
                    server-to-server Payment Links integrations.
                  example: client_credentials
                scope:
                  type: string
                  description: >
                    Space-separated list of scopes the token should carry.

                    You can request all three in a single call:


                    `create_payment_links update_payment_links
                    read_payment_links`
                  example: create_payment_links update_payment_links read_payment_links
            examples:
              allScopes:
                summary: Token with all three scopes
                value:
                  client_id: '{{client_id}}'
                  client_secret: '{{client_secret}}'
                  grant_type: client_credentials
                  scope: create_payment_links update_payment_links read_payment_links
              createOnly:
                summary: Token for creating links only
                value:
                  client_id: '{{client_id}}'
                  client_secret: '{{client_secret}}'
                  grant_type: client_credentials
                  scope: create_payment_links
      responses:
        '200':
          description: Token generated successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: >-
                      Bearer token to use in the `Authorization` header of all
                      Payment Links API calls.
                    example: >-
                      ea4ed864b4d2a04b90c1e987a5d25a5da1d43fa5f7d123be6814a1e973f196c4
                  token_type:
                    type: string
                    description: Always `Bearer`.
                    example: Bearer
                  expires_in:
                    type: integer
                    description: Token validity in seconds. Typically `7200` (2 hours).
                    example: 7200
                  scope:
                    type: string
                    description: The scopes granted to this token.
                    example: >-
                      create_payment_links update_payment_links
                      read_payment_links
                  created_at:
                    type: integer
                    description: |
                      Unix timestamp of token creation.
                      Token expiry = `created_at + expires_in`.
                    example: 1763036368
              examples:
                success:
                  summary: Token generated
                  value:
                    access_token: >-
                      ea4ed864b4d2a04b90c1e987a5d25a5da1d43fa5f7d123be6814a1e973f196c4
                    token_type: Bearer
                    expires_in: 7200
                    scope: >-
                      create_payment_links update_payment_links
                      read_payment_links
                    created_at: 1763036368
        '400':
          description: >
            Invalid request parameters. The response body uses the standard
            OAuth error format.


            **Request errors**


            <details>

            <summary><code>invalid_scope</code>: Requested scope is invalid or
            unknown</summary>


            - **Code:** `invalid_scope`

            - **Cause:** One or more scope values are misspelled or not
            permitted for your OAuth app.

            - **Recommended fix:** Check scope values — they are case-sensitive.
            Valid values: `create_payment_links`, `update_payment_links`,
            `read_payment_links`. Separate multiple scopes with a single space.


            </details>


            <details>

            <summary><code>unsupported_grant_type</code>: Grant type is not
            supported</summary>


            - **Code:** `unsupported_grant_type`

            - **Cause:** `grant_type` was not `client_credentials`.

            - **Recommended fix:** Always send `grant_type=client_credentials`
            for server-to-server Payment Links integration.


            </details>


            <details>

            <summary><code>unauthorized_client</code>: App not permitted for
            this grant type</summary>


            - **Code:** `unauthorized_client`

            - **Cause:** The OAuth app is not configured to use the
            `client_credentials` grant type.

            - **Recommended fix:** Contact PayU Support to verify your OAuth app
            configuration.


            </details>
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: OAuth error code.
                    example: invalid_scope
                  error_description:
                    type: string
                    description: Human-readable error description.
                    example: The requested scope is invalid, unknown, or malformed.
              examples:
                invalidScope:
                  summary: Unknown scope value
                  value:
                    error: invalid_scope
                    error_description: The requested scope is invalid, unknown, or malformed.
                unsupportedGrant:
                  summary: Wrong grant type
                  value:
                    error: unsupported_grant_type
                    error_description: >-
                      The authorization grant type is not supported by the
                      authorization server.
        '401':
          description: >
            Client authentication failed.


            <details>

            <summary><code>invalid_client</code>: client_id or client_secret is
            wrong</summary>


            - **Code:** `invalid_client`

            - **Cause:** `client_id` or `client_secret` is incorrect, missing,
            or belongs to a different environment (test vs. live).

            - **Recommended fix:** Verify your credentials in PayU Dashboard →
            **Developers** → **OAuth Apps**. Confirm you are using test
            credentials against `uat-accounts.payu.in` and live credentials
            against `accounts.payu.in`.


            </details>


            <details>

            <summary><code>rate_limit_exceeded</code>: Too many token
            requests</summary>


            - **Code:** `rate_limit_exceeded`

            - **Cause:** Token generation requests exceeded the allowed rate.

            - **Recommended fix:** Cache the token and reuse it until it
            expires. Do not call this endpoint before every API request.


            </details>
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: invalid_client
                  error_description:
                    type: string
                    example: Client authentication failed.
              examples:
                invalidClient:
                  summary: Invalid credentials
                  value:
                    error: invalid_client
                    error_description: >-
                      Client authentication failed due to unknown client, no
                      client authentication included, or unsupported
                      authentication method.
                rateLimited:
                  summary: Rate limit exceeded
                  value:
                    error: rate_limit_exceeded
                    error_description: >-
                      Too many token requests. Cache your token and retry after
                      the cooldown period.
      servers:
        - url: https://uat-accounts.payu.in
          description: Test Environment
        - url: https://accounts.payu.in
          description: Production Environment
      security: []
  /oauth/revoke:
    post:
      summary: Revoke Token API
      operationId: RevokeTokenAPI
      description: >
        Invalidate a Bearer token before its natural expiry.


        Use this when rotating credentials or if you suspect a token has been
        exposed.

        The revoked token becomes invalid immediately. After revoking, generate
        a new

        token via `POST /oauth/token`.
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - client_id
                - client_secret
                - token
              properties:
                client_id:
                  type: string
                  description: The `client_id` of the OAuth app that issued the token.
                  example: '{{client_id}}'
                client_secret:
                  type: string
                  description: The `client_secret` of the OAuth app that issued the token.
                  example: '{{client_secret}}'
                token:
                  type: string
                  description: The `access_token` value to invalidate.
                  example: '{{access_token}}'
            examples:
              basic:
                summary: Revoke a token
                value:
                  client_id: '{{client_id}}'
                  client_secret: '{{client_secret}}'
                  token: '{{access_token}}'
      responses:
        '200':
          description: Token revoked successfully. Response body is empty.
        '401':
          description: >
            Authentication failure.


            <details>

            <summary><code>invalid_client</code>: client_id or client_secret is
            wrong</summary>


            - **Code:** `invalid_client`

            - **Cause:** `client_id` or `client_secret` does not match the OAuth
            app that issued the token.

            - **Recommended fix:** Verify your credentials match the OAuth app
            that originally issued the token.


            </details>


            <details>

            <summary><code>invalid_token</code>: Token not found or already
            revoked</summary>


            - **Code:** `invalid_token`

            - **Cause:** The token is not found, has already expired, or was
            previously revoked.

            - **Recommended fix:** This is a no-op if the token is already
            invalid. No action needed unless you are troubleshooting a different
            issue.


            </details>
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: invalid_client
                  error_description:
                    type: string
                    example: Client authentication failed.
              examples:
                invalidClient:
                  summary: Invalid credentials
                  value:
                    error: invalid_client
                    error_description: >-
                      Client authentication failed due to unknown client, no
                      client authentication included, or unsupported
                      authentication method.
                invalidToken:
                  summary: Token already invalid
                  value:
                    error: invalid_token
                    error_description: The token is invalid or has already been revoked.
      servers:
        - url: https://uat-accounts.payu.in
          description: Test Environment
        - url: https://accounts.payu.in
          description: Production Environment
      security: []
  /payment-links:
    post:
      summary: Create Payment Link
      operationId: CreatePaymentLinkAPI
      description: >
        Create a shareable payment link and optionally notify the customer via
        email, SMS,

        or WhatsApp. The link type is determined by the combination of
        parameters sent —

        there is no separate `type` field.


        | Link Type | Key parameters |

        |---|---|

        | Standard (fixed amount) | `source: API`, `subAmount > 0` |

        | Open Amount | `source: API`, `isAmountFilledByCustomer: true` (omit
        `subAmount`) |

        | Partial Payment | `source: API`, `subAmount > 0`,
        `isPartialPaymentAllowed: true` |

        | SI Recurring | `source: si_payment_link`, `siDetails` object |

        | eNACH | `source: si_payment_link`, `enforcePayMethod: enach`,
        `siDetails` with `bankDetails` |


        **Required scope:** `create_payment_links`
      tags:
        - Payment Links
      parameters:
        - name: Authorization
          in: header
          required: true
          description: >-
            Bearer token obtained from `POST /oauth/token`. Format: `Bearer
            {access_token}`
          schema:
            type: string
            example: Bearer {{access_token}}
        - name: merchantId
          in: header
          required: true
          description: Your PayU Merchant ID.
          schema:
            type: string
            example: '{{merchantId}}'
      x-readme:
        code-samples:
          - language: curl
            name: Standard
            code: |
              curl --location 'https://uatoneapi.payu.in/payment-links' \
              --header 'Authorization: Bearer {{access_token}}' \
              --header 'merchantId: {{merchantId}}' \
              --header 'Content-Type: application/json' \
              --data '{
                "subAmount": 1499,
                "description": "Order #ORD-2026-88421",
                "source": "API",
                "invoiceNumber": "ORD-2026-88421",
                "expiryDate": "2026-10-15 23:59:59",
                "viaEmail": true,
                "viaSms": true,
                "customer": {
                  "name": "Arjun Mehta",
                  "email": "arjun.mehta@example.com",
                  "phone": "9876543210"
                }
              }'
          - language: curl
            name: Open Amount
            code: |
              curl --location 'https://uatoneapi.payu.in/payment-links' \
              --header 'Authorization: Bearer {{access_token}}' \
              --header 'merchantId: {{merchantId}}' \
              --header 'Content-Type: application/json' \
              --data '{
                "description": "Donation — Help us plant 1,000 trees",
                "source": "API",
                "isAmountFilledByCustomer": true,
                "invoiceNumber": "DON-2026-001",
                "viaEmail": true,
                "customer": {
                  "name": "Priya Sharma",
                  "email": "priya@example.com"
                }
              }'
          - language: curl
            name: Partial Payment
            code: |
              curl --location 'https://uatoneapi.payu.in/payment-links' \
              --header 'Authorization: Bearer {{access_token}}' \
              --header 'merchantId: {{merchantId}}' \
              --header 'Content-Type: application/json' \
              --data '{
                "subAmount": 5000,
                "description": "Advance booking",
                "source": "API",
                "isPartialPaymentAllowed": true,
                "minAmountForCustomer": 1000,
                "viaEmail": true,
                "customer": {
                  "name": "Rohit Verma",
                  "email": "rohit@example.com",
                  "phone": "9988776655"
                }
              }'
          - language: curl
            name: SI Recurring
            code: |
              curl --location 'https://uatoneapi.payu.in/payment-links' \
              --header 'Authorization: Bearer {{access_token}}' \
              --header 'merchantId: {{merchantId}}' \
              --header 'Content-Type: application/json' \
              --data '{
                "description": "Monthly SIP",
                "source": "si_payment_link",
                "viaEmail": true,
                "customer": {
                  "name": "Kavya Nair",
                  "email": "kavya@example.com",
                  "phone": "9871234567"
                },
                "siDetails": {
                  "billingAmount": 2000,
                  "billingCycle": "MONTHLY",
                  "billingInterval": 12,
                  "paymentStartDate": "2026-11-01",
                  "paymentEndDate": "2027-10-31",
                  "isNoExpiry": false
                }
              }'
          - language: curl
            name: eNACH
            code: |
              curl --location 'https://uatoneapi.payu.in/payment-links' \
              --header 'Authorization: Bearer {{access_token}}' \
              --header 'merchantId: {{merchantId}}' \
              --header 'Content-Type: application/json' \
              --data '{
                "description": "Monthly SIP via eNACH",
                "source": "si_payment_link",
                "enforcePayMethod": "enach",
                "viaEmail": true,
                "customer": {
                  "name": "Suresh Pillai",
                  "email": "suresh@example.com",
                  "phone": "9988001122"
                },
                "siDetails": {
                  "billingAmount": 2000,
                  "billingCycle": "MONTHLY",
                  "billingInterval": 12,
                  "paymentStartDate": "2026-11-01",
                  "paymentEndDate": "2027-10-31",
                  "isNoExpiry": false,
                  "bankDetails": {
                    "bankCode": "SBIIN",
                    "bankAccountNumber": "1234567890",
                    "ifsc": "SBIN0001234",
                    "accountType": "SAVINGS"
                  }
                }
              }'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - description
                - source
              properties:
                subAmount:
                  type: integer
                  description: >
                    Base payment amount in whole INR.


                    - **Standard / Partial Payment:** Required. Must be greater
                    than 0.

                    - **Open Amount:** Omit — set `isAmountFilledByCustomer:
                    true` instead.

                    - **SI Recurring / eNACH:** Omit — use
                    `siDetails.billingAmount` for the per-cycle debit.
                  example: 1499
                description:
                  type: string
                  description: >-
                    Purpose of the payment. Shown to the customer on the
                    checkout page. Maximum 255 characters.
                  example: 'Order #ORD-2026-88421 — Wireless Headphones'
                source:
                  type: string
                  description: >
                    Identifies the link category.


                    - `"API"` — Standard, Open Amount, or Partial Payment links.

                    - `"si_payment_link"` — SI Recurring and eNACH mandate
                    registration links.
                  enum:
                    - API
                    - si_payment_link
                  example: API
                invoiceNumber:
                  type: string
                  description: >
                    Your unique reference ID for this link. Alphanumeric,
                    maximum 25 characters.

                    Auto-generated by PayU if omitted. Used as the path
                    parameter in all subsequent

                    Fetch, Update, Share, and Cancel calls.
                  example: ORD-2026-88421
                expiryDate:
                  type: string
                  description: >
                    Link expiry in `YYYY-MM-DD HH:mm:ss` format. After this
                    datetime the link stops

                    accepting payments. Defaults to 7 days from creation.
                  example: '2026-10-15 23:59:59'
                currency:
                  type: string
                  description: ISO 4217 currency code. Defaults to `INR`.
                  example: INR
                tax:
                  type: integer
                  description: Tax amount in INR added to `subAmount`. Defaults to 0.
                  example: 0
                shippingCharge:
                  type: integer
                  description: Shipping charge in INR added to `subAmount`. Defaults to 0.
                  example: 0
                discount:
                  type: integer
                  description: >-
                    Discount amount in INR subtracted from `subAmount`. Defaults
                    to 0.
                  example: 0
                maxPaymentsAllowed:
                  type: integer
                  description: Maximum successful payment attempts allowed. Defaults to 1.
                  example: 1
                isAmountFilledByCustomer:
                  type: boolean
                  description: >
                    **Open Amount links only.** Set to `true` to let the
                    customer enter their own

                    payment amount at checkout. Mutually exclusive with
                    `isPartialPaymentAllowed`.

                    When `true`, omit `subAmount`.
                  example: false
                isPartialPaymentAllowed:
                  type: boolean
                  description: >
                    **Partial Payment links only.** Set to `true` to allow the
                    customer to pay less

                    than the total amount. Requires `subAmount`. Mutually
                    exclusive with

                    `isAmountFilledByCustomer`.
                  example: false
                minAmountForCustomer:
                  type: integer
                  description: >
                    **Partial Payment links only.** Minimum amount (INR) the
                    customer must pay in

                    the first transaction. Ignored unless
                    `isPartialPaymentAllowed` is `true`.
                  example: 500
                viaEmail:
                  type: boolean
                  description: >-
                    Send the link to `customer.email` via email on creation.
                    Requires `customer.email`.
                  example: true
                viaSms:
                  type: boolean
                  description: >-
                    Send the link to `customer.phone` via SMS on creation.
                    Requires `customer.phone`.
                  example: true
                viaWhatsapp:
                  type: boolean
                  description: >-
                    Send the link to `customer.phone` via WhatsApp on creation.
                    Requires `customer.phone`.
                  example: false
                successURL:
                  type: string
                  description: URL to redirect the customer after a successful payment.
                  example: https://yourstore.com/payment/success
                failureURL:
                  type: string
                  description: >-
                    URL to redirect the customer after a failed or cancelled
                    payment.
                  example: https://yourstore.com/payment/failure
                enforcePayMethod:
                  type: string
                  description: >
                    Restrict checkout to specific payment methods. Separate
                    multiple values with `|`.


                    - **eNACH links:** Must be `"enach"` — renders the bank
                    mandate registration flow.

                    - **Other links:** e.g. `"cc|dc"` (cards only), `"upi"` (UPI
                    only), `"nb"` (net banking only).
                  example: cc|dc
                dropCategory:
                  type: string
                  description: >
                    Hide specific payment categories from checkout. Separate
                    values with `|`.

                    Example: `"EMI"` hides the EMI option.
                  example: EMI
                customer:
                  type: object
                  description: >-
                    Customer contact details. Required when using `viaEmail`,
                    `viaSms`, or `viaWhatsapp`.
                  properties:
                    name:
                      type: string
                      description: Customer's full name. Shown on the checkout page.
                      example: Arjun Mehta
                    email:
                      type: string
                      description: >-
                        Customer's email address. Required when `viaEmail` is
                        `true`.
                      example: arjun.mehta@example.com
                    phone:
                      type: string
                      description: >-
                        Customer's 10-digit mobile number. Required when
                        `viaSms` or `viaWhatsapp` is `true`.
                      example: '9876543210'
                address:
                  type: object
                  description: >-
                    Customer billing address. Stored against the link and passed
                    through to webhooks.
                  properties:
                    line1:
                      type: string
                      example: 42 MG Road
                    line2:
                      type: string
                      example: Indiranagar
                    city:
                      type: string
                      example: Bengaluru
                    state:
                      type: string
                      example: Karnataka
                    zipCode:
                      type: string
                      example: '560038'
                udf:
                  type: object
                  description: >
                    User-defined fields 1–5. Stored against the link and passed
                    through unchanged to

                    webhook callbacks. Use for internal order IDs, customer
                    segments, or campaign codes.
                  properties:
                    udf1:
                      type: string
                      example: electronics
                    udf2:
                      type: string
                      example: app-checkout
                    udf3:
                      type: string
                    udf4:
                      type: string
                    udf5:
                      type: string
                siDetails:
                  type: object
                  description: >
                    **Required for SI Recurring and eNACH links** (`source:
                    "si_payment_link"`).

                    Defines the recurring billing schedule. Omit for Standard,
                    Open Amount, and

                    Partial Payment links.
                  properties:
                    billingAmount:
                      type: integer
                      description: Amount to debit on each billing cycle, in whole INR.
                      example: 2000
                    billingCycle:
                      type: string
                      description: |
                        Frequency of recurring debits.

                        Possible values: `DAILY`, `WEEKLY`, `MONTHLY`, `YEARLY`,
                        `BI_MONTHLY`, `QUARTERLY`, `HALF_YEARLY`, `AS_PRESENTED`
                      enum:
                        - DAILY
                        - WEEKLY
                        - MONTHLY
                        - YEARLY
                        - BI_MONTHLY
                        - QUARTERLY
                        - HALF_YEARLY
                        - AS_PRESENTED
                      example: MONTHLY
                    billingInterval:
                      type: integer
                      description: >-
                        Total number of billing cycles. E.g. `12` for a 12-month
                        monthly SIP.
                      example: 12
                    paymentStartDate:
                      type: string
                      description: Date of the first debit in `YYYY-MM-DD` format.
                      example: '2026-11-01'
                    paymentEndDate:
                      type: string
                      description: >-
                        Date of the last debit in `YYYY-MM-DD` format. Ignored
                        when `isNoExpiry` is `true`.
                      example: '2027-10-31'
                    isNoExpiry:
                      type: boolean
                      description: >
                        Set to `true` for an open-ended mandate with no fixed
                        end date.

                        When `true`, `paymentEndDate` is ignored.
                      example: false
                    isFreeTrial:
                      type: boolean
                      description: >-
                        Set to `true` to register the mandate without charging
                        the first instalment.
                      example: false
                    remarks:
                      type: string
                      description: >-
                        Merchant-facing notes for this subscription. Not shown
                        to the customer.
                      example: SIP — mutual fund folio 9104927822
                    bankDetails:
                      type: object
                      description: >
                        **Required for eNACH links** (`enforcePayMethod:
                        "enach"`).

                        Pre-fills the customer's bank details on the eNACH
                        registration form.

                        Omit for SI Recurring links.
                      properties:
                        bankCode:
                          type: string
                          description: >-
                            Bank identifier code. E.g. `SBIIN` for State Bank of
                            India.
                          example: SBIIN
                        bankAccountNumber:
                          type: string
                          description: Customer's bank account number.
                          example: '1234567890'
                        ifsc:
                          type: string
                          description: IFSC code of the specific branch.
                          example: SBIN0001234
                        accountType:
                          type: string
                          description: Type of bank account.
                          enum:
                            - SAVINGS
                            - CURRENT
                          example: SAVINGS
            example:
              subAmount: 1499
              description: 'Order #ORD-2026-88421 — Wireless Headphones'
              source: API
              invoiceNumber: ORD-2026-88421
              expiryDate: '2026-10-15 23:59:59'
              currency: INR
              tax: 0
              shippingCharge: 0
              discount: 0
              maxPaymentsAllowed: 1
              isAmountFilledByCustomer: false
              isPartialPaymentAllowed: false
              minAmountForCustomer: 500
              viaEmail: true
              viaSms: true
              viaWhatsapp: false
              successURL: https://yourstore.com/payment/success
              failureURL: https://yourstore.com/payment/failure
              enforcePayMethod: cc|dc
              dropCategory: EMI
              customer:
                name: Arjun Mehta
                email: arjun.mehta@example.com
                phone: '9876543210'
              address:
                line1: 42 MG Road
                line2: Indiranagar
                city: Bengaluru
                state: Karnataka
                zipCode: '560038'
              udf:
                udf1: electronics
                udf2: app-checkout
                udf3: null
                udf4: null
                udf5: null
              siDetails:
                billingAmount: 2000
                billingCycle: MONTHLY
                billingInterval: 12
                paymentStartDate: '2026-11-01'
                paymentEndDate: '2027-10-31'
                isNoExpiry: false
                isFreeTrial: false
                remarks: SIP — mutual fund folio 9104927822
                bankDetails:
                  bankCode: SBIIN
                  bankAccountNumber: '1234567890'
                  ifsc: SBIN0001234
                  accountType: SAVINGS
      responses:
        '200':
          description: Request processed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: '`0` = success.'
                    example: 0
                  message:
                    type: string
                    description: Human-readable response message.
                    example: paymentLink generated
                  result:
                    type: object
                    nullable: true
                    description: The created Payment Link object.
                    properties:
                      invoiceNumber:
                        type: string
                        description: >-
                          Unique identifier. Use as the path parameter in Fetch,
                          Update, Share, and Cancel.
                        example: ORD-2026-88421
                      paymentLink:
                        type: string
                        description: The shareable URL to send to your customer.
                        example: https://pp72.pmny.in/WxYzAbCdEfGh
                      totalAmount:
                        type: integer
                        description: >-
                          `subAmount + tax + shippingCharge`. `null` for Open
                          Amount and SI/eNACH links.
                        example: 1499
                      active:
                        type: boolean
                        description: '`true` if the link is live and accepting payment.'
                        example: true
                      expiryDate:
                        type: string
                        description: Link expiry in `YYYY-MM-DD HH:mm:ss`.
                        example: '2026-10-15 23:59:59'
                  errorCode:
                    type: string
                    nullable: true
                    example: null
              examples:
                success:
                  summary: Link created successfully
                  value:
                    status: 0
                    message: paymentLink generated
                    result:
                      invoiceNumber: ORD-2026-88421
                      paymentLink: https://pp72.pmny.in/WxYzAbCdEfGh
                      totalAmount: 1499
                      active: true
                      expiryDate: '2026-10-15 23:59:59'
                    errorCode: null
        '400':
          description: >
            Validation or business-rule failure. The response body uses:

            - `status: -1`

            - `message` with a human-readable description

            - `result: null`


            > **Note:** PayU Payment Links API always returns HTTP 200. This
            block documents the error body patterns returned when `status: -1`.


            **Request errors** *(no error code — match on `message`)*


            <details>

            <summary>description is required</summary>


            - **Code:** *(none)*

            - **Cause:** The `description` field was omitted from the request
            body.

            - **Recommended fix:** Include a non-empty `description` string (max
            255 characters) describing the payment purpose.


            </details>


            <details>

            <summary>source is required</summary>


            - **Code:** *(none)*

            - **Cause:** The `source` field was omitted.

            - **Recommended fix:** Set `source` to `"API"` for standard links or
            `"si_payment_link"` for SI Recurring and eNACH links.


            </details>


            <details>

            <summary>subAmount must be greater than 0</summary>


            - **Code:** *(none)*

            - **Cause:** `subAmount` was 0 or a negative value.

            - **Recommended fix:** Pass a positive integer for `subAmount`. For
            open-amount links, omit `subAmount` entirely and set
            `isAmountFilledByCustomer: true`.


            </details>


            <details>

            <summary>Invoice Number already exists</summary>


            - **Code:** *(none)*

            - **Cause:** A payment link with the same `invoiceNumber` already
            exists under this merchant account.

            - **Recommended fix:** Use a unique `invoiceNumber` per link, or
            omit the field to let PayU auto-generate one.


            </details>


            <details>

            <summary>Invalid date format for expiryDate / expiryDate must be a
            future date</summary>


            - **Code:** *(none)*

            - **Cause:** `expiryDate` is either in the wrong format or is a past
            datetime.

            - **Recommended fix:** Use the exact format `YYYY-MM-DD HH:mm:ss`
            (e.g. `2026-10-15 23:59:59`) and ensure the value is in the future.


            </details>


            <details>

            <summary>customer email is required when viaEmail is true</summary>


            - **Code:** *(none)*

            - **Cause:** `viaEmail` was `true` but `customer.email` was not
            provided.

            - **Recommended fix:** Include `customer.email` whenever `viaEmail:
            true`.


            </details>


            <details>

            <summary>customer phone is required when viaSms or viaWhatsapp is
            true</summary>


            - **Code:** *(none)*

            - **Cause:** `viaSms` or `viaWhatsapp` was `true` but
            `customer.phone` was not provided.

            - **Recommended fix:** Include a 10-digit `customer.phone` whenever
            `viaSms: true` or `viaWhatsapp: true`.


            </details>


            **SI Recurring / eNACH errors**


            <details>

            <summary>siDetails is required when source is
            si_payment_link</summary>


            - **Code:** *(none)*

            - **Cause:** `source` was set to `"si_payment_link"` but the
            `siDetails` object was omitted.

            - **Recommended fix:** Include `siDetails` with `billingAmount`,
            `billingCycle`, `billingInterval`, `paymentStartDate`, and
            `paymentEndDate`.


            </details>


            <details>

            <summary>bankDetails is required when enforcePayMethod is
            enach</summary>


            - **Code:** *(none)*

            - **Cause:** `enforcePayMethod` was `"enach"` but
            `siDetails.bankDetails` was omitted.

            - **Recommended fix:** Include `siDetails.bankDetails` with
            `bankCode`, `bankAccountNumber`, `ifsc`, and `accountType`.


            </details>
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: Always `-1` for error responses.
                    example: -1
                  message:
                    type: string
                    description: Human-readable error message.
                    example: description is required.
                  result:
                    nullable: true
                    description: Always `null` for error responses.
                    example: null
                  errorCode:
                    type: string
                    nullable: true
                    description: Error code, when applicable.
                    example: null
              examples:
                missingDescription:
                  summary: Missing description
                  value:
                    status: -1
                    message: description is required.
                    result: null
                    errorCode: null
                duplicateInvoice:
                  summary: Duplicate invoiceNumber
                  value:
                    status: -1
                    message: >-
                      Invoice Number already exists. Please enter new invoice
                      number.
                    result: null
                    errorCode: null
                missingPhone:
                  summary: Phone required for SMS
                  value:
                    status: -1
                    message: >-
                      customer phone is required when viaSms or viaWhatsapp is
                      true.
                    result: null
                    errorCode: null
        '401':
          description: >
            Authentication failure.


            <details>

            <summary><code>invalid_token</code>: Access token is invalid or has
            expired</summary>


            - **Code:** `invalid_token`

            - **Cause:** The Bearer token is missing, malformed, expired, or has
            been revoked.

            - **Recommended fix:** Generate a new token via `POST /oauth/token`
            and retry.


            </details>


            <details>

            <summary><code>insufficient_scope</code>: Token missing required
            scope</summary>


            - **Code:** `insufficient_scope`

            - **Cause:** The token was issued without the scope required by this
            endpoint.

            - **Recommended fix:** Re-generate the token including the correct
            scope. See the Authentication overview for scope requirements per
            endpoint.


            </details>
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: invalid_token
                  error_description:
                    type: string
                    example: The access token is invalid or has expired.
              examples:
                expiredToken:
                  summary: Token expired or revoked
                  value:
                    error: invalid_token
                    error_description: The access token is invalid or has expired.
                insufficientScope:
                  summary: Missing required scope
                  value:
                    error: insufficient_scope
                    error_description: The access token does not have the required scope.
      x-internal: true
    get:
      summary: Fetch All Payment Links
      operationId: FetchAllPaymentLinksAPI
      description: >
        Retrieve a paginated list of payment links for your merchant account,

        sorted by creation date (newest first). Use the `status` filter to
        narrow

        results to active, expired, or cancelled links.


        **Required scope:** `read_payment_links`
      tags:
        - Payment Links
      parameters:
        - name: Authorization
          in: header
          required: true
          description: >-
            Bearer token obtained from `POST /oauth/token`. Format: `Bearer
            {access_token}`
          schema:
            type: string
            example: Bearer {{access_token}}
        - name: merchantId
          in: header
          required: true
          description: Your PayU Merchant ID.
          schema:
            type: string
            example: '{{merchantId}}'
        - name: status
          in: query
          required: false
          description: |
            Filter links by their current state.

            - `active` — Links that are live and can still accept payment.
            - `expired` — Links whose `expiryDate` has passed.
            - `cancelled` — Links deactivated by the merchant.

            Omit to return all links regardless of state.
          schema:
            type: string
            enum:
              - active
              - expired
              - cancelled
        - name: pageNumber
          in: query
          required: false
          description: Page number (1-indexed). Defaults to `1`.
          schema:
            type: integer
            default: 1
            example: 1
        - name: pageSize
          in: query
          required: false
          description: Records per page. Minimum `1`, maximum `50`. Defaults to `10`.
          schema:
            type: integer
            default: 10
            example: 10
      responses:
        '200':
          description: Request processed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: '`0` = success.'
                    example: 0
                  message:
                    type: string
                    example: success
                  result:
                    type: object
                    nullable: true
                    properties:
                      total:
                        type: integer
                        description: Total number of matching links across all pages.
                        example: 42
                      pageNumber:
                        type: integer
                        example: 1
                      pageSize:
                        type: integer
                        example: 10
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            invoiceNumber:
                              type: string
                              example: ORD-2026-88421
                            paymentLink:
                              type: string
                              example: https://pp72.pmny.in/WxYzAbCdEfGh
                            description:
                              type: string
                              example: 'Order #ORD-2026-88421'
                            totalAmount:
                              type: integer
                              example: 1499
                            active:
                              type: boolean
                              example: true
                            expiryDate:
                              type: string
                              example: '2026-10-15 23:59:59'
              examples:
                success:
                  summary: Results returned
                  value:
                    status: 0
                    message: success
                    result:
                      total: 2
                      pageNumber: 1
                      pageSize: 10
                      data:
                        - invoiceNumber: ORD-2026-88421
                          paymentLink: https://pp72.pmny.in/WxYzAbCdEfGh
                          description: 'Order #ORD-2026-88421'
                          totalAmount: 1499
                          active: true
                          expiryDate: '2026-10-15 23:59:59'
                        - invoiceNumber: DON-2026-001
                          paymentLink: https://pp72.pmny.in/DonAbCdEf
                          description: Donation — Help us plant 1,000 trees
                          totalAmount: null
                          active: true
                          expiryDate: '2026-12-31 23:59:59'
                empty:
                  summary: No results
                  value:
                    status: 0
                    message: No records found
                    result:
                      total: 0
                      pageNumber: 1
                      pageSize: 10
                      data: []
        '400':
          description: >
            Validation failure. The response body uses:

            - `status: -1`

            - `message`


            > **Note:** PayU Payment Links API always returns HTTP 200. This
            block documents error patterns returned when `status: -1`.


            **Query parameter errors**


            <details>

            <summary>Invalid pageSize</summary>


            - **Code:** *(none)*

            - **Cause:** `pageSize` was less than 1 or greater than 50.

            - **Recommended fix:** Pass a value between 1 and 50 inclusive for
            `pageSize`.


            </details>


            <details>

            <summary>Invalid pageNumber</summary>


            - **Code:** *(none)*

            - **Cause:** `pageNumber` was less than 1.

            - **Recommended fix:** Use a positive integer for `pageNumber`. The
            first page is `1`.


            </details>
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: -1
                  message:
                    type: string
                    example: Invalid pageSize. Must be between 1 and 50.
                  result:
                    nullable: true
                    example: null
              examples:
                invalidPageSize:
                  summary: Invalid pageSize
                  value:
                    status: -1
                    message: Invalid pageSize. Must be between 1 and 50.
                    result: null
        '401':
          description: >
            Authentication failure.


            <details>

            <summary><code>invalid_token</code>: Access token is invalid or has
            expired</summary>


            - **Code:** `invalid_token`

            - **Cause:** The Bearer token is missing, malformed, expired, or has
            been revoked.

            - **Recommended fix:** Generate a new token via `POST /oauth/token`
            and retry.


            </details>


            <details>

            <summary><code>insufficient_scope</code>: Token missing required
            scope</summary>


            - **Code:** `insufficient_scope`

            - **Cause:** The token was issued without the scope required by this
            endpoint.

            - **Recommended fix:** Re-generate the token including the correct
            scope. See the Authentication overview for scope requirements per
            endpoint.


            </details>
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: invalid_token
                  error_description:
                    type: string
                    example: The access token is invalid or has expired.
              examples:
                expiredToken:
                  summary: Token expired or revoked
                  value:
                    error: invalid_token
                    error_description: The access token is invalid or has expired.
                insufficientScope:
                  summary: Missing required scope
                  value:
                    error: insufficient_scope
                    error_description: The access token does not have the required scope.
      x-internal: true
  /payment-links/{invoiceNumber}:
    get:
      summary: Fetch Payment Link
      operationId: FetchPaymentLinkAPI
      description: >
        Retrieve the current state and all details of a payment link by its
        `invoiceNumber`.


        Use this to check whether a link is active, verify its amount and
        configuration,

        or poll for status after a customer interaction.


        **Required scope:** `read_payment_links`
      tags:
        - Payment Links
      parameters:
        - name: Authorization
          in: header
          required: true
          description: >-
            Bearer token obtained from `POST /oauth/token`. Format: `Bearer
            {access_token}`
          schema:
            type: string
            example: Bearer {{access_token}}
        - name: merchantId
          in: header
          required: true
          description: Your PayU Merchant ID.
          schema:
            type: string
            example: '{{merchantId}}'
        - name: invoiceNumber
          in: path
          required: true
          description: The `invoiceNumber` of the payment link.
          schema:
            type: string
            example: ORD-2026-88421
      responses:
        '200':
          description: Request processed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: '`0` = success.'
                    example: 0
                  message:
                    type: string
                    example: success
                  result:
                    type: object
                    nullable: true
                    description: The Payment Link object.
                    properties:
                      invoiceNumber:
                        type: string
                        example: ORD-2026-88421
                      paymentLink:
                        type: string
                        example: https://pp72.pmny.in/WxYzAbCdEfGh
                      description:
                        type: string
                        example: 'Order #ORD-2026-88421 — Wireless Headphones'
                      subAmount:
                        type: integer
                        example: 1499
                      tax:
                        type: integer
                        example: 0
                      shippingCharge:
                        type: integer
                        example: 0
                      totalAmount:
                        type: integer
                        example: 1499
                      active:
                        type: boolean
                        description: '`true` if the link is live and accepting payment.'
                        example: true
                      isPartialPaymentAllowed:
                        type: boolean
                        example: false
                      expiryDate:
                        type: string
                        example: '2026-10-15 23:59:59'
                      source:
                        type: string
                        example: API
                      emailStatus:
                        type: string
                        description: >-
                          `sent` if email was dispatched at creation. `not
                          opted` if `viaEmail` was false.
                        example: sent
                      smsStatus:
                        type: string
                        description: >-
                          `sent` if SMS was dispatched at creation. `not opted`
                          if `viaSms` was false.
                        example: not opted
              examples:
                success:
                  summary: Link found
                  value:
                    status: 0
                    message: success
                    result:
                      invoiceNumber: ORD-2026-88421
                      paymentLink: https://pp72.pmny.in/WxYzAbCdEfGh
                      description: 'Order #ORD-2026-88421 — Wireless Headphones'
                      subAmount: 1499
                      tax: 0
                      shippingCharge: 0
                      totalAmount: 1499
                      active: true
                      isPartialPaymentAllowed: false
                      expiryDate: '2026-10-15 23:59:59'
                      source: API
                      emailStatus: sent
                      smsStatus: not opted
        '400':
          description: >
            Validation or business-rule failure. The response body uses:

            - `status: -1`

            - `message`


            > **Note:** PayU Payment Links API always returns HTTP 200. This
            block documents error patterns returned when `status: -1`.


            **Lookup errors**


            <details>

            <summary>Payment link not found</summary>


            - **Code:** *(none)*

            - **Cause:** No link with the supplied `invoiceNumber` exists under
            this merchant account, or the link belongs to a different merchant.

            - **Recommended fix:** Verify the `invoiceNumber` and confirm you
            are using the correct `merchantId` and environment (test vs.
            production).


            </details>
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: -1
                  message:
                    type: string
                    example: Payment link not found.
                  result:
                    nullable: true
                    example: null
              examples:
                notFound:
                  summary: Link not found
                  value:
                    status: -1
                    message: Payment link not found.
                    result: null
        '401':
          description: >
            Authentication failure.


            <details>

            <summary><code>invalid_token</code>: Access token is invalid or has
            expired</summary>


            - **Code:** `invalid_token`

            - **Cause:** The Bearer token is missing, malformed, expired, or has
            been revoked.

            - **Recommended fix:** Generate a new token via `POST /oauth/token`
            and retry.


            </details>


            <details>

            <summary><code>insufficient_scope</code>: Token missing required
            scope</summary>


            - **Code:** `insufficient_scope`

            - **Cause:** The token was issued without the scope required by this
            endpoint.

            - **Recommended fix:** Re-generate the token including the correct
            scope. See the Authentication overview for scope requirements per
            endpoint.


            </details>
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: invalid_token
                  error_description:
                    type: string
                    example: The access token is invalid or has expired.
              examples:
                expiredToken:
                  summary: Token expired or revoked
                  value:
                    error: invalid_token
                    error_description: The access token is invalid or has expired.
                insufficientScope:
                  summary: Missing required scope
                  value:
                    error: insufficient_scope
                    error_description: The access token does not have the required scope.
    put:
      summary: Update Payment Link
      operationId: UpdatePaymentLinkAPI
      description: >
        Modify the configuration of an existing active payment link. Only send
        the fields

        you want to change — omitted fields retain their current values.


        **Restrictions:**

        - Cannot update a cancelled link (`active: false`).

        - Cannot update a link that has been fully paid.

        - Cannot reduce `subAmount` below the amount already collected on a
        partial payment link.


        **Required scope:** `update_payment_links`
      tags:
        - Payment Links
      parameters:
        - name: Authorization
          in: header
          required: true
          description: >-
            Bearer token obtained from `POST /oauth/token`. Format: `Bearer
            {access_token}`
          schema:
            type: string
            example: Bearer {{access_token}}
        - name: merchantId
          in: header
          required: true
          description: Your PayU Merchant ID.
          schema:
            type: string
            example: '{{merchantId}}'
        - name: invoiceNumber
          in: path
          required: true
          description: The `invoiceNumber` of the payment link.
          schema:
            type: string
            example: ORD-2026-88421
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: >-
                Only pass the fields you want to change. All fields are
                optional.
              properties:
                subAmount:
                  type: integer
                  description: >
                    Updated base amount in whole INR.


                    Cannot be reduced below any amount already collected on a
                    partial payment link.
                  example: 1999
                description:
                  type: string
                  description: Updated payment purpose description. Maximum 255 characters.
                  example: Updated — Wireless Headphones (revised price)
                expiryDate:
                  type: string
                  description: >-
                    Updated link expiry in `YYYY-MM-DD HH:mm:ss` format. Must be
                    a future datetime.
                  example: '2026-11-30 23:59:59'
                isPartialPaymentAllowed:
                  type: boolean
                  description: Enable or disable partial payment on the link.
                  example: true
                minAmountForCustomer:
                  type: integer
                  description: Updated minimum partial payment amount in INR.
                  example: 500
                viaEmail:
                  type: boolean
                  description: Resend the link to the customer's email address on record.
                  example: true
                viaSms:
                  type: boolean
                  description: Resend the link to the customer's phone number via SMS.
                  example: false
                viaWhatsapp:
                  type: boolean
                  description: Resend the link to the customer's phone number via WhatsApp.
                  example: false
            example:
              expiryDate: '2026-11-30 23:59:59'
              subAmount: 1999
      responses:
        '200':
          description: Request processed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: '`0` = success.'
                    example: 0
                  message:
                    type: string
                    example: Payment link updated successfully
                  result:
                    type: object
                    nullable: true
                    properties:
                      invoiceNumber:
                        type: string
                        example: ORD-2026-88421
                      paymentLink:
                        type: string
                        example: https://pp72.pmny.in/WxYzAbCdEfGh
                      totalAmount:
                        type: integer
                        example: 1999
                      active:
                        type: boolean
                        example: true
                      expiryDate:
                        type: string
                        example: '2026-11-30 23:59:59'
              examples:
                success:
                  summary: Link updated successfully
                  value:
                    status: 0
                    message: Payment link updated successfully
                    result:
                      invoiceNumber: ORD-2026-88421
                      paymentLink: https://pp72.pmny.in/WxYzAbCdEfGh
                      totalAmount: 1999
                      active: true
                      expiryDate: '2026-11-30 23:59:59'
        '400':
          description: >
            Validation or business-rule failure. The response body uses:

            - `status: -1`

            - `message`


            > **Note:** PayU Payment Links API always returns HTTP 200. This
            block documents error patterns returned when `status: -1`.


            **Update errors**


            <details>

            <summary>Payment link not found</summary>


            - **Code:** *(none)*

            - **Cause:** No link with the supplied `invoiceNumber` exists under
            this merchant account.

            - **Recommended fix:** Verify the `invoiceNumber` and environment
            (test vs. production).


            </details>


            <details>

            <summary>Cannot update a cancelled payment link</summary>


            - **Code:** *(none)*

            - **Cause:** The link has `active: false` — it was previously
            cancelled and cannot be reactivated.

            - **Recommended fix:** Create a new payment link instead.


            </details>


            <details>

            <summary>Cannot update a payment link that has already been
            paid</summary>


            - **Code:** *(none)*

            - **Cause:** A successful payment has been recorded against this
            link.

            - **Recommended fix:** No further updates are possible once payment
            is complete.


            </details>


            <details>

            <summary>expiryDate must be a future date</summary>


            - **Code:** *(none)*

            - **Cause:** The supplied `expiryDate` is in the past.

            - **Recommended fix:** Use a future `expiryDate` in `YYYY-MM-DD
            HH:mm:ss` format.


            </details>
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: -1
                  message:
                    type: string
                    example: Payment link not found.
                  result:
                    nullable: true
                    example: null
              examples:
                notFound:
                  summary: Link not found
                  value:
                    status: -1
                    message: Payment link not found.
                    result: null
                alreadyPaid:
                  summary: Link already paid
                  value:
                    status: -1
                    message: Cannot update a payment link that has already been paid.
                    result: null
                alreadyCancelled:
                  summary: Link already cancelled
                  value:
                    status: -1
                    message: Cannot update a cancelled payment link.
                    result: null
        '401':
          description: >
            Authentication failure.


            <details>

            <summary><code>invalid_token</code>: Access token is invalid or has
            expired</summary>


            - **Code:** `invalid_token`

            - **Cause:** The Bearer token is missing, malformed, expired, or has
            been revoked.

            - **Recommended fix:** Generate a new token via `POST /oauth/token`
            and retry.


            </details>


            <details>

            <summary><code>insufficient_scope</code>: Token missing required
            scope</summary>


            - **Code:** `insufficient_scope`

            - **Cause:** The token was issued without the scope required by this
            endpoint.

            - **Recommended fix:** Re-generate the token including the correct
            scope. See the Authentication overview for scope requirements per
            endpoint.


            </details>
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: invalid_token
                  error_description:
                    type: string
                    example: The access token is invalid or has expired.
              examples:
                expiredToken:
                  summary: Token expired or revoked
                  value:
                    error: invalid_token
                    error_description: The access token is invalid or has expired.
                insufficientScope:
                  summary: Missing required scope
                  value:
                    error: insufficient_scope
                    error_description: The access token does not have the required scope.
    delete:
      summary: Cancel Payment Link
      operationId: CancelPaymentLinkAPI
      description: >
        Deactivate an existing payment link so it can no longer accept payments.

        Sets `active` to `false` permanently — a cancelled link cannot be
        reactivated.


        **Restrictions:**

        - Cannot cancel a link that has already been fully paid.


        **Required scope:** `update_payment_links`
      tags:
        - Payment Links
      parameters:
        - name: Authorization
          in: header
          required: true
          description: >-
            Bearer token obtained from `POST /oauth/token`. Format: `Bearer
            {access_token}`
          schema:
            type: string
            example: Bearer {{access_token}}
        - name: merchantId
          in: header
          required: true
          description: Your PayU Merchant ID.
          schema:
            type: string
            example: '{{merchantId}}'
        - name: invoiceNumber
          in: path
          required: true
          description: The `invoiceNumber` of the payment link.
          schema:
            type: string
            example: ORD-2026-88421
      responses:
        '200':
          description: Request processed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: '`0` = success.'
                    example: 0
                  message:
                    type: string
                    example: Payment link cancelled successfully
                  result:
                    nullable: true
                    example: null
              examples:
                success:
                  summary: Link cancelled successfully
                  value:
                    status: 0
                    message: Payment link cancelled successfully
                    result: null
        '400':
          description: >
            Validation or business-rule failure. The response body uses:

            - `status: -1`

            - `message`


            > **Note:** PayU Payment Links API always returns HTTP 200. This
            block documents error patterns returned when `status: -1`.


            **Cancellation errors**


            <details>

            <summary>Payment link not found</summary>


            - **Code:** *(none)*

            - **Cause:** No link with the supplied `invoiceNumber` exists under
            this merchant account.

            - **Recommended fix:** Verify the `invoiceNumber` and environment
            (test vs. production).


            </details>


            <details>

            <summary>Payment link is already cancelled</summary>


            - **Code:** *(none)*

            - **Cause:** The link was previously cancelled and `active` is
            already `false`.

            - **Recommended fix:** No action needed — the link is already
            inactive.


            </details>


            <details>

            <summary>Cannot cancel a payment link that has already been
            paid</summary>


            - **Code:** *(none)*

            - **Cause:** A successful payment has been recorded against this
            link.

            - **Recommended fix:** Fully paid links cannot be cancelled. Use Get
            Transaction Details to retrieve payment information.


            </details>
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: -1
                  message:
                    type: string
                    example: Payment link is already cancelled.
                  result:
                    nullable: true
                    example: null
              examples:
                notFound:
                  summary: Link not found
                  value:
                    status: -1
                    message: Payment link not found.
                    result: null
                alreadyCancelled:
                  summary: Already cancelled
                  value:
                    status: -1
                    message: Payment link is already cancelled.
                    result: null
                alreadyPaid:
                  summary: Link already paid
                  value:
                    status: -1
                    message: Cannot cancel a payment link that has already been paid.
                    result: null
        '401':
          description: >
            Authentication failure.


            <details>

            <summary><code>invalid_token</code>: Access token is invalid or has
            expired</summary>


            - **Code:** `invalid_token`

            - **Cause:** The Bearer token is missing, malformed, expired, or has
            been revoked.

            - **Recommended fix:** Generate a new token via `POST /oauth/token`
            and retry.


            </details>


            <details>

            <summary><code>insufficient_scope</code>: Token missing required
            scope</summary>


            - **Code:** `insufficient_scope`

            - **Cause:** The token was issued without the scope required by this
            endpoint.

            - **Recommended fix:** Re-generate the token including the correct
            scope. See the Authentication overview for scope requirements per
            endpoint.


            </details>
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: invalid_token
                  error_description:
                    type: string
                    example: The access token is invalid or has expired.
              examples:
                expiredToken:
                  summary: Token expired or revoked
                  value:
                    error: invalid_token
                    error_description: The access token is invalid or has expired.
                insufficientScope:
                  summary: Missing required scope
                  value:
                    error: insufficient_scope
                    error_description: The access token does not have the required scope.
  /payment-links/{invoiceNumber}/notify:
    post:
      summary: Share Payment Link
      operationId: SharePaymentLinkAPI
      description: >
        Resend a payment link notification to a customer. At least one of
        `viaEmail`,

        `viaSms`, or `viaWhatsapp` must be `true`.


        The customer's contact details are taken from the values stored on the
        link

        at creation time.


        **Required scope:** `read_payment_links`
      tags:
        - Payment Links
      parameters:
        - name: Authorization
          in: header
          required: true
          description: >-
            Bearer token obtained from `POST /oauth/token`. Format: `Bearer
            {access_token}`
          schema:
            type: string
            example: Bearer {{access_token}}
        - name: merchantId
          in: header
          required: true
          description: Your PayU Merchant ID.
          schema:
            type: string
            example: '{{merchantId}}'
        - name: invoiceNumber
          in: path
          required: true
          description: The `invoiceNumber` of the payment link.
          schema:
            type: string
            example: ORD-2026-88421
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                viaEmail:
                  type: boolean
                  description: >-
                    Send the link to the email address stored on this payment
                    link.
                  example: true
                viaSms:
                  type: boolean
                  description: >-
                    Send the link to the phone number stored on this payment
                    link via SMS.
                  example: true
                viaWhatsapp:
                  type: boolean
                  description: >-
                    Send the link to the phone number stored on this payment
                    link via WhatsApp.
                  example: false
            example:
              viaEmail: true
              viaSms: true
              viaWhatsapp: false
      responses:
        '200':
          description: Request processed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: '`0` = success.'
                    example: 0
                  message:
                    type: string
                    example: Notification sent successfully
              examples:
                success:
                  summary: Notification sent
                  value:
                    status: 0
                    message: Notification sent successfully
        '400':
          description: >
            Validation or business-rule failure. The response body uses:

            - `status: -1`

            - `message`


            > **Note:** PayU Payment Links API always returns HTTP 200. This
            block documents error patterns returned when `status: -1`.


            **Share errors**


            <details>

            <summary>Payment link not found</summary>


            - **Code:** *(none)*

            - **Cause:** No link with the supplied `invoiceNumber` exists under
            this merchant account.

            - **Recommended fix:** Verify the `invoiceNumber` and environment.


            </details>


            <details>

            <summary>Email address not on record</summary>


            - **Code:** *(none)*

            - **Cause:** `viaEmail` was `true` but no `customer.email` was
            stored on this link at creation.

            - **Recommended fix:** Update the link with `customer.email` via
            Update Payment Link, then retry.


            </details>


            <details>

            <summary>Phone number not on record</summary>


            - **Code:** *(none)*

            - **Cause:** `viaSms` or `viaWhatsapp` was `true` but no
            `customer.phone` was stored on this link.

            - **Recommended fix:** Update the link with `customer.phone` via
            Update Payment Link, then retry.


            </details>


            <details>

            <summary>At least one notification channel must be
            selected</summary>


            - **Code:** *(none)*

            - **Cause:** All three channel flags were `false` or omitted.

            - **Recommended fix:** Set at least one of `viaEmail`, `viaSms`, or
            `viaWhatsapp` to `true`.


            </details>
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: -1
                  message:
                    type: string
                    example: Payment link not found.
              examples:
                notFound:
                  summary: Link not found
                  value:
                    status: -1
                    message: Payment link not found.
                noEmail:
                  summary: No email on record
                  value:
                    status: -1
                    message: Email address not on record for this payment link.
                noChannel:
                  summary: No channel selected
                  value:
                    status: -1
                    message: At least one notification channel must be selected.
        '401':
          description: >
            Authentication failure.


            <details>

            <summary><code>invalid_token</code>: Access token is invalid or has
            expired</summary>


            - **Code:** `invalid_token`

            - **Cause:** The Bearer token is missing, malformed, expired, or has
            been revoked.

            - **Recommended fix:** Generate a new token via `POST /oauth/token`
            and retry.


            </details>


            <details>

            <summary><code>insufficient_scope</code>: Token missing required
            scope</summary>


            - **Code:** `insufficient_scope`

            - **Cause:** The token was issued without the scope required by this
            endpoint.

            - **Recommended fix:** Re-generate the token including the correct
            scope. See the Authentication overview for scope requirements per
            endpoint.


            </details>
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: invalid_token
                  error_description:
                    type: string
                    example: The access token is invalid or has expired.
              examples:
                expiredToken:
                  summary: Token expired or revoked
                  value:
                    error: invalid_token
                    error_description: The access token is invalid or has expired.
                insufficientScope:
                  summary: Missing required scope
                  value:
                    error: insufficient_scope
                    error_description: The access token does not have the required scope.
  /payment-links/{invoiceNumber}/transactions:
    get:
      summary: Get Transaction Details
      operationId: GetTransactionDetailsAPI
      description: >
        Fetch all payment attempts — successful, failed, and pending — recorded
        against

        a payment link.


        Use this to verify payment completion, reconcile partial payments, or
        display

        payment history. An empty `result` array is a valid success response
        when no

        payments have been attempted yet.


        **Required scope:** `read_payment_links`
      tags:
        - Payment Links
      parameters:
        - name: Authorization
          in: header
          required: true
          description: >-
            Bearer token obtained from `POST /oauth/token`. Format: `Bearer
            {access_token}`
          schema:
            type: string
            example: Bearer {{access_token}}
        - name: merchantId
          in: header
          required: true
          description: Your PayU Merchant ID.
          schema:
            type: string
            example: '{{merchantId}}'
        - name: invoiceNumber
          in: path
          required: true
          description: The `invoiceNumber` of the payment link.
          schema:
            type: string
            example: ORD-2026-88421
      responses:
        '200':
          description: Request processed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: '`0` = success.'
                    example: 0
                  message:
                    type: string
                    example: success
                  result:
                    type: array
                    nullable: true
                    items:
                      type: object
                      properties:
                        txnid:
                          type: string
                          description: PayU's unique transaction ID.
                          example: '7019203456789'
                        amount:
                          type: number
                          description: Amount paid in this transaction, in INR.
                          example: 1499
                        status:
                          type: string
                          description: >
                            Transaction outcome.


                            - `success` — Payment was captured.

                            - `failure` — Payment was declined or failed.

                            - `pending` — Awaiting bank confirmation (common for
                            net banking and UPI).
                          example: success
                        mode:
                          type: string
                          description: >-
                            Payment mode: `UPI`, `CC` (credit card), `DC` (debit
                            card), `NB` (net banking), `ENACH`, etc.
                          example: UPI
                        paymentSource:
                          type: string
                          description: >-
                            Always `PaymentLink` for transactions originating
                            from a payment link.
                          example: PaymentLink
                        addedon:
                          type: string
                          description: >-
                            Timestamp when the transaction was recorded in
                            `YYYY-MM-DD HH:mm:ss`.
                          example: '2026-09-23 14:32:11'
              examples:
                successWithTransaction:
                  summary: Payment recorded
                  value:
                    status: 0
                    message: success
                    result:
                      - txnid: '7019203456789'
                        amount: 1499
                        status: success
                        mode: UPI
                        paymentSource: PaymentLink
                        addedon: '2026-09-23 14:32:11'
                partialPayments:
                  summary: Two partial payments
                  value:
                    status: 0
                    message: success
                    result:
                      - txnid: '7019203456789'
                        amount: 1000
                        status: success
                        mode: UPI
                        paymentSource: PaymentLink
                        addedon: '2026-09-23 14:32:11'
                      - txnid: '7019203456790'
                        amount: 499
                        status: success
                        mode: CC
                        paymentSource: PaymentLink
                        addedon: '2026-09-25 09:15:44'
                noTransactions:
                  summary: No payments yet
                  value:
                    status: 0
                    message: success
                    result: []
        '400':
          description: >
            Validation or business-rule failure. The response body uses:

            - `status: -1`

            - `message`


            > **Note:** PayU Payment Links API always returns HTTP 200. This
            block documents error patterns returned when `status: -1`.


            **Lookup errors**


            <details>

            <summary>Payment link not found</summary>


            - **Code:** *(none)*

            - **Cause:** No link with the supplied `invoiceNumber` exists under
            this merchant account.

            - **Recommended fix:** Verify the `invoiceNumber` and environment
            (test vs. production).


            </details>
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: -1
                  message:
                    type: string
                    example: Payment link not found.
                  result:
                    nullable: true
                    example: null
              examples:
                notFound:
                  summary: Link not found
                  value:
                    status: -1
                    message: Payment link not found.
                    result: null
        '401':
          description: >
            Authentication failure.


            <details>

            <summary><code>invalid_token</code>: Access token is invalid or has
            expired</summary>


            - **Code:** `invalid_token`

            - **Cause:** The Bearer token is missing, malformed, expired, or has
            been revoked.

            - **Recommended fix:** Generate a new token via `POST /oauth/token`
            and retry.


            </details>


            <details>

            <summary><code>insufficient_scope</code>: Token missing required
            scope</summary>


            - **Code:** `insufficient_scope`

            - **Cause:** The token was issued without the scope required by this
            endpoint.

            - **Recommended fix:** Re-generate the token including the correct
            scope. See the Authentication overview for scope requirements per
            endpoint.


            </details>
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: invalid_token
                  error_description:
                    type: string
                    example: The access token is invalid or has expired.
              examples:
                expiredToken:
                  summary: Token expired or revoked
                  value:
                    error: invalid_token
                    error_description: The access token is invalid or has expired.
                insufficientScope:
                  summary: Missing required scope
                  value:
                    error: insufficient_scope
                    error_description: The access token does not have the required scope.
