openapi: 3.0.0
info:
  title: PayU Payment Links API
  description: Create, manage, and share payment links programmatically.
  version: 1.0.0
servers:
  - url: https://uatoneapi.payu.in
    description: Test Environment
  - url: https://oneapi.payu.in
    description: Production Environment
tags:
  - name: Authentication
    description: Generate and revoke OAuth 2.0 Bearer tokens.
  - name: Payment Links
    description: Create, retrieve, update, share, and manage payment links.
paths:
  /payment-links:
    post:
      summary: Create a Payment Link
      operationId: CreatePaymentLinkAPI
      description: ''
      tags:
        - Payment Links
      parameters:
        - name: Authorization
          in: header
          required: true
          description: Bearer token generated using the Generate an Access Token API
          schema:
            type: string
            example: Bearer {{access_token}}
        - name: merchantId
          in: header
          required: true
          description: Your unique PayU merchant ID obtained from the dashboard.
          schema:
            type: string
            example: '{{merchantId}}'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - description
                - source
              properties:
                subAmount:
                  type: integer
                  description: >
                    The payment amount in whole INR. Below are the use
                    cases/scenarios:


                    - **Standard or Partial Payment:** This filed is required if
                    you want to collect a standard or partial payment. The value
                    should be be greater than 0.

                    - **Open Amount:** Do not pass this filed if you want your
                    customer to enter the amount. You should pass the
                    `isAmountFilledByCustomer` parameter value as `true` to
                    collect any open amount.

                    - **SI Recurring or eNACH:** Do not pass this filed if you
                    want to set up a collect payments. You should pass the
                    `siDetails.billingAmount` parameter for SI recurring or
                    eNACH.
                  example: 1499
                description:
                  type: string
                  description: >-
                    The purpose of the payment. This description is shown to the
                    customer on the checkout page. The maximum of `255`
                    characters are allowed.
                  example: 'Order #ORD-2026-88421 — Wireless Headphones'
                source:
                  type: string
                  description: >
                    Determines the link category. Possible values:


                    - `API`: For standard, open amount, or partial payment
                    links.

                    - `si_payment_link`: For SI recurring and eNACH mandate
                    registration links.
                  enum:
                    - API
                    - si_payment_link
                  example: API
                invoiceNumber:
                  type: string
                  description: >
                    Determines a unique reference ID of the link. The value
                    should be alphanumeric and maximum of 25 characters are
                    allowed. This value is auto-generated by PayU if not passed
                    and used as the path parameter in all subsequent Fetch,
                    Update, Share, and Cancel APIs.
                  example: ORD-2026-88421
                expiryDate:
                  type: string
                  description: >
                    The link expiry in `YYYY-MM-DD HH:mm:ss` format. Post this
                    date and time the link gets deactivated. Defaults to 7 days
                    from creation if not passed.
                  example: '2026-10-15 23:59:59'
                currency:
                  type: string
                  description: ISO 4217 currency code of the payment. Defaults to `INR`.
                  example: INR
                tax:
                  type: integer
                  description: The tax amount in INR added to `subAmount`. Defaults to 0.
                  example: 0
                shippingCharge:
                  type: integer
                  description: >-
                    The shipping charge in INR added to `subAmount`. Defaults to
                    0.
                  example: 0
                discount:
                  type: integer
                  description: >-
                    The discount amount in INR subtracted from `subAmount`.
                    Defaults to 0.
                  example: 0
                maxPaymentsAllowed:
                  type: integer
                  description: >-
                    The maximum successful payment attempts allowed. Defaults to
                    1.
                  example: 1
                isAmountFilledByCustomer:
                  type: boolean
                  description: >
                    You should pass this parameter and set the value as 'true`
                    for **Open Amount links only.**. Mutually exclusive with
                    `isPartialPaymentAllowed`.

                    When `true`, omit `subAmount`.
                  example: false
                isPartialPaymentAllowed:
                  type: boolean
                  description: >
                    You should pass this parameter and set the value as 'true`
                    for **Partial Payment links only.**. Mutually exclusive with

                    `isAmountFilledByCustomer`.
                  example: false
                minAmountForCustomer:
                  type: integer
                  description: >
                    Use this parameter for **Partial Payment links only.**
                    Determines the minimum amount (INR) the customer should pay
                    in the first transaction. Ignored unless
                    `isPartialPaymentAllowed` is `true`.
                  example: 500
                viaEmail:
                  type: boolean
                  description: Indicates whether to send the link via email on creation.
                  example: true
                viaSms:
                  type: boolean
                  description: Indicates whether to send the link as an SMS.
                  example: true
                viaWhatsapp:
                  type: boolean
                  description: Indicates whether to send the link via WhatsApp on creation.
                  example: false
                successURL:
                  type: string
                  description: >-
                    Determines the URL to redirect the customer after a
                    successful payment.
                  example: https://yourstore.com/payment/success
                failureURL:
                  type: string
                  description: >-
                    Determines the URL to redirect the customer after a failed
                    or cancelled payment.
                  example: https://yourstore.com/payment/failure
                enforcePayMethod:
                  type: string
                  description: >
                    You can restrict checkout to specific payment methods.
                    Separate multiple values with `|`. Possible values:

                    - `enach`: Renders the bank mandate registration flow.

                    - `cc|dc` (cards only)

                    - `upi` (UPI only)

                    - `nb` (net banking only).
                  example: cc|dc
                dropCategory:
                  type: string
                  description: >
                    Use this parameter to hide specific payment categories from
                    checkout. Separate values with `|`. For example: `"EMI"`
                    hides the EMI option.
                  example: EMI
                customer:
                  type: object
                  description: >-
                    The customer contact details. This is required when using
                    `viaEmail`, `viaSms`, or `viaWhatsapp` parameters.
                  properties:
                    name:
                      type: string
                      description: Customer's full name. Shown on the checkout page.
                      example: Arjun Mehta
                    email:
                      type: string
                      description: >-
                        Customer's email address. Required when `viaEmail` is
                        `true`.
                      example: arjun.mehta@example.com
                    phone:
                      type: string
                      description: >-
                        Customer's 10-digit mobile number. Required when
                        `viaSms` or `viaWhatsapp` is `true`.
                      example: '9876543210'
                address:
                  type: object
                  description: >-
                    The customer billing address stored against the link and
                    passed through to webhooks.
                  properties:
                    line1:
                      type: string
                      example: 42 MG Road
                    line2:
                      type: string
                      example: Indiranagar
                    city:
                      type: string
                      example: Bengaluru
                    state:
                      type: string
                      example: Karnataka
                    zipCode:
                      type: string
                      example: '560038'
                udf:
                  type: object
                  description: >
                    User-defined fields 1 to 5 (udf1, udf2 and so on) stored
                    against the link and passed through unchanged to webhook
                    callbacks. Use for internal order IDs, customer segments, or
                    campaign codes.
                  properties:
                    udf1:
                      type: string
                      example: electronics
                    udf2:
                      type: string
                      example: app-checkout
                    udf3:
                      type: string
                    udf4:
                      type: string
                    udf5:
                      type: string
                siDetails:
                  type: object
                  description: >
                    Use this parameter for **Required for SI Recurring and eNACH
                    links (`source: "si_payment_link"`).<br/>


                    Defines the recurring billing schedule. Omit for Standard,
                    Open Amount, and Partial Payment links.
                  properties:
                    billingAmount:
                      type: integer
                      description: Amount to debit on each billing cycle, in whole INR.
                      example: 2000
                    billingCycle:
                      type: string
                      description: |
                        Frequency of recurring debits.

                        Possible values: `DAILY`, `WEEKLY`, `MONTHLY`, `YEARLY`,
                        `BI_MONTHLY`, `QUARTERLY`, `HALF_YEARLY`, `AS_PRESENTED`
                      enum:
                        - DAILY
                        - WEEKLY
                        - MONTHLY
                        - YEARLY
                        - BI_MONTHLY
                        - QUARTERLY
                        - HALF_YEARLY
                        - AS_PRESENTED
                      example: MONTHLY
                    billingInterval:
                      type: integer
                      description: >-
                        Total number of billing cycles. E.g. `12` for a 12-month
                        monthly SIP.
                      example: 12
                    paymentStartDate:
                      type: string
                      description: Date of the first debit in `YYYY-MM-DD` format.
                      example: '2026-11-01'
                    paymentEndDate:
                      type: string
                      description: >-
                        Date of the last debit in `YYYY-MM-DD` format. Ignored
                        when `isNoExpiry` is `true`.
                      example: '2027-10-31'
                    isNoExpiry:
                      type: boolean
                      description: >
                        Set to `true` for an open-ended mandate with no fixed
                        end date.

                        When `true`, `paymentEndDate` is ignored.
                      example: false
                    isFreeTrial:
                      type: boolean
                      description: >-
                        Set to `true` to register the mandate without charging
                        the first instalment.
                      example: false
                    remarks:
                      type: string
                      description: >-
                        Merchant-facing notes for this subscription. Not shown
                        to the customer.
                      example: SIP — mutual fund folio 9104927822
                    bankDetails:
                      type: object
                      description: >
                        **Required for eNACH links** (`enforcePayMethod:
                        "enach"`).

                        Pre-fills the customer's bank details on the eNACH
                        registration form.

                        Omit for SI Recurring links.
                      properties:
                        bankCode:
                          type: string
                          description: >-
                            Bank identifier code. E.g. `SBIIN` for State Bank of
                            India.
                          example: SBIIN
                        bankAccountNumber:
                          type: string
                          description: Customer's bank account number.
                          example: '1234567890'
                        ifsc:
                          type: string
                          description: IFSC code of the specific branch.
                          example: SBIN0001234
                        accountType:
                          type: string
                          description: Type of bank account.
                          enum:
                            - SAVINGS
                            - CURRENT
                          example: SAVINGS
                    billingCurrency:
                      type: string
                      description: >-
                        ISO 4217 currency code for recurring billing. Defaults
                        to `INR`.
                      example: INR
                paymentDeadline:
                  type: string
                  description: >-
                    Determines the payment deadline in the `YYYY-MM-DD HH:mm:ss`
                    format. This is independent from the expiry date.
                  example: '2026-10-15 23:59:59'
                reminder:
                  type: object
                  description: >-
                    Schedule a notification before or after the
                    `paymentDeadline`. Set `isScheduled: true`, select the
                    timing with the `type` parameter value as `0` = before
                    deadline, or `1` = after, and list channels as `email`, and
                    `phone`.
                  properties:
                    isScheduled:
                      type: boolean
                      description: Whether a reminder is scheduled.
                      example: true
                    type:
                      type: integer
                      description: >-
                        `0` = before payment deadline; `1` = after payment
                        deadline.
                      example: 0
                    channels:
                      type: array
                      items:
                        type: string
                      description: 'Reminder channels. Supported values: `email`, `phone`.'
                      example:
                        - email
                        - phone
                whatsappRecipients:
                  type: array
                  description: >-
                    Send the link to up to 4 WhatsApp numbers at creation. Use
                    with `viaWhatsapp: true` and `whatsappTemplateName`. Each
                    entry must contain a `phone` field with 10-15 digits.
                  items:
                    type: object
                    properties:
                      phone:
                        type: string
                        description: 10-15 digit mobile number.
                        example: '9876543210'
                whatsappTemplateName:
                  type: string
                  description: >-
                    Determines the WhatsApp notification template name. Used
                    with `viaWhatsapp: true`.
                  example: '{{whatsappTemplateName}}'
                offerKey:
                  type: string
                  description: >-
                    Pass the offer or coupon identifier to attach a promotional
                    discount to the payment link. The value should contain
                    maximum of 255 characters.
                  example: '{{offerKey}}'
                blockDaysForPreAuthorizeLinks:
                  type: integer
                  description: >-
                    Determines the number of days to hold a pre-authorisation on
                    the customer payment method before capture.
                  example: 7
                beneficiarydetail:
                  type: object
                  description: >-
                    Specify up to 4 bank-account beneficiaries for NEFT or IMPS
                    payout flows. All four arrays must have the same entry
                    count. Every index position represents one beneficiary.
                  properties:
                    beneficiaryAccountNumber:
                      type: array
                      items:
                        type: string
                      description: Bank account numbers. Maximum 4 entries.
                    ifscCode:
                      type: array
                      items:
                        type: string
                      description: IFSC codes. Count must match `beneficiaryAccountNumber`.
                    beneficiaryName:
                      type: array
                      items:
                        type: string
                      description: Account-holder names.
                    beneficiaryAccountType:
                      type: array
                      items:
                        type: string
                      description: >-
                        Account types. Each value must be `SAVINGS` or
                        `CURRENT`.
                adjustment:
                  type: integer
                  description: >-
                    Determines the adjustment amount in INR applied to the
                    total.
                  example: 0
                batchId:
                  type: string
                  description: >-
                    Indicates the unique batch identifier for grouping multiple
                    payment links created together.
                  example: BATCH-2026-001
                scheduledFor:
                  type: string
                  description: >-
                    Determines the reason or reference note for scheduling this
                    payment link.
                emailTemplateName:
                  type: string
                  description: >-
                    The custom email template name to use when sending the link
                    via email.
                smsTemplateName:
                  type: string
                  description: >-
                    The custom SMS template name to use when sending the link
                    via SMS.
                timeUnit:
                  type: string
                  description: >-
                    The time unit qualifier used when specifying the
                    `expiryDate`.
                notes:
                  type: string
                  description: >-
                    The merchant-facing notes about the payment link. This note
                    is not shown to the customer.
                enforcePG:
                  type: string
                  description: >-
                    Use this to enforce a specific payment gateway. For example,
                    `CC` for credit card gateway.
                  example: CC
                userToken:
                  type: string
                  description: >-
                    Determines the user token for token-based customer
                    authentication flows.
                userCredentials:
                  type: string
                  description: >-
                    Determines user credentials string for credential-based
                    authentication flows.
                transactionId:
                  type: string
                  description: >-
                    The merchant-defined transaction ID to associate with the
                    payment link.
                  example: TXN-2026-88421
                validationPeriod:
                  type: string
                  description: Determines the validation period for the transaction.
                smsConfirm:
                  type: string
                  description: The SMS confirmation reference.
                isActive:
                  type: string
                  description: >-
                    Indicates whether the payment link is active. You should
                    pass the value as `true` if active.
                  example: 'true'
                cart_details:
                  type: object
                  description: >-
                    The cart details for itemised payment links including SKU
                    breakdown.
                  properties:
                    amount:
                      type: string
                      description: Total cart amount.
                    items:
                      type: string
                      description: Number of items in the cart.
                    sku_details:
                      type: array
                      description: Array of SKU detail objects.
                      items:
                        type: object
                        properties:
                          quantity:
                            type: integer
                          sku_id:
                            type: string
                          sku_name:
                            type: string
                          amount_per_sku:
                            type: integer
                          offer_key:
                            type: array
                            items:
                              type: string
                            description: One or more offer keys for this SKU.
                          offer_auto_apply:
                            type: boolean
                            description: Auto-apply the offer if `true`.
                aggregatorSplitInfo:
                  type: object
                  description: The split payment configuration for aggregator flows.
                  properties:
                    type:
                      type: string
                      description: 'Split type: `Absolute` or `Percentage`.'
                    splitInfo:
                      type: object
                      description: Split details object.
                additionalDetails:
                  type: object
                  description: The additional partner and payment configuration details.
                  properties:
                    partnerWebhookSuccessUrls:
                      type: string
                      description: >-
                        Partner webhook URL for successful payment. Separate
                        from merchant `successURL`. Maximum 512 characters.
                    partnerWebhookFailureUrls:
                      type: string
                      description: >-
                        Partner webhook URL for failed payment. Maximum 512
                        characters.
                    amountStatus:
                      type: string
                      description: Current payment status.
                      enum:
                        - UNPAID
                        - PARTIALLY_PAID
                        - FULLY_PAID
                        - OVERDUE
                    partialPaymentDeadline:
                      type: string
                      description: >-
                        Deadline for completing partial payments. Format:
                        `YYYY-MM-DD HH:mm:ss`.
                    sendWhatsapp:
                      type: boolean
                      description: Whether WhatsApp notification is enabled for this link.
                customAttributes:
                  type: array
                  description: >-
                    The array of custom key-value objects passed through to the
                    webhook payload unchanged. Useful for carrying merchant-side
                    metadata.
                  items:
                    type: object
                    properties:
                      key:
                        type: string
                        description: Attribute key.
                      value:
                        type: string
                        description: Attribute value.
            example:
              subAmount: 1499
              description: 'Order #ORD-2026-88421 — Wireless Headphones'
              source: API
              invoiceNumber: ORD-2026-88421
              expiryDate: '2026-10-15 23:59:59'
              currency: INR
              tax: 0
              shippingCharge: 0
              discount: 0
              maxPaymentsAllowed: 1
              isAmountFilledByCustomer: false
              isPartialPaymentAllowed: false
              minAmountForCustomer: 500
              viaEmail: true
              viaSms: true
              viaWhatsapp: false
              successURL: https://yourstore.com/payment/success
              failureURL: https://yourstore.com/payment/failure
              enforcePayMethod: cc|dc
              dropCategory: EMI
              customer:
                name: Arjun Mehta
                email: arjun.mehta@example.com
                phone: '9876543210'
              address:
                line1: 42 MG Road
                line2: Indiranagar
                city: Bengaluru
                state: Karnataka
                zipCode: '560038'
              udf:
                udf1: electronics
                udf2: app-checkout
                udf3: null
                udf4: null
                udf5: null
              siDetails:
                billingAmount: 2000
                billingCycle: MONTHLY
                billingInterval: 12
                paymentStartDate: '2026-11-01'
                paymentEndDate: '2027-10-31'
                isNoExpiry: false
                isFreeTrial: false
                remarks: SIP — mutual fund folio 9104927822
                bankDetails:
                  bankCode: SBIIN
                  bankAccountNumber: '1234567890'
                  ifsc: SBIN0001234
                  accountType: SAVINGS
              paymentDeadline: '2026-10-20 23:59:59'
              reminder:
                isScheduled: true
                type: 0
                channels:
                  - email
                  - phone
              offerKey: null
              blockDaysForPreAuthorizeLinks: null
              whatsappRecipients: null
              whatsappTemplateName: null
              beneficiarydetail: null
              additionalDetails:
                amountStatus: UNPAID
                sendWhatsapp: false
              customAttributes: []
              batchId: null
              notes: null
              adjustment: 0
              transactionId: null
              enforcePG: null
      responses:
        '200':
          description: Request processed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: '`0` = success.'
                    example: 0
                  message:
                    type: string
                    description: Human-readable response message.
                    example: paymentLink generated
                  result:
                    type: object
                    nullable: true
                    description: The created Payment Link object.
                    properties:
                      invoiceNumber:
                        type: string
                        description: >-
                          Unique identifier. Use as the path parameter in Fetch,
                          Update, Share, and Cancel.
                        example: ORD-2026-88421
                      paymentLink:
                        type: string
                        description: The shareable URL to send to your customer.
                        example: https://pp72.pmny.in/WxYzAbCdEfGh
                      totalAmount:
                        type: integer
                        description: >-
                          `subAmount + tax + shippingCharge`. `null` for Open
                          Amount and SI/eNACH links.
                        example: 1499
                      active:
                        type: boolean
                        description: '`true` if the link is live and accepting payment.'
                        example: true
                      expiryDate:
                        type: string
                        description: Link expiry in `YYYY-MM-DD HH:mm:ss`.
                        example: '2026-10-15 23:59:59'
                      subAmount:
                        type: integer
                        description: Base payment amount in INR.
                        example: 1499
                      tax:
                        type: integer
                        description: Tax amount in INR.
                        example: 0
                      shippingCharge:
                        type: integer
                        description: Shipping charge in INR.
                        example: 0
                      description:
                        type: string
                        description: Payment purpose as set at creation.
                        example: 'Order #ORD-2026-88421'
                      isPartialPaymentAllowed:
                        type: boolean
                        description: '`true` if partial payments are enabled.'
                        example: false
                      emailStatus:
                        type: string
                        description: >-
                          `sent` if email was dispatched. `not opted` if
                          `viaEmail` was false.
                        example: not opted
                      smsStatus:
                        type: string
                        description: >-
                          `sent` if SMS was dispatched. `not opted` if `viaSms`
                          was false.
                        example: not opted
                      udf:
                        type: object
                        nullable: true
                        description: >-
                          User-defined fields stored at creation. Returns `null`
                          if not provided.
                        properties:
                          udf1:
                            type: string
                            nullable: true
                          udf2:
                            type: string
                            nullable: true
                          udf3:
                            type: string
                            nullable: true
                          udf4:
                            type: string
                            nullable: true
                          udf5:
                            type: string
                            nullable: true
                      address:
                        type: object
                        nullable: true
                        description: >-
                          Address stored at creation. Returns `null` if not
                          provided.
                        properties:
                          line1:
                            type: string
                            nullable: true
                          line2:
                            type: string
                            nullable: true
                          city:
                            type: string
                            nullable: true
                          state:
                            type: string
                            nullable: true
                          zipCode:
                            type: string
                            nullable: true
                  errorCode:
                    type: string
                    nullable: true
                    example: null
                  guid:
                    type: string
                    nullable: true
                    description: Request identifier. Returns `null` if not applicable.
                    example: null
              examples:
                success:
                  summary: Link created successfully
                  value:
                    status: 0
                    message: paymentLink generated
                    result:
                      invoiceNumber: ORD-2026-88421
                      paymentLink: https://pp72.pmny.in/WxYzAbCdEfGh
                      totalAmount: 1499
                      active: true
                      expiryDate: '2026-10-15 23:59:59'
                      subAmount: 1499
                      tax: 0
                      shippingCharge: 0
                      description: 'Order #ORD-2026-88421'
                      isPartialPaymentAllowed: false
                      emailStatus: not opted
                      smsStatus: not opted
                      udf:
                        udf1: null
                        udf2: null
                        udf3: null
                        udf4: null
                        udf5: null
                      address:
                        line1: null
                        line2: null
                        city: null
                        state: null
                        zipCode: null
                    errorCode: null
                    guid: null
        '400':
          description: >-
            Validation or business-rule failure. The response body uses `status:
            -1`, a human-readable `message`, and `result: null`.


            > **Note:** PayU Payment Links API always returns HTTP 200. This
            block documents the error body patterns returned when `status: -1`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: Always `-1` for error responses.
                    example: -1
                  message:
                    type: string
                    description: Human-readable error message.
                    example: description is required.
                  result:
                    nullable: true
                    description: Always `null` for error responses.
                    example: null
                  errorCode:
                    type: string
                    nullable: true
                    description: Error code, when applicable.
                    example: null
              examples:
                missingDescription:
                  summary: Missing description
                  value:
                    status: -1
                    message: description is required.
                    result: null
                    errorCode: null
                duplicateInvoice:
                  summary: Duplicate invoiceNumber
                  value:
                    status: -1
                    message: >-
                      Invoice Number already exists. Please enter new invoice
                      number.
                    result: null
                    errorCode: null
                missingPhone:
                  summary: Phone required for SMS
                  value:
                    status: -1
                    message: >-
                      customer phone is required when viaSms or viaWhatsapp is
                      true.
                    result: null
                    errorCode: null
        '401':
          description: Authentication failure.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: invalid_token
                  error_description:
                    type: string
                    example: The access token is invalid or has expired.
              examples:
                expiredToken:
                  summary: Token expired or revoked
                  value:
                    error: invalid_token
                    error_description: The access token is invalid or has expired.
                insufficientScope:
                  summary: Missing required scope
                  value:
                    error: insufficient_scope
                    error_description: The access token does not have the required scope.
    get:
      summary: Fetch All Payment Links
      operationId: FetchAllPaymentLinksAPI
      description: ''
      tags:
        - Payment Links
      parameters:
        - name: Authorization
          in: header
          required: true
          description: >-
            Bearer token generated by calling the Generate an Access Token in
            the `Bearer {access_token}` format.
          schema:
            type: string
            example: Bearer {{access_token}}
        - name: merchantId
          in: header
          required: true
          description: The unique PayU merchant ID.
          schema:
            type: string
            example: '{{merchantId}}'
        - name: status
          in: query
          required: false
          description: >-
            The status of the link to filter the list by their current state.
            Possible values:


            - `active`: Links that are live and can still accept payment.

            - `expired`: Links whose `expiryDate` has passed.

            - `cancelled`: Links deactivated by the merchant.<br/>


            You can choose not to pass this parameter to return all links
            regardless of state.
          schema:
            type: string
            enum:
              - active
              - expired
              - cancelled
        - name: pageNumber
          in: query
          required: false
          description: The page number (1-indexed). Defaults to `1`.
          schema:
            type: integer
            default: 1
            example: 1
        - name: pageSize
          in: query
          required: false
          description: >-
            Records displayed per page. Minimum `1`, maximum `50`. Defaults to
            `10`.
          schema:
            type: integer
            default: 10
            example: 10
      responses:
        '200':
          description: Request processed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: >-
                      Determines the status whether payment links are fetched.
                      Possible values:

                      - `0`: success.
                    example: 0
                    default: ''
                  message:
                    type: string
                    example: success
                    description: The message displayed.
                  result:
                    type: object
                    nullable: true
                    properties:
                      total:
                        type: integer
                        description: The total number of matching links across all pages.
                        example: 42
                      pageNumber:
                        type: integer
                        example: 1
                        description: The current page number
                      pageSize:
                        type: integer
                        example: 10
                        description: Determines the number of entries in the page.
                      paymentLinksList:
                        type: object
                        properties:
                          invoiceNumber:
                            type: string
                            description: >-
                              The unique invoice number of the fetched payment
                              link.
                          description:
                            type: string
                            description: >-
                              The description of the payment link displayed in
                              the checkout.
                          createDate:
                            type: string
                            format: date-time
                            description: >-
                              The date and time on which the payment link was
                              created.
                          paymentLinkURL:
                            type: string
                            description: >-
                              The actual payment link URL used to make the
                              payment.
                          customerName:
                            type: string
                            description: The customer name.
                          amount:
                            type: number
                            format: float
                            description: The amount associated with the link.
                          active:
                            type: boolean
                            description: >-
                              Determines whether the link is active. Possible
                              values:

                              - `true`: The link is active

                              - `false`: The link is inactive
                          expiry:
                            type: string
                            format: date-time
                            description: The expiry date and time of the link.
                          isAmountFilledByCustomer:
                            type: boolean
                            description: >-
                              Determines whether the amount to be filled by the
                              customer.

                              - `true`: The amount will be filled by the
                              customer

                              - `false`: The amount will not be filled by the
                              customer
                          status:
                            type: boolean
                            description: |-
                              The status of the link. Possible values:
                              - `true`
                              - `false`
                        description: The list of payment links.
                    description: Contains the fetch result details.
              examples:
                success:
                  summary: Results returned
                  value:
                    status: 0
                    message: success
                    result:
                      total: 2
                      pageNumber: 1
                      pageSize: 10
                      data:
                        - invoiceNumber: ORD-2026-88421
                          paymentLink: https://pp72.pmny.in/WxYzAbCdEfGh
                          description: 'Order #ORD-2026-88421'
                          totalAmount: 1499
                          active: true
                          expiryDate: '2026-10-15 23:59:59'
                        - invoiceNumber: DON-2026-001
                          paymentLink: https://pp72.pmny.in/DonAbCdEf
                          description: Donation — Help us plant 1,000 trees
                          totalAmount: null
                          active: true
                          expiryDate: '2026-12-31 23:59:59'
        '400':
          description: >-
            Validation failure. The response body uses `status: -1` and
            `message`.


            > **Note:** PayU Payment Links API always returns HTTP 200. This
            block documents error patterns returned when `status: -1`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: -1
                  message:
                    type: string
                    example: Invalid pageSize. Must be between 1 and 50.
                  result:
                    nullable: true
                    example: null
              examples:
                invalidPageSize:
                  summary: Invalid pageSize
                  value:
                    status: -1
                    message: Invalid pageSize. Must be between 1 and 50.
                    result: null
        '401':
          description: Authentication failure.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: invalid_token
                  error_description:
                    type: string
                    example: The access token is invalid or has expired.
              examples:
                expiredToken:
                  summary: Token expired or revoked
                  value:
                    error: invalid_token
                    error_description: The access token is invalid or has expired.
                insufficientScope:
                  summary: Missing required scope
                  value:
                    error: insufficient_scope
                    error_description: The access token does not have the required scope.
  /payment-links/{invoiceNumber}:
    delete:
      summary: Cancel Payment Link
      operationId: CancelPaymentLinkAPI
      description: >
        Deactivate an existing payment link so it can no longer accept payments.

        Sets `active` to `false` permanently — a cancelled link cannot be
        reactivated.


        **Restrictions:**

        - Cannot cancel a link that has already been fully paid.


        **Required scope:** `update_payment_links`
      tags:
        - Payment Links
      parameters:
        - name: Authorization
          in: header
          required: true
          description: >-
            Bearer token obtained from `POST /oauth/token`. Format: `Bearer
            {access_token}`
          schema:
            type: string
            example: Bearer {{access_token}}
        - name: merchantId
          in: header
          required: true
          description: Your PayU Merchant ID.
          schema:
            type: string
            example: '{{merchantId}}'
        - name: invoiceNumber
          in: path
          required: true
          description: The `invoiceNumber` of the payment link.
          schema:
            type: string
            example: ORD-2026-88421
      responses:
        '200':
          description: Request processed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: '`0` = success.'
                    example: 0
                  message:
                    type: string
                    example: Payment link cancelled successfully
                  result:
                    nullable: true
                    example: null
              examples:
                success:
                  summary: Link cancelled successfully
                  value:
                    status: 0
                    message: Payment link cancelled successfully
                    result: null
        '400':
          description: >-
            Validation or business-rule failure. The response body uses `status:
            -1` and `message`.


            > **Note:** PayU Payment Links API always returns HTTP 200. This
            block documents error patterns returned when `status: -1`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: -1
                  message:
                    type: string
                    example: Payment link is already cancelled.
                  result:
                    nullable: true
                    example: null
              examples:
                notFound:
                  summary: Link not found
                  value:
                    status: -1
                    message: Payment link not found.
                    result: null
                alreadyCancelled:
                  summary: Already cancelled
                  value:
                    status: -1
                    message: Payment link is already cancelled.
                    result: null
                alreadyPaid:
                  summary: Link already paid
                  value:
                    status: -1
                    message: Cannot cancel a payment link that has already been paid.
                    result: null
        '401':
          description: Authentication failure.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: invalid_token
                  error_description:
                    type: string
                    example: The access token is invalid or has expired.
              examples:
                expiredToken:
                  summary: Token expired or revoked
                  value:
                    error: invalid_token
                    error_description: The access token is invalid or has expired.
                insufficientScope:
                  summary: Missing required scope
                  value:
                    error: insufficient_scope
                    error_description: The access token does not have the required scope.
    get:
      summary: Fetch a Payment Link
      operationId: FetchPaymentLinkAPI
      description: ''
      tags:
        - Payment Links
      parameters:
        - name: Authorization
          in: header
          required: true
          description: >-
            The bearer token obtained by calling the Generate an Access Token
            API in the `Bearer {access_token}` format.
          schema:
            type: string
            example: Bearer {{access_token}}
        - name: merchantId
          in: header
          required: true
          description: Your unique PayU Merchant ID.
          schema:
            type: string
            example: '{{merchantId}}'
        - name: invoiceNumber
          in: path
          required: true
          description: The unique invoice number of the payment link.
          schema:
            type: string
            example: ORD-2026-88421
      responses:
        '200':
          description: Request processed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: '`0` = success.'
                    example: 0
                  message:
                    type: string
                    example: success
                    description: Any message about the search.
                  result:
                    type: object
                    nullable: true
                    description: The fetched payment link details.
                    properties:
                      invoiceNumber:
                        type: string
                        example: ORD-2026-88421
                        description: The unique invoice number.
                      paymentLink:
                        type: string
                        example: https://pp72.pmny.in/WxYzAbCdEfGh
                        description: The link shared to the customer to collect the payment
                      description:
                        type: string
                        example: 'Order #ORD-2026-88421 — Wireless Headphones'
                        description: >-
                          The payment link description displayed on the
                          checkout.
                      subAmount:
                        type: integer
                        example: 1499
                        description: Any sub-amount to be collected.
                      tax:
                        type: integer
                        example: 0
                        description: The tax imposed.
                      shippingCharge:
                        type: integer
                        example: 0
                        description: The shipping charges if any.
                      totalAmount:
                        type: integer
                        example: 1499
                        description: The total amount a customer should pay.
                      active:
                        type: boolean
                        description: >-
                          Determines whether the link is active. Possible
                          values:

                          - `true`: The link is active

                          - `false`: The link is inactive
                        example: true
                      isPartialPaymentAllowed:
                        type: boolean
                        example: false
                        description: Indicates whether partial payment is allowed.
                      expiryDate:
                        type: string
                        example: '2026-10-15 23:59:59'
                        description: The expiry date of the link.
                      emailStatus:
                        type: string
                        description: >-
                          `sent` if email was dispatched at creation. `not
                          opted` if `viaEmail` was false.
                        example: sent
                      smsStatus:
                        type: string
                        description: >-
                          `sent` if SMS was dispatched at creation. `not opted`
                          if `viaSms` was false.
                        example: not opted
              examples:
                success:
                  summary: Link found
                  value:
                    status: 0
                    message: success
                    result:
                      invoiceNumber: ORD-2026-88421
                      paymentLink: https://pp72.pmny.in/WxYzAbCdEfGh
                      description: 'Order #ORD-2026-88421 — Wireless Headphones'
                      subAmount: 1499
                      tax: 0
                      shippingCharge: 0
                      totalAmount: 1499
                      active: true
                      isPartialPaymentAllowed: false
                      expiryDate: '2026-10-15 23:59:59'
                      source: API
                      emailStatus: sent
                      smsStatus: not opted
        '400':
          description: >-
            Validation or business-rule failure. The response body uses `status:
            -1` and `message`.


            > **Note:** PayU Payment Links API always returns HTTP 200. This
            block documents error patterns returned when `status: -1`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: -1
                  message:
                    type: string
                    example: Payment link not found.
                  result:
                    nullable: true
                    example: null
              examples:
                notFound:
                  summary: Link not found
                  value:
                    status: -1
                    message: Payment link not found.
                    result: null
        '401':
          description: Authentication failure.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: invalid_token
                  error_description:
                    type: string
                    example: The access token is invalid or has expired.
              examples:
                expiredToken:
                  summary: Token expired or revoked
                  value:
                    error: invalid_token
                    error_description: The access token is invalid or has expired.
                insufficientScope:
                  summary: Missing required scope
                  value:
                    error: insufficient_scope
                    error_description: The access token does not have the required scope.
    put:
      summary: Update a Payment Link
      operationId: UpdatePaymentLinkAPI
      description: ''
      tags:
        - Payment Links
      parameters:
        - name: Authorization
          in: header
          required: true
          description: >-
            Bearer token generated by calling the Generate an Access Token API
            in the `Bearer {access_token}` format.
          schema:
            type: string
            example: Bearer {{access_token}}
        - name: merchantId
          in: header
          required: true
          description: Your unique PayU Merchant ID.
          schema:
            type: string
            example: '{{merchantId}}'
        - name: invoiceNumber
          in: path
          required: true
          description: >-
            The unique invoice number of the payment link use to fetch the
            payment link.
          schema:
            type: string
            example: ORD-2026-88421
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: >-
                Only pass the fields you want to change. All fields are
                optional.
              properties:
                subAmount:
                  type: integer
                  description: >-
                    The updated base amount in INR.


                    **Note:** You cannot reduce this amount below any amount
                    already collected on a partial payment link.
                  example: 1999
                description:
                  type: string
                  description: >-
                    The updated payment purpose description. The value can
                    contain maximum of 255 characters.
                  example: Updated — Wireless Headphones (revised price)
                expiryDate:
                  type: string
                  description: >-
                    The updated link expiry in `YYYY-MM-DD HH:mm:ss` format.
                    This should be a future datetime.
                  example: '2026-11-30 23:59:59'
                isPartialPaymentAllowed:
                  type: boolean
                  description: Use to enable or disable partial payment on the link.
                  example: true
                minAmountForCustomer:
                  type: integer
                  description: The updated minimum partial payment amount in INR.
                  example: 500
                viaEmail:
                  type: boolean
                  description: Resend the link to the customer's email address on record.
                  example: true
                viaSms:
                  type: boolean
                  description: Resend the link to the customer's phone number via SMS.
                  example: false
                viaWhatsapp:
                  type: boolean
                  description: Resend the link to the customer's phone number via WhatsApp.
                  example: false
            example:
              expiryDate: '2026-11-30 23:59:59'
              subAmount: 1999
      responses:
        '200':
          description: Request processed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: '`0` = success.'
                    example: 0
                  message:
                    type: string
                    example: Payment link updated successfully
                  result:
                    type: object
                    nullable: true
                    properties:
                      invoiceNumber:
                        type: string
                        example: ORD-2026-88421
                        description: The unique invoice number of the payment link.
                      paymentLink:
                        type: string
                        example: https://pp72.pmny.in/WxYzAbCdEfGh
                        description: The URL (payment link) used to make the payment.
                      totalAmount:
                        type: integer
                        example: 1999
                        description: The total amount associated with the payment link.
                      active:
                        type: boolean
                        example: true
                        description: Indicates whether the link is active.
                      expiryDate:
                        type: string
                        example: '2026-11-30 23:59:59'
                        description: The expiry date and time of the link.
              examples:
                success:
                  summary: Link updated successfully
                  value:
                    status: 0
                    message: Payment link updated successfully
                    result:
                      invoiceNumber: ORD-2026-88421
                      paymentLink: https://pp72.pmny.in/WxYzAbCdEfGh
                      totalAmount: 1999
                      active: true
                      expiryDate: '2026-11-30 23:59:59'
        '400':
          description: >-
            Validation or business-rule failure. The response body uses `status:
            -1` and `message`.


            > **Note:** PayU Payment Links API always returns HTTP 200. This
            block documents error patterns returned when `status: -1`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: -1
                  message:
                    type: string
                    example: Payment link not found.
                  result:
                    nullable: true
                    example: null
              examples:
                notFound:
                  summary: Link not found
                  value:
                    status: -1
                    message: Payment link not found.
                    result: null
                alreadyPaid:
                  summary: Link already paid
                  value:
                    status: -1
                    message: Cannot update a payment link that has already been paid.
                    result: null
                alreadyCancelled:
                  summary: Link already cancelled
                  value:
                    status: -1
                    message: Cannot update a cancelled payment link.
                    result: null
        '401':
          description: Authentication failure.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: invalid_token
                  error_description:
                    type: string
                    example: The access token is invalid or has expired.
              examples:
                expiredToken:
                  summary: Token expired or revoked
                  value:
                    error: invalid_token
                    error_description: The access token is invalid or has expired.
                insufficientScope:
                  summary: Missing required scope
                  value:
                    error: insufficient_scope
                    error_description: The access token does not have the required scope.
  /payment-links/{invoiceNumber}/notify:
    post:
      summary: Share Payment Link
      operationId: SharePaymentLinkAPI
      description: >
        Resend a payment link notification to a customer. At least one of
        `viaEmail`,

        `viaSms`, or `viaWhatsapp` must be `true`.


        The customer's contact details are taken from the values stored on the
        link

        at creation time.


        **Required scope:** `read_payment_links`
      tags:
        - Payment Links
      parameters:
        - name: Authorization
          in: header
          required: true
          description: >-
            Bearer token obtained from `POST /oauth/token`. Format: `Bearer
            {access_token}`
          schema:
            type: string
            example: Bearer {{access_token}}
        - name: merchantId
          in: header
          required: true
          description: Your PayU Merchant ID.
          schema:
            type: string
            example: '{{merchantId}}'
        - name: invoiceNumber
          in: path
          required: true
          description: The `invoiceNumber` of the payment link.
          schema:
            type: string
            example: ORD-2026-88421
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                viaEmail:
                  type: boolean
                  description: >-
                    Send the link to the email address stored on this payment
                    link.
                  example: true
                viaSms:
                  type: boolean
                  description: >-
                    Send the link to the phone number stored on this payment
                    link via SMS.
                  example: true
                viaWhatsapp:
                  type: boolean
                  description: >-
                    Send the link to the phone number stored on this payment
                    link via WhatsApp.
                  example: false
            example:
              viaEmail: true
              viaSms: true
              viaWhatsapp: false
      responses:
        '200':
          description: Request processed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: '`0` = success.'
                    example: 0
                  message:
                    type: string
                    example: Notification sent successfully
              examples:
                success:
                  summary: Notification sent
                  value:
                    status: 0
                    message: Notification sent successfully
        '400':
          description: >-
            Validation or business-rule failure. The response body uses `status:
            -1` and `message`.


            > **Note:** PayU Payment Links API always returns HTTP 200. This
            block documents error patterns returned when `status: -1`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: -1
                  message:
                    type: string
                    example: Payment link not found.
              examples:
                notFound:
                  summary: Link not found
                  value:
                    status: -1
                    message: Payment link not found.
                noEmail:
                  summary: No email on record
                  value:
                    status: -1
                    message: Email address not on record for this payment link.
                noChannel:
                  summary: No channel selected
                  value:
                    status: -1
                    message: At least one notification channel must be selected.
        '401':
          description: Authentication failure.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: invalid_token
                  error_description:
                    type: string
                    example: The access token is invalid or has expired.
              examples:
                expiredToken:
                  summary: Token expired or revoked
                  value:
                    error: invalid_token
                    error_description: The access token is invalid or has expired.
                insufficientScope:
                  summary: Missing required scope
                  value:
                    error: insufficient_scope
                    error_description: The access token does not have the required scope.
  /payment-links/{invoiceNumber}/transactions:
    get:
      summary: Get Transaction Details
      operationId: GetTransactionDetailsAPI
      description: >
        Fetch all payment attempts — successful, failed, and pending — recorded
        against

        a payment link.


        Use this to verify payment completion, reconcile partial payments, or
        display

        payment history. An empty `result` array is a valid success response
        when no

        payments have been attempted yet.


        **Required scope:** `read_payment_links`
      tags:
        - Payment Links
      parameters:
        - name: Authorization
          in: header
          required: true
          description: >-
            Bearer token obtained from `POST /oauth/token`. Format: `Bearer
            {access_token}`
          schema:
            type: string
            example: Bearer {{access_token}}
        - name: merchantId
          in: header
          required: true
          description: Your PayU Merchant ID.
          schema:
            type: string
            example: '{{merchantId}}'
        - name: invoiceNumber
          in: path
          required: true
          description: The `invoiceNumber` of the payment link.
          schema:
            type: string
            example: ORD-2026-88421
      responses:
        '200':
          description: Request processed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: '`0` = success.'
                    example: 0
                  message:
                    type: string
                    example: success
                  result:
                    type: array
                    nullable: true
                    items:
                      type: object
                      properties:
                        txnid:
                          type: string
                          description: PayU's unique transaction ID.
                          example: '7019203456789'
                        amount:
                          type: number
                          description: Amount paid in this transaction, in INR.
                          example: 1499
                        status:
                          type: string
                          description: >
                            Transaction outcome.


                            - `success` — Payment was captured.

                            - `failure` — Payment was declined or failed.

                            - `pending` — Awaiting bank confirmation (common for
                            net banking and UPI).
                          example: success
                        mode:
                          type: string
                          description: >-
                            Payment mode: `UPI`, `CC` (credit card), `DC` (debit
                            card), `NB` (net banking), `ENACH`, etc.
                          example: UPI
                        paymentSource:
                          type: string
                          description: >-
                            Always `PaymentLink` for transactions originating
                            from a payment link.
                          example: PaymentLink
                        addedon:
                          type: string
                          description: >-
                            Timestamp when the transaction was recorded in
                            `YYYY-MM-DD HH:mm:ss`.
                          example: '2026-09-23 14:32:11'
              examples:
                successWithTransaction:
                  summary: Payment recorded
                  value:
                    status: 0
                    message: success
                    result:
                      - txnid: '7019203456789'
                        amount: 1499
                        status: success
                        mode: UPI
                        paymentSource: PaymentLink
                        addedon: '2026-09-23 14:32:11'
                partialPayments:
                  summary: Two partial payments
                  value:
                    status: 0
                    message: success
                    result:
                      - txnid: '7019203456789'
                        amount: 1000
                        status: success
                        mode: UPI
                        paymentSource: PaymentLink
                        addedon: '2026-09-23 14:32:11'
                      - txnid: '7019203456790'
                        amount: 499
                        status: success
                        mode: CC
                        paymentSource: PaymentLink
                        addedon: '2026-09-25 09:15:44'
                noTransactions:
                  summary: No payments yet
                  value:
                    status: 0
                    message: success
                    result: []
        '400':
          description: >-
            Validation or business-rule failure. The response body uses `status:
            -1` and `message`.


            > **Note:** PayU Payment Links API always returns HTTP 200. This
            block documents error patterns returned when `status: -1`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: -1
                  message:
                    type: string
                    example: Payment link not found.
                  result:
                    nullable: true
                    example: null
              examples:
                notFound:
                  summary: Link not found
                  value:
                    status: -1
                    message: Payment link not found.
                    result: null
        '401':
          description: Authentication failure.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: invalid_token
                  error_description:
                    type: string
                    example: The access token is invalid or has expired.
              examples:
                expiredToken:
                  summary: Token expired or revoked
                  value:
                    error: invalid_token
                    error_description: The access token is invalid or has expired.
                insufficientScope:
                  summary: Missing required scope
                  value:
                    error: insufficient_scope
                    error_description: The access token does not have the required scope.
  /oauth/revoke:
    post:
      summary: Revoke a Token
      operationId: RevokeTokenAPI
      description: ''
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - client_id
                - client_secret
                - token
              properties:
                client_id:
                  type: string
                  description: The `client_id` of the OAuth app that issued the token.
                  example: '{{client_id}}'
                client_secret:
                  type: string
                  description: The `client_secret` of the OAuth app that issued the token.
                  example: '{{client_secret}}'
                token:
                  type: string
                  description: The `access_token` value to invalidate.
                  example: '{{access_token}}'
            examples:
              basic:
                summary: Revoke a token
                value:
                  client_id: '{{client_id}}'
                  client_secret: '{{client_secret}}'
                  token: '{{access_token}}'
      responses:
        '200':
          description: Token revoked successfully.
          content:
            application/json:
              examples:
                OK:
                  summary: OK
                  value: |-
                    HTTP/1.1 200 OK
                    Content-Length: 0
        '401':
          description: Authentication failure.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: invalid_client
                  error_description:
                    type: string
                    example: Client authentication failed.
              examples:
                invalidClient:
                  summary: Invalid credentials
                  value:
                    error: invalid_client
                    error_description: >-
                      Client authentication failed due to unknown client, no
                      client authentication included, or unsupported
                      authentication method.
                invalidToken:
                  summary: Token already invalid
                  value:
                    error: invalid_token
                    error_description: The token is invalid or has already been revoked.
      servers:
        - url: https://uat-accounts.payu.in
          description: Test Environment
        - url: https://accounts.payu.in
          description: Production Environment
      security: []
  /oauth/token:
    post:
      summary: Generate an Access Token
      operationId: GetAccessTokenAPI
      description: ''
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - client_id
                - client_secret
                - grant_type
                - scope
              properties:
                client_id:
                  type: string
                  description: |
                    Your unique client ID obtained from the dashboard.
                  example: '{{client_id}}'
                client_secret:
                  type: string
                  description: |
                    Your unique client secret obtained from the dashboard.
                  example: '{{client_secret}}'
                grant_type:
                  type: string
                  description: >
                    Determines the OAuth 2.0 grant type. You should always pass
                    this value as `client_credentials` for server-to-server
                    Payment Links integrations.
                  example: client_credentials
                  enum:
                    - client_credentials
                scope:
                  type: string
                  description: >
                    A space-separated list of scopes the token should carry. You
                    can request all three in a single call as shown below:


                    `create_payment_links update_payment_links
                    read_payment_links`<br/>


                    | Scope | Grants access to |

                    | :--- | :--- |

                    | `create_payment_links` | Create Payment Link |

                    | `update_payment_links` | Update / Cancel Payment Link |

                    | `read_payment_links` | Fetch Payment Link · Fetch All
                    Payment Links · Share Payment Link · Get Transaction Details
                    |
                  example: create_payment_links update_payment_links read_payment_links
            examples:
              allScopes:
                summary: Token with all three scopes
                value:
                  client_id: '{{client_id}}'
                  client_secret: '{{client_secret}}'
                  grant_type: client_credentials
                  scope: create_payment_links update_payment_links read_payment_links
              createOnly:
                summary: Token for creating links only
                value:
                  client_id: '{{client_id}}'
                  client_secret: '{{client_secret}}'
                  grant_type: client_credentials
                  scope: create_payment_links
      responses:
        '200':
          description: Token generated successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: >-
                      Bearer token to use in the `Authorization` header of all
                      Payment Links API calls.
                    example: >-
                      ea4ed864b4d2a04b90c1e987a5d25a5da1d43fa5f7d123be6814a1e973f196c4
                  token_type:
                    type: string
                    description: Always `Bearer`.
                    example: Bearer
                  expires_in:
                    type: integer
                    description: Token validity in seconds. Typically `7200` (2 hours).
                    example: 7200
                  scope:
                    type: string
                    description: The scopes granted to this token.
                    example: >-
                      create_payment_links update_payment_links
                      read_payment_links
                  created_at:
                    type: integer
                    description: |
                      Unix timestamp of token creation.
                      Token expiry = `created_at + expires_in`.
                    example: 1763036368
              examples:
                success:
                  summary: Token generated
                  value:
                    access_token: >-
                      ea4ed864b4d2a04b90c1e987a5d25a5da1d43fa5f7d123be6814a1e973f196c4
                    token_type: Bearer
                    expires_in: 7200
                    scope: >-
                      create_payment_links update_payment_links
                      read_payment_links
                    created_at: 1763036368
        '400':
          description: >-
            Invalid request parameters. The response body uses the standard
            OAuth error format.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: OAuth error code.
                    example: invalid_scope
                  error_description:
                    type: string
                    description: Human-readable error description.
                    example: The requested scope is invalid, unknown, or malformed.
              examples:
                invalidScope:
                  summary: Unknown scope value
                  value:
                    error: invalid_scope
                    error_description: The requested scope is invalid, unknown, or malformed.
                unsupportedGrant:
                  summary: Wrong grant type
                  value:
                    error: unsupported_grant_type
                    error_description: >-
                      The authorization grant type is not supported by the
                      authorization server.
        '401':
          description: Client authentication failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: invalid_client
                  error_description:
                    type: string
                    example: Client authentication failed.
              examples:
                invalidClient:
                  summary: Invalid credentials
                  value:
                    error: invalid_client
                    error_description: >-
                      Client authentication failed due to unknown client, no
                      client authentication included, or unsupported
                      authentication method.
                rateLimited:
                  summary: Rate limit exceeded
                  value:
                    error: rate_limit_exceeded
                    error_description: >-
                      Too many token requests. Cache your token and retry after
                      the cooldown period.
      servers:
        - url: https://uat-accounts.payu.in
          description: Test Environment
        - url: https://accounts.payu.in
          description: Production Environment
      security: []
